<div class="_main-content" ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
    <div class="_main-content-body">
        <div class="md-whiteframe-z1 md-padding">
            <h3><span class="bubble primary">Review Task</span> <span ng-if="vm.review.review_data">Review of </span>
                Task #{{vm.review.task_worker.task }} {{vm.review.task_worker.task_data.project_data.name}}
            </h3>

            <span seconds-counter seconds-spent="vm.review.time_spent" ng-hide="true"></span>

            <h4>Description</h4>

            <div ng-repeat="item in vm.review.task_worker.task_data.template.template_items">
                <div>{{ item.position }}) {{item.aux_attributes.question.value}}</div>
                <div ng-if="vm.hasOptions(item)">
                    <div style="margin-left: 20px" class="_review-content"
                         ng-repeat="option in item.aux_attributes.options">
                        <md-icon ng-if="item.type=='radio'" class="_icon-18" md-font-set="material-icons">
                            radio_button_unchecked
                        </md-icon>
                        <md-icon ng-if="item.type=='checkbox'" class="_icon-18" md-font-set="material-icons">
                            check_box_outline_blank
                        </md-icon>
                        <span ng-if="item.type=='select_list'" class="_select-index">{{$index+1 + '.'}}</span>
                        {{ option.value }}
                    </div>
                </div>
            </div>

            <h4>Worker's Response</h4>

            <div class="boxed">
                <div class="_result"
                     ng-repeat="result in vm.review.task_worker.task_worker_results">
                    {{ vm.getQuestionNumber(result) }}) {{vm.getResult(result)}}
                </div>
            </div>

            <div ng-if="vm.review.review_data">
                <h4>Reviewer's Response</h4>

                <div class="boxed">
                    <strong>1) How would you rate this submission?</strong>

                    <p>{{vm.review.review_data.rating_text}}</p>

                    <strong>2) If you were the requester, would you accept this?</strong>

                    <p>{{vm.review.review_data.is_acceptable?'Yes': 'No' }}</p>

                    <strong>3) If this was your work, how would you improve it?</strong>

                    <p>{{vm.review.review_data.comment}}</p>
                </div>
            </div>

            <hr style="height:0;border:0; border-top:1px solid #ddd;margin-top: 20px"/>

            <form name="form" ng-submit="vm.submit(form.$valid)" novalidate>
                <div layout="row" flex>

                    <div flex>
                        <h4>How would you rate this submission?</h4>

                        <md-radio-group ng-model="vm.review.rating" ng-required="true">
                            <md-radio-button value="{{$index+1}}" class="md-primary"
                                             ng-repeat="rating in vm.review_ratings"> {{rating}}
                            </md-radio-button>
                            <!--<md-radio-button value="2"> Appropriate for Level-->
                            <!--{{vm.review.task_worker_result.task_worker_data.worker_level}}-->
                            <!--</md-radio-button>-->
                            <!--<md-radio-button value="3"> Good enough work to endorse for Level-->
                            <!--{{vm.review.task_worker_result.task_worker_data.worker_level+1}}-->
                            <!--</md-radio-button>-->
                            <!--<md-radio-button value="4"> Good enough work to endorse for Level-->
                            <!--{{vm.review.task_worker_result.task_worker_data.worker_level+2}}-->
                            <!--</md-radio-button>-->
                        </md-radio-group>
                    </div>
                    <div flex>
                        <h4>If you were the requester, would you accept this?</h4>

                        <md-radio-group ng-model="vm.review.is_acceptable" ng-required="true" layout="row">
                            <md-radio-button value=1 class="md-primary"> Yes</md-radio-button>
                            <md-radio-button value=0> No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>If this was your work, how would you improve it?</label>
                        <textarea ng-model="vm.review.comment" columns="1" md-maxlength="8000"
                                  ng-minlength="10"
                                  ng-required="true"></textarea>
                    </md-input-container>
                </div>

                <div layout="row" class="task-actions" layout-align="end center">

                    <md-button type="submit" tabindex="0">Submit</md-button>
                    <md-button href="http://daemo-forum-s.herokuapp.com/" target="_blank" tabindex="0">Discuss</md-button>
                    <md-button ng-click="vm.skip()" tabindex="0">Skip</md-button>

                </div>

            </form>

        </div>
    </div>

</div>
