<div class="home">
    <div layout="row" style="background-color: rgba(255,255,255,0.5);" class="light">
        <div flex="25" flex-md="35" flex-lg="55" layout="row">
            <div style="margin: 12px 5px 0px 16px;">
                <a href="www.daemo.org">
                    <svg class="_nav-logo _small _element" viewBox="0 0 88 125" enable-background="new 0 0 88 125">
                        <g>
                            <path d="M69.4,64.5c1.2,4.9,1.9,9.8,1.9,14.6c0,17.8-13.1,28.9-26.7,28.9C26,108,16.7,92.7,16.7,81
  c0-14,9.6-26.7,27.9-26.7c6.5,0,12.6,1.3,18.1,3.7c1.1,0.5,2.2,1.1,3.4,1.8C64.7,55.4,62,47.6,58,40.1c-0.3-0.1-0.5-0.2-0.8-0.2
  c-3.9-1.1-8.1-1.7-12.6-1.7C14.9,38.2,0.8,61.3,0.8,81c0,19.7,14.7,43,43.8,43c30.3,0,42.2-27.4,42.2-43c0-0.1,0-0.1,0-0.2
  C82.3,74.1,75.7,68,69.4,64.5z"/>
                            <path d="M56.2,35.3c0.1,0.2,0.2,0.3,0.3,0.5c6.8,1.8,15.7,6.5,22.8,12.1C71.4,28.6,59.5,11.7,53.6,6.1
  c-8.2-8-16.1-3-20.2,2.2C37.4,12.3,48.1,22.6,56.2,35.3z"/>
                        </g>
                    </svg>
                </a>
            </div>
            <h2 class="logo"><a href="www.daemo.org">DAEMO</a></h2>
        </div>
        <div layout="row" layout-align="end center" flex class="navbar">
            <md-button class="md-link" ng-hide="isLoggedIn" ui-sref="auth.login">Sign in</md-button>
            <md-button class="md-link highlighted" ng-hide="isLoggedIn" ui-sref="auth.register">Get Started
            </md-button>
            <md-button class="md-link" ng-show="isLoggedIn" ui-sref="my_projects">Requester Status</md-button>
        </div>
    </div>

    <div ui-view="content" style="background-color: white"></div>
</div>
