<div style="">
  <md-button class="md-raised" style="background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0 0;
    min-height: 28px;
    min-width: 128px;
    line-height: 28px;
    margin: 15px;
    position: absolute;
    right: 110px;">Learn more
  </md-button>
  <md-button class="md-raised" style="background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0 0;
    min-height: 28px;
    line-height: 28px;
    margin: 15px;
    position: absolute;
    right: 0px;">Login
  </md-button>
</div>
<div class="_homepage _gradient" style="background: linear-gradient(
      rgba(46, 8, 84, 1),
      rgba(0, 0, 0, 0.85)
    ), url(/static/images/faces2.jpg);">
  <div class="_body">
    <svg class="_nav-logo _medium _element" viewBox="0 0 88 125" enable-background="new 0 0 88 125">
      <g>
        <path d="M69.4,64.5c1.2,4.9,1.9,9.8,1.9,14.6c0,17.8-13.1,28.9-26.7,28.9C26,108,16.7,92.7,16.7,81
		c0-14,9.6-26.7,27.9-26.7c6.5,0,12.6,1.3,18.1,3.7c1.1,0.5,2.2,1.1,3.4,1.8C64.7,55.4,62,47.6,58,40.1c-0.3-0.1-0.5-0.2-0.8-0.2
		c-3.9-1.1-8.1-1.7-12.6-1.7C14.9,38.2,0.8,61.3,0.8,81c0,19.7,14.7,43,43.8,43c30.3,0,42.2-27.4,42.2-43c0-0.1,0-0.1,0-0.2
		C82.3,74.1,75.7,68,69.4,64.5z"/>
        <path d="M56.2,35.3c0.1,0.2,0.2,0.3,0.3,0.5c6.8,1.8,15.7,6.5,22.8,12.1C71.4,28.6,59.5,11.7,53.6,6.1
		c-8.2-8-16.1-3-20.2,2.2C37.4,12.3,48.1,22.6,56.2,35.3z"/>
      </g>
    </svg>
    <!--<div class="_name" style="font-size: 72px;font-weight: 400;font-family: 'Kaushan Script', cursive;text-transform: lowercase;">daemo</div>-->
    <div style="font-size: 42px;font-weight: 400;font-family: Roboto,Arial;">harness <i><strong>crowd</strong></i><br>for
      big <i><strong>data</strong></i> problems
    </div>
    <div class="_form" ng-cloak="" style="margin-top:50px">
      <div>
        <md-input-container md-no-float="" style="max-width: 320px;">
          <input placeholder="Your email address" autofocus autocomplete="off" spellcheck="false" style="width:284px">
        </md-input-container>
        <md-button class="md-button md-raised" style="background-color: #FFC333;margin: 1px 0 0 -6px;height: 41px;font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;">Get Started
        </md-button>
      </div>
    </div>

    <div style="font-size: 32px;font-weight: 400;font-family: Roboto,Arial;">Post a task. Get
      <i><strong>accurate</strong></i> data.
    </div>

    <div style="font-size: 28px;font-weight: 100;font-family: 'Helvetica Neue', Arial;margin-top: 5px">It can't be
      simpler than that!
    </div>

    <div style="max-width: 800px; margin:0 auto; margin-top: 30px">
      <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="top" md-stretch-tabs="always" style="min-height: 500px;">
        <md-tab id="tab1">
          <md-tab-label><span>Nano News</span><br><span style="font-size: 11px">Using simple graphical interface</span></md-tab-label>
          <md-tab-body>
            <img src="https://stamplay.com/images/gif/flows.gif" style="width: 100%;height:450px;">
          </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
          <md-tab-label><span>Reality Check</span><br><span style="font-size: 11px">Using node.js API</span></md-tab-label>
          <md-tab-body>
            <img src="https://stamplay.com/images/gif/flows.gif" style="width: 100%;height:450px;">
          </md-tab-body>
        </md-tab>
        <md-tab id="tab3">
          <md-tab-label><span>NYTimes Emojified</span><br><span style="font-size: 11px">Using Python API</span></md-tab-label>
          <md-tab-body>
            <img src="https://stamplay.com/images/gif/flows.gif" style="width: 100%;height:450px;">
          </md-tab-body>
        </md-tab>
        <md-tab id="tab4" class="highlight">
          <md-tab-label>Create a task</md-tab-label>
          <md-tab-body>
            <img src="https://stamplay.com/images/gif/flows.gif" style="width: 100%;height:450px;">
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
<div style="background-color: #FFC333; min-height: 300px;color:white" layout="row" layout-align="center">
  <div layout="row" style="max-width: 1050px;padding-top: 20px;padding-bottom: 20px;" layout-align="space-between center">
    <div layout="column">
      <img src="/static/images/research.png" style="max-width: 150px;
    margin-left: 125px;">
      <h4 style="text-align: center;margin-bottom: 8px;text-shadow: 2px 1px 3px rgba(0,0,0,0.3);">Research-driven platform</h4>
      <p style="text-align: center;margin-top:0px; font-weight: 500;line-height: 22px;    text-shadow: 2px 1px 3px rgba(0,0,0,0.5);">Designed by Stanford Crowd Collective keeping requester and worker expectations at heart</p>
    </div>
    <div layout="column">
      <img src="/static/images/crowd.png" style="max-width: 150px;
    margin-left: 90px;">
      <h4 style="text-align: center;margin-bottom: 8px;text-shadow: 2px 1px 3px rgba(0,0,0,0.3);">Filter best workers for your task</h4>
      <p style="text-align: center;margin-top:0px; font-weight: 500;line-height: 22px;    text-shadow: 2px 1px 3px rgba(0,0,0,0.5);">Employ workers you rate higher often and fallback to others when they are busy</p>
    </div>
    <div layout="column">
      <img src="/static/images/quality.png" style="max-width: 150px;
    margin-left: 75px;">
      <h4 style="text-align: center;margin-bottom: 8px;text-shadow: 2px 1px 3px rgba(0,0,0,0.3);">Ensure high quality results</h4>
      <p style="text-align: center;margin-top:0px; font-weight: 500;line-height: 22px;    text-shadow: 2px 1px 3px rgba(0,0,0,0.5);">Iterative improvements in task design using feedback to achieve best output</p>
    </div>
    </div>
</div>
<div style="background-color: #303030; min-height: 50px;color:white">
  <div layout="row" layout-align="center">
      <md-button>About Us</md-button>
      <md-button>Research</md-button>
      <md-button>Privacy Policy</md-button>
      <md-button>Terms</md-button>
      <md-button>Contact Us</md-button>
  </div>
</div>
