<div class="home">
  <div class="bg-network">
    <div layout="row" style="background-color: rgba(255,255,255,0.5);" class="light">
      <div flex="55" layout="row">
        <div style="margin: 12px 5px 0px 16px;">
          <svg class="_nav-logo _small _element" viewBox="0 0 88 125" enable-background="new 0 0 88 125">
            <g>
              <path d="M69.4,64.5c1.2,4.9,1.9,9.8,1.9,14.6c0,17.8-13.1,28.9-26.7,28.9C26,108,16.7,92.7,16.7,81
		c0-14,9.6-26.7,27.9-26.7c6.5,0,12.6,1.3,18.1,3.7c1.1,0.5,2.2,1.1,3.4,1.8C64.7,55.4,62,47.6,58,40.1c-0.3-0.1-0.5-0.2-0.8-0.2
		c-3.9-1.1-8.1-1.7-12.6-1.7C14.9,38.2,0.8,61.3,0.8,81c0,19.7,14.7,43,43.8,43c30.3,0,42.2-27.4,42.2-43c0-0.1,0-0.1,0-0.2
		C82.3,74.1,75.7,68,69.4,64.5z"/>
              <path d="M56.2,35.3c0.1,0.2,0.2,0.3,0.3,0.5c6.8,1.8,15.7,6.5,22.8,12.1C71.4,28.6,59.5,11.7,53.6,6.1
		c-8.2-8-16.1-3-20.2,2.2C37.4,12.3,48.1,22.6,56.2,35.3z"/>
            </g>
          </svg>
        </div>
        <h2>DAEMO</h2>
      </div>
      <div layout="row" layout-align="end center" flex="45" class="navbar">
        <md-button class="md-link" scroll-to-div scroll-to="#about_us">About us</md-button>
        <md-button class="md-link" scroll-to-div scroll-to="#how_it_works">How it works</md-button>
        <md-button class="md-link" scroll-to-div scroll-to="#integrate_api">Python API</md-button>
        <md-button class="md-link" href="/forum" target="_blank">Forum</md-button>
        <!--<md-button class="md-link" scroll-to-div scroll-to="#demos">Demos</md-button>-->
        <!--<md-button class="md-link" ng-hide="isLoggedIn" ng-click="vm.goTo('auth.register')">Create Account</md-button>-->
        <md-button class="md-link muted" ng-hide="isLoggedIn" ng-click="vm.goTo('auth.login')">Sign in</md-button>
        <md-button class="md-link highlighted" ng-hide="isLoggedIn" scroll-to-div scroll-to="#get_started">Get
          Started</md-button>
        <md-button class="md-link" ng-show="isLoggedIn" ng-click="vm.goTo('my_projects')">My
          Projects</md-button>
      </div>
    </div>

    <div class="light section" style="background-color: rgba(255,255,255,0);min-height: 720px" layout="row"
         layout-align="center">
      <div style="text-align: center;margin-top: 150px">
        <svg class="_nav-logo _medium _element" viewBox="0 0 88 125" enable-background="new 0 0 88 125">
          <g>
            <path d="M69.4,64.5c1.2,4.9,1.9,9.8,1.9,14.6c0,17.8-13.1,28.9-26.7,28.9C26,108,16.7,92.7,16.7,81
		c0-14,9.6-26.7,27.9-26.7c6.5,0,12.6,1.3,18.1,3.7c1.1,0.5,2.2,1.1,3.4,1.8C64.7,55.4,62,47.6,58,40.1c-0.3-0.1-0.5-0.2-0.8-0.2
		c-3.9-1.1-8.1-1.7-12.6-1.7C14.9,38.2,0.8,61.3,0.8,81c0,19.7,14.7,43,43.8,43c30.3,0,42.2-27.4,42.2-43c0-0.1,0-0.1,0-0.2
		C82.3,74.1,75.7,68,69.4,64.5z"/>
            <path d="M56.2,35.3c0.1,0.2,0.2,0.3,0.3,0.5c6.8,1.8,15.7,6.5,22.8,12.1C71.4,28.6,59.5,11.7,53.6,6.1
		c-8.2-8-16.1-3-20.2,2.2C37.4,12.3,48.1,22.6,56.2,35.3z"/>
          </g>
        </svg>

        <h2>DAEMO</h2>
        <h1 style="margin-top:40px;margin-bottom:75px;font-size: 2em;">Easier and Equitable Crowdsourcing</h1>

        <!--<p>A crowdsourcing platform that just works without babysitting</p>-->

        <md-button class="dark action" scroll-to-div scroll-to="#about_us">Post Tasks</md-button>
        <md-button class="light action" scroll-to-div scroll-to="#how_it_works">Do Tasks</md-button>
      </div>
    </div>
  </div>
  <div class="dark section" id="about_us" style="min-height: 580px">
    <div layout="row" layout-align="center">
      <div>
        <h1 class="heading">Daemo results will automatically improve</h1>
        <h2 class="sub-heading">Workers who do your tasks well are rewarded with early access.<br/>Over time
          workers you identify complete most of your work.</h2>
      </div>
    </div>
    <div layout="row" layout-align="center">
      <div flex="75">
        <md-tabs class="dark" md-stretch-tabs="always" md-center-tabs="true" md-swipe-content="true">
          <md-tab label="Predicting Reddit popularity">
            <md-content class="md-padding">
              <div layout="row" layout-align="center">
                <div flex="60">
                  <p class="light-text" style="text-align: center">We scrape new jokes posted to Reddit, and ask workers
                    to predict which one will become the most popular.
                    Workers with correct answers get early access to the next batch of joke prediction tasks.
                  </p>
                </div>
              </div>
              <div layout="row" layout-align="center">
                <div flex="70">
                  <img src="/static/images/reddit2.png" style="width: 100%">
                </div>
              </div>
              <div layout="row" layout-align="center">
                <md-button class="md-link light-text" ng-click="vm.goTo('demo.reddit')">See the demo in
                  action</md-button>
              </div>

            </md-content>
          </md-tab>
          <md-tab label="Web-page labelling">
            <md-content class="md-padding">
              <div layout="row" layout-align="center">
                <div flex="60">
                  <p class="light-text" style="text-align: center">We give workers different webpages, and ask them to identify what each webpage is about. Workers with correct answers get early access to the next batch of webpage labelling tasks.
                  </p>
                </div>
              </div>
              <div layout="row" layout-align="center">
                <div flex="70">
                  <img src="/static/images/reddit.png" style="width: 100%">
                </div>
              </div>
              <div layout="row" layout-align="center">
                <md-button class="md-link light-text" ng-click="vm.goTo('demo.webpage')">See the demo in action</md-button>
              </div>

            </md-content>
          </md-tab>
          <md-tab label="Spot the difference">
            <md-content class="md-padding">
              <div layout="row" layout-align="center">
                <div flex="60">
                  <p class="light-text" style="text-align: center">We give workers pairs of images, and ask them to identify the difference between them or determine that they are the same. Workers with correct answers get early access to the next batch of "spot the difference" tasks.
                  </p>
                </div>
              </div>
              <div layout="row" layout-align="center">
                <div flex="70">
                  <img src="/static/images/reddit.png" style="width: 100%">
                </div>
              </div>
              <div layout="row" layout-align="center">
                <md-button class="md-link light-text" ng-click="vm.goTo('demo.difference')">See the demo in action</md-button>
              </div>

            </md-content>
          </md-tab>
          <md-tab label="Image Classification">
            <md-content class="md-padding">
              <div layout="row" layout-align="center">
                <div flex="60">
                  <p class="light-text" style="text-align: center">We give workers images and ask them to specify what category each image falls under. Workers with correct answers get early access to the next batch of image classification tasks.
                  </p>
                </div>
              </div>
              <div layout="row" layout-align="center">
                <div flex="70">
                  <img src="/static/images/reddit.png" style="width: 100%">
                </div>
              </div>
              <div layout="row" layout-align="center">
                <md-button class="md-link light-text" ng-click="vm.goTo('demo.images')">See the demo in action</md-button>
              </div>

            </md-content>
          </md-tab>
          <md-tab label="Marijuana Legalization">
            <md-content class="md-padding">
              <div layout="row" layout-align="center">
                <div flex="60">
                  <p class="light-text" style="text-align: center">We give workers links to different websites, and ask them to identify if each website is pro or against marijuana legalization. Workers with correct answers get early access to the next batch of marijuana legalization tasks.
                  </p>
                </div>
              </div>
              <div layout="row" layout-align="center">
                <div flex="70">
                  <img src="/static/images/reddit.png" style="width: 100%">
                </div>
              </div>
              <div layout="row" layout-align="center">
                <md-button class="md-link light-text" ng-click="vm.goTo('demo.marijuana')">See the demo in action</md-button>
              </div>

            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
  <div class="light section" id="how_it_works">
    <div layout="row" layout-align="center">
      <div>
        <h1 class="heading">A crowdsourcing platform governed by its users. You.</h1>
        <h2 class="sub-heading">Daemo's constitution determines how the platform evolves.</h2>
      </div>
    </div>
    <div layout="row" layout-align="center">
      <div flex="40">
        <img src="/static/images/constitution.png" style="width: 100%">
      </div>
    </div>
    <div layout="row" layout-align="center">
      <md-button class="md-link"
                 href="https://crowdresearch.github.io/open-gov/constitution/2016/11/21/constitution.html"
                 target="_blank">Read
        Daemo's constitution</md-button>
    </div>
  </div>
  <div class="dark section" id="integrate_api">
    <!--<div flex="45" layout="row" layout-align="center top">-->
    <!--<div layout="column">-->
    <!--<img src="/static/images/trumpify.png" style="max-width: 380px;margin-top:2.5em">-->
    <!--<h4 style="margin-top: 5px">Project Authoring Interface</h4>-->
    <!--</div>-->
    <!--</div>-->

    <div layout="row" layout-align="center">
      <h1 class="heading">Python API</h1>
    </div>


    <div layout="row" layout-align="center">

      <div style="width:390px">
        <h2 style="text-align: center">Publish tasks</h2>
        <!-- HTML generated using hilite.me -->
        <div style="background: transparent; overflow:auto;width:auto;padding:.2em .6em;"><pre
          style="margin: 0; line-height: 125%">
client.<strong>publish</strong>(
    project_key<span style="color: #fff">=</span>PROJECT_KEY,
    tasks<span
          style="color: #fff">=</span>TASKS,
    approve<span style="color: #fff">=</span>approve_correct_response,
    completed<span style="color: #fff">=</span>rate_workers
)
</pre>
        </div>

      </div>
      <div style="width:390px">
        <h2 style="text-align: center">Rate workers</h2>

        <!-- HTML generated using hilite.me -->
        <div style="background: transparent; overflow:auto;width:auto;padding:.2em .6em;"><pre
          style="margin: 0; line-height: 125%">
    client.<strong>rate</strong>(
        project_key<span style="color: #fff">=</span>PROJECT_KEY, ratings<span
          style="color: #fff">=</span>RATINGS
    )
</pre>
        </div>
      </div>

    </div>

    <div layout="row" layout-align="center">
      <md-button class="md-button dark" href="http://daemo-api-client.readthedocs.io/en/latest/" target="_blank">How to
        use our
        API</md-button>
    </div>
  </div>

  <div class="light section small" id="get_started">
    <div>
      <h1 class="heading">Try Daemo</h1>
    </div>

    <div layout="row" layout-align="center">
      <form class="md-inline-form">
        <md-input-container>
          <label>Email</label>
          <input ng-model="email">
        </md-input-container>
        <md-button style="margin-top: -20px;">Try now</md-button>
      </form>
    </div>

    <!--<div style="padding: 30px 0;">-->
    <!--<md-button class="md-button md-raised dark" ng-click="vm.goTo('auth.register')">Join Daemo</md-button>-->
    <!--</div>-->
  </div>
</div>
</div>
