<div class="_header" layout="row" ng-cloak>
    <md-toolbar class="_main-toolbar">
        <div class="md-toolbar-tools" flex>
            <div flex="25" flex-gt-sm="15" layout="row" layout-align="start center">
                <a ui-sref="home" href="">
                    <svg class="_nav-logo" viewBox="0 0 88 125" enable-background="new 0 0 88 125">
                        <g>
                            <path d="M69.4,64.5c1.2,4.9,1.9,9.8,1.9,14.6c0,17.8-13.1,28.9-26.7,28.9C26,108,16.7,92.7,16.7,81
		c0-14,9.6-26.7,27.9-26.7c6.5,0,12.6,1.3,18.1,3.7c1.1,0.5,2.2,1.1,3.4,1.8C64.7,55.4,62,47.6,58,40.1c-0.3-0.1-0.5-0.2-0.8-0.2
		c-3.9-1.1-8.1-1.7-12.6-1.7C14.9,38.2,0.8,61.3,0.8,81c0,19.7,14.7,43,43.8,43c30.3,0,42.2-27.4,42.2-43c0-0.1,0-0.1,0-0.2
		C82.3,74.1,75.7,68,69.4,64.5z"/>
                            <path d="M56.2,35.3c0.1,0.2,0.2,0.3,0.3,0.5c6.8,1.8,15.7,6.5,22.8,12.1C71.4,28.6,59.5,11.7,53.6,6.1
		c-8.2-8-16.1-3-20.2,2.2C37.4,12.3,48.1,22.6,56.2,35.3z"/>
                        </g>
                    </svg>
                </a>
            </div>
            <div flex layout="row" layout-align="end center">
                <nav class="_nav">
                    <ul class="_nav-list-items">
                        <li class="_nav-list-item" ng-if="vm.account.is_worker">
                            <a ui-sref="messages" ui-sref-active="_active"><span
                                    ng-class="{'_notification': vm.hasNewMessages, '': !vm.hasNewMessages}"
                                    >Messages</span></a>
                        </li>
                        <li class="_nav-list-item" ng-if="vm.account.is_worker">
                            <a ui-sref="my_tasks" ui-sref-active="_active">My Tasks</a>
                        </li>
                        <li class="_nav-list-item">
                            <a ui-sref="task_feed" ui-sref-active="_active">Task Feed</a>
                        </li>
                        <li class="_nav-list-item" ng-if="vm.account.is_requester">
                            <a ui-sref="my_projects" ui-sref-active="_active">My Projects</a>
                        </li>
                        <li class="_nav-list-item">
                            <a ui-sref="profile" ui-sref-active="_active"><span
                                    >{{ vm.account.first_name }}</span></a>
                        </li>
                        <li class="_nav-list-item">
                            <md-menu>
                                <md-button class="_nav-actions" ng-click="$mdOpenMenu()">
                                    <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button class="md-no-ink md-primary" ui-sref="change_password">
                                            Change Password
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button class="md-no-ink md-primary" ng-click="vm.logout()">
                                            Logout
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </md-toolbar>
</div>