<div class="_chat-overlay md-whiteframe-z1">
    <div class="_chat-header _active">
        <md-icon class="_icon" md-font-set="material-icons">mail_outline</md-icon>
        <span class="_user">a.ginzberg</span>
        <md-icon class="_toggle" md-font-set="material-icons">keyboard_arrow_up</md-icon>
    </div>
    <div class="_chat-body">
        <div class="_overlay-messages">
            <div class="_list">
                <div>aaaa</div>
                <div>aaaa</div>
                <div>aaaa</div>
                <div>aaaa</div>
                <div>aaaa</div>
                <div>aaaa</div>
                <div>aaaa</div>
            </div>
        </div>
        <div class="_overlay-input-wrapper">
            <md-input-container md-no-float class="md-block"
                                style="margin-top: 2px; margin-bottom: 2px;">
                <textarea ng-disabled="inbox.isInputDisabled()" md-enter="inbox.sendMessage()" class="_message-input _overlay-input"
                          ng-model="inbox.newMessage"
                          placeholder="Type a message ..."></textarea>
            </md-input-container>
        </div>
    </div>

</div>
