<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>New Project</h1>

    <div class="well">

      <form role="form" >
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group">
          <h3 for="project_name">Project Name</h3>
          <input type="text" class="form-control" id="project_name"  placeholder="ex. Build a Website" />
        </div>
<h3>Deadline</h3>



<div ng-controller="AddProjectController">
              <div class="form-group">
              <label for="project_date">{{dt | date:'fullDate' }}</label>
              <label for="project_time">12:00:00</label>
              </div>
    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option for="time_format"></option></select>
        </div>
    </div>

    <hr />
</div>


        <div class="form-group">
          <button ng-click="submit()" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>