<div layout="column">
    <md-subheader>Title:</md-subheader>
    <div layout="row" class="project-field">
        <md-input-container flex="65">
            <label></label>
            <input required ng-model="project.name" >
            <div ng-if="project.name==null" ng-messages="projectForm.description.$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </md-input-container>
    </div>
</div>
<div layout="column">
    <md-subheader>In three sentences, summarize your end goal:</md-subheader>
    <md-input-container class="project-field" flex>
        <label></label>
        <textarea required ng-model="project.description" columns="1" md-maxlength="256"></textarea>
        <div ng-if="project.description==null" ng-messages="projectForm.description.$error">
            <div ng-message="required">This field is required.</div>
        </div>
    </md-input-container>
</div>

<div layout="column">
    <md-subheader>One or many? Pick the option that describes you:</md-subheader>
    <md-radio-group ng-model="project.taskType">
        <md-radio-button value="1">I want this task completed once.</md-radio-button>
        <md-radio-button  value="2">I want this task repeated across many inputs.</md-radio-button>
    </md-radio-group>
</div>
