
<div layout="column">
    <div layout="row" class="project-field">
        <md-input-container >           
		Everything on PlatformName begins with a prototype task. A
			prototype task is a quick starter task tested out by several workers.
			It helps you identify the best workers and improve your task
			description.

	<h4>Upload any files that workers will need to complete the task</h4>
    <md-radio-group class="project-field" ng-model="project.upload">
        <md-radio-button  value="noFile">No files necessary</md-radio-button> 
        <md-radio-button value="dropbox">Dropbox</md-radio-button>
        <div layout="row" class="project-field">                
			<div layout="row" ng-show="project.upload=='dropbox'" style="margin-left: 3%">
	       	 {{ '/crowdresearch/'+project.name }}
			</div>		
		</div>		
		      
        <md-radio-button value="myWebPage">No spreadsheet, use my own web page</md-radio-button>
        
        <div layout="column" ng-show="project.upload=='myWebPage'">
	    <div layout="row" class="project-field">
	        <md-input-container flex="65" style="margin-left: 3%">
	            <label>Enter the URL of your page:</label>
	            <input required ng-model="project.requesterURL" >
	            <div ng-if="project.requesterURL==null" ng-messages="projectForm.description.$error">
	                <div ng-message="required">This field is required.</div>
	            </div>     
	        </md-input-container>
	    </div>
	    <div layout="row" class="project-field">    
	        <md-input-container flex="65" style="margin-left: 3%">
	            <label>Enter Number of tasks:</label>
	           <input required ng-model="project.numberofTasks" >
	            <div ng-if="project.numberofTasks==null" ng-messages="projectForm.description.$error">
	                <div ng-message="required">This field is required.</div>
	            </div>
	        </md-input-container>
		</div>   
		</div>              
	</md-radio-group>

	<h4>Create your prototype task below:</h4>
	<h4> What is the smallest first milestone that workers can
	complete to demonstrate their understanding and skills? For example…</h4>
	<li>If you want someone to write a program for you, a first
		milestone might be to submit a proposed software architecture.</li>
	<li>If you want logo design, a first milestone might be a sketch
		of the concept.</li>
	<li>If you want translation services, a first milestone might be a
		translation of the first five minutes of content.</li>
	<li>If you want a singer, a first milestone might be a quick
		recording of just your chorus.</li>
	</md-input-container>
</div>


 