<aside class="bg-dark">   
        <div class="container">
          <div class="row">
                <div class="col-lg-3 col-md-6 text-center">                
                    <div class="service-box">
                        <i class="fa fa-2x fa-sitemap   text-default" ></i>
                        <h5>Task Category</h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-2x fa-pencil-square-o text-default" ></i>
                        <h5>Create Task</h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-2x fa-list-ol  text-primary"  ></i>
                        <h5>Milestones</h5>
                    </div> 
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-2x fa-money text-default"  ></i>
                        <h5>Payment</h5>
                    </div>
                </div>    
               <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-2x fa-check-square    text-default"  ></i>
                        <h5>Review</h5>
                    </div>
                </div>                  
            </div>
        </div>
</aside> 

 
<div ng-app="plnkrGanttStable" ng-controller="Ctrl">
    <div gantt data="data">
        <!-- <gantt-table columns="['model.name']"></gantt-table> -->
        <gantt-tree></gantt-tree>
        <gantt-groups></gantt-groups>
        <gantt-tooltips></gantt-tooltips>
        <gantt-bounds></gantt-bounds>
        <gantt-progress></gantt-progress>
        <gantt-sortable></gantt-sortable>
        <gantt-movable></gantt-movable>
        <gantt-draw-task></gantt-draw-task>
        <gantt-resize-sensor></gantt-resize-sensor>
    </div>
</div>
 