<div>
    <md-content layout-padding>
        <form name="moduleForm">
            <md-subheader>General Information</md-subheader>
            <div layout="row" layout-align="start start">
            <md-input-container flex="50">
                <label for="name">Name</label>
                <input required type="text" id="name"
                       ng-model="project.module.name">
                <div ng-messages="moduleForm.description.$error">
                    <div ng-if="project.module.name===null" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
             <md-input-container>
                <label for="repetition">Repetition</label>
                <input min="1" required type="number" id="repetition"
                       ng-model="project.module.repetition">
                <div ng-messages="moduleForm.description.$error">
                    <div ng-if="project.module.repetition===null" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
                <md-input-container>
                <label for="tasksDuration">Task Duration(in min)</label>
                <input min="1" required type="number" id="tasksDuration"
                       ng-model="project.module.tasksDuration">
                <div ng-messages="moduleForm.description.$error">
                    <div ng-if="project.module.tasksDuration===null" ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            </div>
            <div layout="row">
             <md-input-container flex="50">
                <label>Description</label>
                <textarea ng-model="project.module.description" columns="1" md-maxlength="256"></textarea>
            </md-input-container>
                <md-input-container flex="50">
                <label for="dataSource">Data Source</label>
                <input required type="text" id="dataSource"
                       ng-model="project.module.dataSource">
                <div ng-messages="moduleForm.description.$error">
                    <div ng-if="project.module.name===null" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            </div>
            <md-divider></md-divider>
            <md-subheader>Scheduling and Timers</md-subheader>
            <div layout="row" layout-align="center center">
            <md-input-container flex>
                <label>Start Date</label>
                <input type="datetime" required ng-model="project.module.startDate">
                <div ng-if="project.module.startDate==null" ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
              <label>End Date</label>
              <input type="datetime" required ng-model="project.module.endDate">
                <div ng-if="project.module.endDate==null" ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
             <md-checkbox ng-model="project.module.hardDeadline">Hard Deadline</md-checkbox>
            <md-input-container flex>
                <label for="repetition">Worker Hello Timeout (hrs)</label>
                <input min="1" required type="number" id="repetition"
                       ng-model="project.module.workerHelloTimeout">
                <div ng-messages="moduleForm.description.$error">
                    <div ng-if="project.module.workerHelloTimeout===null" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            </div>
            <md-divider></md-divider>
            <md-subheader>Workers</md-subheader>
            <div layout="row">
                <md-input-container>
                    <label for="minNumOfWorkers">Min Number of Workers</label>
                    <input min="1" type="number" id="minNumOfWorkers"
                       ng-model="project.module.minNumOfWorkers">
                </md-input-container>
                <md-input-container>
                    <label for="maxNumOfWorkers">Max Number of Workers</label>
                    <input min="1" type="number" id="maxNumOfWorkers"
                           ng-model="project.module.maxNumOfWorkers">

                </md-input-container>
            </div>
            <md-divider></md-divider>
            <md-subheader>Milestones</md-subheader>
            <div layout="row">
                <div layout="column" flex="50">
                    <md-input-container flex="10">
                        <label for="milestone0Name">Milestone Name</label>
                        <input required type="text" id="milestone0Name"
                               ng-model="project.module.milestone0.name">
                        <div ng-messages="moduleForm.description.$error">
                            <div ng-if="project.module.milestone0.name===null" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10">
                        <label for="milestone0Description">Milestone Description</label>
                        <input required type="text" id="milestone0Description"
                               ng-model="project.module.milestone0.description">
                        <div ng-messages="moduleForm.description.$error">
                            <div ng-if="project.module.milestone0.description===null" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                     <md-input-container flex="10">
                        <md-checkbox ng-model="project.module.milestone0.allowRevision">Allow workers submit a task description
                        </md-checkbox>
                     </md-input-container>
                    <md-input-container flex="10">
                        <md-checkbox ng-model="project.module.milestone0.allowNoQualifications">Allow all workers to work on this Milestone regardless of qualifications
                        </md-checkbox>
                     </md-input-container>
                    <md-input-container flex="10">
                        <label>Start Date</label>
                        <input type="datetime" required ng-model="project.module.milestone0.startDate">
                        <div ng-if="project.module.milestone0.startDate==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10">
                      <label>End Date</label>
                      <input type="datetime" required ng-model="project.module.milestone0.endDate">
                        <div ng-if="project.module.milestone0.endDate==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" flex="50">
                    <md-input-container flex="10">
                        <label for="milestone1Name">Milestone Name</label>
                        <input required type="text" id="milestone1Name"
                               ng-model="project.module.milestone1.name">
                        <div ng-messages="moduleForm.description.$error">
                            <div ng-if="project.module.milestone1.name===null" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10">
                        <label for="milestone1Description">Milestone Description</label>
                        <input required type="text" id="milestone1Description"
                               ng-model="project.module.milestone1.description">
                        <div ng-messages="moduleForm.description.$error">
                            <div ng-if="project.module.milestone1.description===null" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10">
                        <label>Start Date</label>
                        <input type="datetime" required ng-model="project.module.milestone1.startDate">
                        <div ng-if="project.module.milestone1.startDate==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10">
                      <label>End Date</label>
                      <input type="datetime" required ng-model="project.module.milestone1.endDate">
                        <div ng-if="project.module.milestone1.endDate==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <md-divider></md-divider>
            <md-subheader>Payment</md-subheader>
            <div layout="row">
                <md-input-container>
                    <label for="minWage">Minimum Wage ($)</label>
                    <input disabled min="1" type="number" id="minWage"
                       ng-model="project.module.minWage">
                </md-input-container>
                <md-input-container>
                    <label for="taskAvgTime">Task average completion time (in min)</label>
                    <input disabled min="1" type="number" id="taskAvgTime"
                           ng-model="project.module.taskAvgTime">

                </md-input-container>
                <md-input-container>
                    <label for="serviceCharges">Service Charges</label>
                    <input disabled min="1" type="number" id="serviceCharges"
                           ng-model="project.module.serviceCharges">

                </md-input-container>

            </div>
            <div layout="row">
                <md-input-container>
                    <label for="numberOfTasks">Number of Tasks</label>
                    <input min="1" type="number" id="numberOfTasks"
                       ng-model="project.module.numberOfTasks">
                </md-input-container>
                <md-input-container>
                    <label for="taskPrice">Task Price</label>
                    <input min="1" type="number" id="taskPrice"
                           ng-model="project.module.taskPrice">

                </md-input-container>
            </div>
            <md-divider></md-divider>
            <md-subheader>Qualifications</md-subheader>
            <div layout="row">
                <md-select placeholder="Qualification Type" ng-model="project.module.qualificationType">
                    <md-option value="Strict">Strict</md-option>
                    <md-option value="Flexible">Flexible</md-option>
                </md-select>
                <md-switch ng-model="project.module.excludeUndefined">Exclude Undefined</md-switch>
            </div>
            <div layout="row">
                <md-select md-on-close="" placeholder="Attribute" ng-model="project.module.qualificationAttrib">
                    <md-option value="Age">Age</md-option>
                    <md-option value="Location">Location</md-option>
                    <md-option value="Skill">Skill</md-option>
                    <md-option value="Username">Username</md-option>
                </md-select>
                <md-select placeholder="Operator" ng-model="project.module.qualificationOperator">
                    <md-option value="=">=</md-option>
                    <md-option value="!=">!=</md-option>
                    <md-option value=">=">>=</md-option>
                    <md-option value="between">between</md-option>
                    <md-option value="is">is</md-option>
                    <md-option value="in">in</md-option>
                    <md-option value="notin">not in</md-option>
                </md-select>
                <md-input-container>
                    <label for="qualificationValue1">Value 1</label>
                    <input id="qualificationValue1"
                       ng-model="project.module.qualificationValue1">
                </md-input-container>
                <md-input-container>
                    <label for="qualificationValue2">Value 2</label>
                    <input id="qualificationValue2"
                           ng-model="project.module.qualificationValue2">
                </md-input-container>
                <md-input-container>
                    <md-button ng-class="" md-no-ink class="md-primary">Add</md-button>
                </md-input-container>
            </div>
        </form>
        <md-button ng-click="project.module.add=false" class="md-primary">
            Cancel
        </md-button>
        <md-button ng-click="project.addModule(); project.module.add=false" class="md-default md-raised">
            Save
        </md-button>
    </md-content>
</div>