<!--ng-include src="'/static/templates/project/start.html'"></ng-include-->

<div layout="column"  layout-align="center center" flex>

  <md-content class="project-form">
      <h1 class="md-header-darkgray">Create a New Project</h1>
        <md-list class="md-white-background md-list-info">
            <md-list-item md-no-ink="" ng-click="project.form.category.is_expanded=!project.form.category.is_expanded" class="md-3-line">
                <md-icon aria-label="Done" ng-class="{'transparent': !project.form.category.is_done, 'md-green-color': true}"
                         md-svg-src="/static/bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon>
                <div class="md-list-item-text">
                  <h3>Project Category</h3>
                  <h4>Select project categories</h4>
                </div>

            </md-list-item>
            <div class="animate-show"  ng-show="project.form.category.is_expanded" layout="column" layout-align="center" style="margin-left: 22%">
                <div layout="row" layout-align="start" ng-repeat="item in project.categories">
                    <md-checkbox ng-click="project.toggle(item.id)">
                        {{ item.name }}
                    </md-checkbox>
                </div>
                <div class="form-input-container">
                    <md-button style="float: left;" ng-click="project.saveCategories();" class="md-raised">Done</md-button>
                </div>
            </div>
            <md-divider></md-divider>
            <md-list-item md-no-ink="" ng-click="project.form.general_info.is_expanded=!project.form.general_info.is_expanded" class="md-3-line">
                <md-icon aria-label="Done" ng-class="{'transparent': !project.form.general_info.is_done, 'md-green-color': true}"
                         md-svg-src="/static/bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon>
                <div class="md-list-item-text">
                  <h3>General information about the project</h3>
                  <h4>Name of the project, duration, description and other info</h4>

                </div>

            </md-list-item>
                <div class="animate-show" ng-show="project.form.general_info.is_expanded" layout="column" layout-align="center center" flex>
                    <div class="form-input-container"  layout="row">
                        <md-input-container flex>
                            <label>Name</label>
                            <input required ng-model="project.name">
                            <div ng-if="project.name==null" ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container class="form-input-container" flex>
                        <label>Start Date</label>
                        <input type="datetime" required ng-model="project.startDate">
                        <div ng-if="project.startDate==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="form-input-container" flex>
                      <label>End Date</label>
                      <input type="datetime" required ng-model="project.endDate">
                        <div ng-if="project.endDate==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="form-input-container" flex>
                        <label>Description</label>
                        <textarea required ng-model="project.description" columns="1" md-maxlength="256"></textarea>
                        <div ng-if="project.description==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="form-input-container" flex>
                        <label>Keywords</label>
                        <input required ng-model="project.keywords">
                        <div ng-if="project.keywords==null" ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                      <md-checkbox ng-model="project.saveToDrive" class="form-input-container">Save project in Google Drive</md-checkbox>
                    <p class="form-input-container" ng-if="project.saveToDrive">{{ '/crowdresearch/'+project.name }}</p>
                    <div class="form-input-container">
                        <md-button style="float: left;" ng-click="project.addProject();" class="md-raised">Done</md-button>
                    </div>
                  </div>
            <md-divider></md-divider>
            <md-list-item md-no-ink="" ng-click="project.form.modules.is_expanded=!project.form.modules.is_expanded"  class="md-2-line">
                <md-icon aria-label="Done" ng-class="{'transparent': !project.form.modules.is_done, 'md-green-color': true}"
                         md-svg-src="/static/bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon>
                <div class="md-list-item-text">
                  <h3>Create modules and milestones, specify payment and qualifications</h3>
                  <h4>Enter details of your project modules and configure milestones, enter payment details and optionally add module qualifications</h4>
                </div>
            </md-list-item>
            <div ng-show="project.form.modules.is_expanded" class="animate-show" layout="column" layout-align="center" style="margin-left: 22%" flex>
                <div class="form-input-container">
                    <md-list>
                        <md-list-item ng-repeat="module in project.modules">
                            <div class="md-list-item-text">
                              <h3>{{ module.name }}{ tasks: {{ module.numberOfTasks }}, milestones: {{ 2 }} }</h3>
                              <h4>{{ module.description }}</h4>
                            </div>
                            <span flex></span>
                            <md-button class="md-icon-button">
                                <md-icon  aria-label="More" ng-class="{'transparent': false, 'md-green-color': false}"
                                md-svg-src="/static/bower_components/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg"></md-icon>
                            </md-button>
                            </md-list-item>
                    </md-list>
                    <md-button style="float: left;" ng-click="project.finishModules()();" class="md-raised">Done</md-button>
                    <md-button style="float: left;" ng-click="project.module.add=true" class="md-raised">Add New Module</md-button>

                </div>
                <div layout="column" ng-show="project.module.add" class="animate-show">
                    <ng-include src="'/static/templates/project/module_detail.html'"></ng-include>
                </div>
            </div>
            <md-divider></md-divider>
            <md-list-item md-no-ink="" ng-click="project.form.templates.is_expanded=!project.form.templates.is_expanded" ng-show="project.showTemplates()"
                          class="md-2-line">
                <md-icon aria-label="Done" ng-class="{'transparent': !project.form.templates.is_done, 'md-green-color': true}"
                         md-svg-src="/static/bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon>
                <div class="md-list-item-text">
                  <h3>Templates</h3>
                  <h4>Pick a template or create a new one</h4>
                </div>
            </md-list-item>
            <div layout="column" layout-align="center" ng-show="project.showTemplates() && project.form.templates.is_expanded"
                            class="animate-show" style="margin-left: 22%" flex>
                <div class="form-input-container">
                    <md-select placeholder="Module" ng-model="project.moduleTemplate">
                        <label>Select Module</label>
                        <md-option ng-repeat="module in project.modules" value="{{module.name}}">{{module.name}}</md-option>
                    </md-select>
                    <md-radio-group ng-model="project.templateType">
                      <md-radio-button value="1">Pick or Buy</md-radio-button>
                      <md-radio-button  value="2">Create a new one</md-radio-button>
                      <md-radio-button value="3">Hire someone</md-radio-button>
                    </md-radio-group>
                    <md-button style="float: left;" ng-click="project.addTemplate();" class="md-raised">Done</md-button>
                    <!--md-button style="float: left;" ng-click="homeCtrl.toggleRight();" class="md-raised">Create</md-button-->
                    <ng-include src="'/static/templates/project/template_sidenav.html'"></ng-include>
                </div>
                <ng-include ng-show="project.showTemplates() && project.form.templates.is_expanded && project.templateType==1"
                            class="animate-show" src="'/static/templates/project/templates.html'"  flex></ng-include>

            </div>

            <md-divider ng-show="project.showTemplates()"></md-divider>
             <md-list-item md-no-ink=""
                           ng-click="project.form.review.is_expanded=!project.form.review.is_expanded" class="md-2-line">
                <md-icon aria-label="Done" ng-class="{'transparent': !project.form.review.is_done, 'md-green-color': true}"
                         md-svg-src="/static/bower_components/material-design-icons/action/svg/production/ic_done_all_24px.svg"></md-icon>
                <div class="md-list-item-text">
                  <h3>Review</h3>
                  <h4>Review & submit the project</h4>
                </div>
            </md-list-item>
            <ng-include layout="column" layout-align="center" style="margin-left: 22%" flex
                        class="animate-show" ng-show="project.form.review.is_expanded"
                        src="'/static/templates/project/review.html'"></ng-include>

        </md-list>
      <h1 ng-show="project.form.review.is_done" class="md-header-darkgray animate-show">Congratulations, you have successfully created your project</h1>
  </md-content>

</div>


