<div layout="row"  layout-align="center center">

  <md-content layout-padding class="md-gray-theme1">
      <h1 class="md-header-darkgray">Create New Project</h1>
    <form name="projectForm">
        <div layout layout-sm="projectForm">
        <md-input-container>
          <label>Name</label>
          <input required ng-model="project.name">
            <div ng-if="project.name==null" ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        </div>

      <md-input-container flex>
        <label>Description</label>
        <input required ng-model="project.description">
          <div ng-if="project.description==null" ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
            </div>
      </md-input-container>

        <md-input-container flex>
        <label>Details</label>
        <textarea ng-model="project.details" columns="1" md-maxlength="150"></textarea>

      </md-input-container>
        <md-button class="md-raised">Save</md-button>
    </form>
  </md-content>
</div>

