
 <md-list>
        <md-list-item class="md-proxy-focus">
          <md-icon md-font-icon="fa-bookmark-o" class="fa fa-lg"></md-icon>
          <p>Project Name</p>
          <p>{{ project.name }}</p>
        </md-list-item>
        <md-list-item class="md-proxy-focus">
          <md-icon md-font-icon="fa-pencil" class="fa fa-lg"></md-icon>
          <p>Description</p>
          <p>{{ project.description }}</p>
        </md-list-item>
        <md-list-item class="md-proxy-focus">
          <md-icon md-font-icon="fa-tags" class="fa fa-lg"></md-icon>
          <p>Keywords</p>
          <p>{{ project.keywords }}</p>
        </md-list-item>
        <md-list-item class="md-proxy-focus">
          <md-icon md-font-icon="fa-dropbox" class="fa fa-lg"></md-icon>
          <p>Dropbox / Google Drive</p>
          <p><md-switch ng-model="project.saveToDrive"></md-switch></p>
        </md-list-item>
        <md-list-item class="md-proxy-focus">
          <md-icon md-font-icon="fa-calendar-o" class="fa fa-lg"></md-icon>
          <p>Date</p>
          <p>{{ project.startDate }} - {{ project.endDate }}</p>
        </md-list-item>
        <md-list-item class="md-proxy-focus">
          <md-icon md-font-icon="fa-calendar" class="fa fa-lg"></md-icon>
          <p>Milestone</p>
          <p> Milestone description here</p>
        </md-list-item>
      </md-list>
      <div class="form-input-container">
          <md-button style="float: left;" ng-click="project.form.review.is_done=true; project.form.review.is_expanded=false" class="md-raised">Done</md-button>
      </div>

