          
<section id="workflow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Task Creation Workflow</h2>
                </div>
            </div>
        </div>
        <aside class="bg-dark">   
        <div class="container">
          <div class="row">
                <div class="col-lg-3 col-md-6 text-center">                
                    <div class="service-box">
                        <i class="fa fa-4x fa-sitemap   text-primary" ></i>
                        <h3>Task Category</h3>
                        <p class="text-muted">Select the task <br>category </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pencil-square-o text-primary" ></i>
                        <h3>Create Task</h3>
                        <p class="text-muted">Design Task Using Templates</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-list-ol  text-primary"  ></i>
                        <h3>Milestones</h3>
                        <p class="text-muted">Design Task<br> Monitoring</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money text-primary"  ></i>
                        <h3>Payment</h3>
                        <p class="text-muted">Decide Wages & Payment Mechanism</p>
                    </div>
                </div>    
               <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-check-square    text-primary"  ></i>
                        <h3>Review</h3>
                        <p class="text-muted">Review & Submit <br> the task</p>
                    </div>
                </div>                  
            </div>
        </div>
       
		<hr class="primary">
         <div class="col-lg-12 text-center">
            <a href="/project" class="btn btn-default btn-xl">Get Started!</a>            
   		</div>   
   		<hr>
   	</aside> 				
</section>
   

     
     