
<md-list-item class="md-proxy-focus">
  <md-icon md-font-icon="fa-bookmark-o" class="fa fa-lg"></md-icon>
  <p>Project Title</p>
  <p>{{ currentProject.name }}</p>
</md-list-item>
<md-list-item class="md-proxy-focus">
  <md-icon md-font-icon="fa-pencil" class="fa fa-lg"></md-icon>
  <p>Description</p>
  <p>{{ currentProject.description }}</p>
</md-list-item>
<md-list-item class="md-proxy-focus">
  <md-icon md-font-icon="fa-tags" class="fa fa-lg"></md-icon>
  <p>Keywords</p>
  <p>{{ currentProject.keywords }}</p>
</md-list-item>
<md-list-item class="md-proxy-focus">
  <md-icon md-font-icon="fa-dropbox" class="fa fa-lg"></md-icon>
  <p>Dropbox / Google Drive</p>
  <p><md-switch ng-model="currentProject.saveToDrive"></md-switch></p>
</md-list-item>
<md-list-item class="md-proxy-focus">
  <md-icon md-font-icon="fa-calendar-o" class="fa fa-lg"></md-icon>
  <p>Date</p>
  <p>{{ currentProject.startDate }} - {{ currentProject.endDate }}</p>
</md-list-item>
<md-list-item class="md-proxy-focus">
  <md-icon md-font-icon="fa-calendar" class="fa fa-lg"></md-icon>
  <p>Milestone</p>
  <p> Milestone description here</p>
</md-list-item>

