<div layout="row">
    <div layout="column" flex="">
        <md-card class="task-card">
            <md-card-content>
                <div layout="row">
                    <h2 class="md-title" flex="">{{taskWorkerDetail.module.name}}</h2>
                    <md-chips>
                        <md-chip>Prototype task</md-chip>
                    </md-chips>
                </div>
                <div layout="row" class="posted">
                    <span flex="">{{taskWorkerDetail.module.created_timestamp}} by <span class="requester">requester{{taskWorkerDetail.module.owner}}</span></span>
                    <span class="time" flex="33" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">access_time</md-icon> Time to complete: {{taskWorkerDetail.module.onetaskTime || '1min'}}</span>
                </div>
                <p layout="row" layout-align="start center"> <md-icon md-font-set="material-icons">description</md-icon>
                    <span>{{taskWorkerDetail.module.description}}</span>
                </p>
                <br />
                <br />                

            </md-card-content>
        </md-card>
        <md-card class="form-card">
          <md-card-content>
            <form novalidate class="simple-form" name="taskAttemptForm" ng-submit="taskWorkerDetail.submitForm()">
              <div ng-repeat="item in taskWorkerDetail.module.template[0].template_items">
                <div md-template-compiler="taskWorkerDetail.buildFormEntry(item)" flex="75"></div>
              </div>
              <md-button class="md-raised md-primary">Submit</md-button>
            </form>
          </md-card-content>
        </md-card>
    </div>
</div>
