dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-toolbelt==0.0.1
gunicorn==19.3.0
psycopg2==2.6
static3==0.5.1
six==1.9.0
django-appconf==1.0.1
django-compressor==1.5
djangorestframework==3.1.1
django-bower
django-oauth-toolkit
httpie
django-autofixture
google-api-python-client
dropbox
pandas==0.16.2
numpy==1.9.2
sendgrid