cffi
Django==1.9
django-appconf==1.0.1
django-autofixture
django-compressor
django-crispy-forms==1.5.2
dj-database-url==0.3.0
django-oauth-toolkit==0.9.0
djangorestframework==3.3.1
dj-static==0.0.6
django-toolbelt==0.0.1
dropbox
google-api-python-client
gunicorn==19.4.5
hashids
httpie
numpy==1.9.2
pandas==0.17.1
paypalrestsdk
psycopg2==2.6
sendgrid
six==1.9.0
static3==0.5.1
boto
celery
redis
