dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9
django-toolbelt==0.0.1
gunicorn==19.3.0
psycopg2==2.6
static3==0.5.1
six==1.9.0
django-appconf==1.0.1
-e git+https://github.com/django-compressor/django-compressor.git@94755c5aa62d0e659c863bbe75968f51c094be6e#egg=django-compressor
django-crispy-forms==1.5.2
djangorestframework==3.3.1
django-oauth-toolkit==0.9.0
httpie
django-autofixture
google-api-python-client
dropbox
pandas==0.16.2
numpy==1.9.2
sendgrid
paypalrestsdk
hashids
cffi
