{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Register</title>

</head>
<body>
{% block main %}

<div class="center login-panel" ng-controller="RegisterController as register">
    <form role="form" ng-submit="register.register()">
         {% csrf_token %}
         <fieldset>
            <h3 style="color:dimgray">Sign up for an account</h3>
                {{ form.first_name }}
         {{ form.last_name }}
             {{form.email}}
             {{ form.password1 }}
             {{ form.password2 }}

            <p style="padding-top: 3px;" class="text-left text-danger" id="register__errors">
                {% for field,error in form.errors.items %}
                    {{ error|striptags }}<br>
                {% endfor %}
             </p>

            <p style="padding-top: 3px;" class="text-left">By clicking Sign Up, you agree to our <a href="/terms">Terms</a></p>

            <button type="submit" style="margin-top:20px" class="btn btn-block btn-primary" id="signup_btn" onclick="" value="Sign Up"><strong>Sign Up</strong></button>
            <p style="padding-top: 3px;" class="text-left">Already have an account!? <a href="/login">Sign In</a></p>

         </fieldset>

    </form>
    {% include 'angular_modules.html' %}


</div>
{% endblock main %}
</body>
</html>