<!DOCTYPE html>
<html ng-app="crowdresearch.routes">
<head lang="en">
    <meta charset="UTF-8">
    {% load static %}

    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'custom_css/core.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/user_profile.css' %}" rel="stylesheet">
    {% block title %}{% endblock title %}

</head>
<body>
<div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Crowdsourcing</a>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
             {% if  user.is_authenticated%}
               <li><a href="/jobs">Jobs</a></li>
            {% else %}
            <li> <a href="/downloads">News</a></li>
            <li><a style="text-decoration:none; color:#428bca" href="/login">Sign In</a></li>

            {% endif %}
             {% if user.is_authenticated %}
             <!--li><a href="/notifications">Notifications</a></li-->
              <a class="navbar-text" href="/users/{{ user.username }}">{{ user.first_name }}</a>

             <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle pull-right" href="#"> <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/downloads">Downloads</a></li>
                <li><a href="/terms">Terms</a> </li>
                <li class="divider"></li>
                <!--<li class="dropdown-header"></li>-->
                <li><a href="/logout">Sign out</a></li>
              </ul>
            </li>

            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
{% block main %}{% endblock main %}
</body>
<footer>
    <nav class="navbar-fixed-bottom" role="navigation">
  <div style="height: 100px" class="container">

  </div>
</nav>
    <script type="text/javascript" async="" src="{% static 'bower_components/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" async="" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom_js/crowdresearch.js' %}"></script>

</footer>
</html>