{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" ng-app="crowdsource">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="stanford-hci">

    <title>CrowdResearch</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>


<body>

    <!-- Navigation -->
    <div ui-view="navbar"></div>

    <!-- Main Body -->
    <div class="container">
        <div ui-view="content"></div>
    </div>

    <!-- Footer -->
    <div ui-view="footer"></div>

</body>

{% compress js %}

    <script type="text/javascript" src="{% static 'bower_components/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-loading-bar/build/loading-bar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-strap/dist/angular-strap.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-strap/dist/angular-strap.tpl.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-smart-table/dist/smart-table.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-smart-table/dist/smart-table.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/crowdsource.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.filters.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/home/home.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/controllers/home.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/ranking/ranking.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ranking/controllers/ranking.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/projects/project.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/projects/controllers/project.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/projects/services/project.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/tasksearch/controllers/tasksearch.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tasksearch/tasksearch.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tasks/task.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tasks/controllers/task.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tasksearch/controllers/tasksearch.controller.js' %}"></script>

{% endcompress %}
</html>
