<header class="jumbotron hero-spacer">
<div class="row text-center">
    <h1 style="font-size: 65px;">Crowd Research</h1>
    <p>Welcome to the home of Crowdcomputing</p>
    <a href="/register" class="btn btn-primary">Register</a>
    </form>      
  </div>
</header>
<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3></h3>
    </div>
</div>
    <!-- /.row -->
<section id="Tasks">
      <div class="row text-center">
        <h1 style="font-size: 25px;"> Task Categories</h1>
      </div>
    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
            <i class="fa fa-camera-retro fa-5x"></i> 
                 <div class="Photography">
                    <h3>Photography</h3>
                    <p>
                    <a href="#"> <span class="badge">104 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <i class="fa fa-cogs fa-5x"></i>
                <div class="Engineering">
                    <h3>Engineering</h3>
                    <p>

                    <a href="#"> <span class="badge">43 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>

           <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
            <i class="fa fa-file-code-o fa-5x"></i> 
                 <div class="Programming">
                    <h3>Programming</h3>
                    <p>
                    <a href="#"> <span class="badge">54 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <i class="fa fa-line-chart fa-5x"></i>
                <div class="Trend Analysis">
                    <h3>Trend Analysis</h3>
                    <p>
                    <a href="#"> <span class="badge">50 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->


    <hr>

     <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
            <i class="fa fa-music fa-5x"></i>
                 <div class="Music">
                    <h3>Music</h3>
                    <p>
                    <a href="#"> <span class="badge">144 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
               <i class="fa fa-sitemap fa-5x"></i>
                <div class="Management">
                    <h3>Management</h3>
                    <p>
                    <a href="#"> <span class="badge">142 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>

           <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
            <i class="fa fa-pencil-square-o fa-5x"></i>
                 <div class="Writing">
                    <h3>Writing</h3>
                    <p>
                    <a href="#"> <span class="badge">114 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <i class="fa fa-bar-chart fa-5x"></i>
                <div class="Trend Analysis">
                    <h3>Survey</h3>
                    <p>
                    <a href="#"> <span class="badge">190 Tasks</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>