<header class="jumbotron">
<div class="row text-center">  
    <span class="glyphicon glyphicon-chevron-center" aria-hidden="true"></span>
    <h1 style="font-size: 65px;">Crowd Research</h1>
    <p>Welcome to the home of Crowdcomputing</p>
    <a  class="btn btn-primary" href="">Learn More</a>
  </div>
</header>
 
      
 <div class="task" role="task">
      <div class="row text-center">
        <h1 style="font-size: 25px;">Task Categories</h1>
      </div>
</div>

<hr> 
<div class="row text-center"> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-file-code-o fa-5x"></i>
		     <h6> <button class="btn">Programming <span class="badge">804</span> </button></h6>
		  
		</div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
			<i class="fa fa-camera-retro fa-5x"></i>
		     <h6> <button class="btn">Photography <span class="badge">204</span> </button></h6>
		  </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
		<i class="fa fa-music fa-5x"></i>
		     <h6> <button class="btn">Music <span class="badge">504</span> </button></h6>
        </div></div>
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>       
          <i class="fa fa-pencil fa-5x"></i>
		     <h6> <button class="btn">Writing <span class="badge">604</span> </button></h6>
        </div></div>
         <p><a class="btn btn-default pull-right" href="#" role="button">View More »</a></p>
         
      </div>
   
<div class="worker" role="worker">
      <div class="row text-center" id="worker">
        <h1 style="font-size: 25px;">WORKER</h1>
      </div>
</div>
   <hr>                     
 <div class="well well-lg">   
<div class="row text-center"> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-list-alt fa-5x"></i>
		  <h6>    <a href="/register" class="btn btn-primary">Register</a></h6>
		</div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
			<i class="fa fa-cogs fa-5x"></i>
		  <h6>    <a href="/register" class="btn btn-warning">GET WORK</a></h6>
		  </div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
		<i class="fa fa-pencil fa-5x"></i>
		  <h4>    <a href="/register" class="btn btn-info">Earn Money</a></h4>
        </div></div>
        
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>       
          <i class="fa fa-line-chart fa-5x"></i>
		  <h4> <a href="/register" class="btn btn-success">Build Your Career</a></h4>
        </div></div>
      </div>
    </div>  
<hr>

<div class="workerstories" role="workerstories">
      <div class="row text-center">
        <h1 style="font-size: 15px;">Workers' Stories</h1>
      </div>
    </div>
            <div class="col-xs-6 col-lg-6">
              <h2>NEWS</h2>
              <p>
              <ul class="list-group">
            <li class="list-group-item">Crowd Research Changed My Life</li>
            <li class="list-group-item">I can trust the requester</li>
            <li class="list-group-item">We are global community of workers</li>
            <li class="list-group-item">I have not only built my career, but also made lot of friends</li>
            <li class="list-group-item">I feel respected here</li>
          </ul>  
              <p><a class="btn btn-default" href="#" role="button">View More »</a></p>
            </div> 
 
<div class="well well-lg">   
<div class="row text-center"> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-primary">Performer of the Year</a></h5>
		</div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-success">Performer of the Month</a></h5>
		  </div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-warning">Performer of the Week</a></h5>
        </div></div>
         <div class="col-lg-3">
        <div class="panel panel-primary"> <h2></h2>      
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-danger">Performer of the Day</a></h5>
        </div></div>
      </div>
    </div>  
<hr>
 
<div class="requester" >
      <div class="row text-center" id="requester">
        <h1 style="font-size: 25px;">REQUESTER</h1>
      </div>
 </div>
                  
 <hr>
 <div class="well well-lg">   
<div class="row text-center"> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-list-alt fa-5x"></i>
		  <h6>    <a href="/register" class="btn btn-primary">Register</a></h6>
		</div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
			<i class="fa fa-cogs fa-5x"></i>
		  <h6>    <a href="/register" class="btn btn-warning">Post WORK</a></h6>
		  </div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
		<i class="fa fa-check-circle fa-5x"></i>
		  <h4>    <a href="/register" class="btn btn-info">Get Quality Results</a></h4>
        </div></div>
         
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>       
          <i class="fa fa-line-chart fa-5x"></i>
		  <h4> <a href="/register" class="btn btn-success">Grow Your Business</a></h4>
        </div></div>
      </div>
    </div>  

<div class="requesterstories" role="requesterstories">
      <div class="row text-center">
        <h1 style="font-size: 15px;">Requesters' Stories</h1>
      </div>
    </div>
               
        
            <div class="col-xs-6 col-lg-6">
              <h2>NEWS</h2>
              <p>
              <ul class="list-group">
            <li class="list-group-item">I can trust the workforce</li>
            <li class="list-group-item">I was able to get quality results in fraction of time </li>
            <li class="list-group-item">I can generate the employment for many households around the world</li>
            <li class="list-group-item">I am proud of this workplace </li>
            <li class="list-group-item">My business is making huge profits</li>
          </ul> </p>
              <p><a class="btn btn-default" href="#" role="button">View More »</a></p>
            </div> 
 

<div class="well well-lg">   
<div class="row text-center"> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-primary">Performer of the Year</a></h5>
		</div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-success">Performer of the Month</a></h5>
		  </div>
        </div> 
        <div class="col-lg-3">
        <div class="panel panel-primary"><h2></h2>
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-warning">Performer of the Week</a></h5>
        </div></div>
         <div class="col-lg-3">
        <div class="panel panel-primary"> <h2></h2>      
          <i class="fa fa-user fa-5x"></i>
		  <h5>    <a href="/register" class="label label-danger">Performer of the Day</a></h5>
        </div></div>
      </div>
    </div>  
<hr>
        
 
<div class="About" role="about">
      <div class="row text-center">
        <h1 style="font-size: 25px;">About Us</h1>
      </div>
    </div>
    
 <div class="row text-center">  
   <div class="col-xs-12 col-lg-12">   
        <div class="panel panel-primary"> 
        <img class="img-responsive center-block" src="http://crowdresearch.stanford.edu/w/img_auth.php/4/48/ChrisLogo.png" alt="">
		</div>
   </div>
   </div>
        
<hr>

