<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Login</title>

</head>
<div class="center login-panel" ng-controller="LoginController as login">
    <form name="{{ form.form_name }}"role="form" ng-submit="login.login()">
         <fieldset>
            <h3 style="color:dimgray">Please Sign In</h3>
              <input type="text" id="email" class="form-control" placeholder="Email or Username"
                                                                    required=""
                                                                    ng-model="login.username"
                                                                    id="login__username"/>
                <input type="password" id="password"  class="form-control" placeholder="Password"
                                                                    required=""
                                                                    ng-model="login.password"
                                                                    id="login__password"/>
             <p style="padding-top: 3px;" id="login__errors" class="text-left text-danger">
             </p>

             <a href="/forgot-password" style="padding-top: 10px;" class="pull-right">Forgot password?</a>
             <div class="checkbox">
                 <label>
                  <input type="checkbox"> Remember me
                </label>
             </div>

            <button type="submit" style="margin-top:20px" class="btn btn-block btn-success" id="login_btn"  value="Login">Login</button>
             <br>
             <p class="text-center"><a href="/register">Sign Up</a></p>
         </fieldset>

    </form>

</div>
</html>