<div class="col-lg-12" align=right>	           						       	          		              	          		   
 <h1> Task Feed</h1>
</div>
 
<div class="row">
	   <div class="portfolio-filter col-sm-4" align="center">
	    		<h4> Available Categories</h4> 
	      		<ul class="list-group filter-list" ng-repeat="module in taskfeed.modules">
	  	      			<li class="list-group-item">{{ module.category }}</li>		  	      		 
	      		</ul>
	    </div>
 		<div class="portfolio-rows col-sm-8">
	      	<div class="col-sm-12 col-xs-6" ng-repeat="module in taskfeed.modules">
	        <div class="panel panel-default">
	          <div class="panel-thumbnail">
	          	 <div class="img-responsive header">
	          	 	<span class="fa-2x fa fa-bookmark-o icon pull-right"></span>   	          	 
		          	<span class="fa-2x fa fa-share-alt icon pull-right"></span>
		        	
 		          	<div class="task-title">{{ module.name }}</div>
		          	<div class="task-requester">{{ module.requester }}</div> 
		          		              	
	         	 </div>
	          <div class="panel-body content"> 
	            <p class="desc-text">Category</p>         
	          	<p class="category">{{ module.category }}</p>        
	            <p class="desc-text">Description</p>
	            <p class="desc">{{ module.description }}</p>
	            <p class="desc-text">Skills</p>           
	            <p class="skills">{{ module.skills }}</p>
	            <p class="desc-text">Payment</p>           
	            <p class="skills">{{ module.pay }}</p>	            
	            <div class="col-lg-12" align="right">	           						       	          		              	          		   
            		<a href="" class="btn btn-success">Attempt</a>
   				</div>       
	          </div>
	          </div> 
	         </div>
	       </div>
	     </div>
</div>
	
  