<div class="md-tabs">
    <md-list class="previous-comments" ng-if="project.currentProject.hasComments">
        <md-list-item class="md-3-line" layout="column"
                      ng-repeat="item in project.currentProject.comments track by $index">
            <div class="md-list-item-text">
                <h3 class="comment-sender">{{ item.comment.sender_alias }}</h3>

                <h4 class="comment-body">{{ item.comment.body }}</h4>

                <p class="comment-time">Posted {{ item.comment.posted_time }}</p>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</div>
