

<div class="container">

  <md-content class="md-padding">
    <!-- <div class="text-center" ng-class="'text-' + getStatusColor(filter)">
      <span style="font-size: 80px">{{ getPercent(objects, accepted) || 'Not available' }}</span>
      <span style="font-size: 40px" ng-if="getPercent(objects, accepted)">%</span>
    </div> -->
    <md-progress-linear md-mode="determinate" value="{{ getPercent(objects, accepted) }}"></md-progress-linear>


    <h1> Project: {{ projectName }}</h1>
    <md-button class="md-raised" ng-click="downloadResults(objects)">Download results</md-button>


    <md-list>

      <md-list-item layout="row">
          <p flex="15"><b> Status </b></p>
          <p flex="25"><b> Action </b></p>
          <p flex="15"><b> Result </b></p>
          <p flex="15"><b> Milestone </b></p>
          <p flex="20"><b> Last Updated </b></p>
          <p flex="10"><b> Worker </b></p>
      </md-list-item>

      <md-divider></md-divider>
      <md-list-item ng-repeat="obj in objects | orderBy: order | filterBy: ['status'] : filter" ng-click="toggleRight(); updateCurrObject(obj);"layout="row">
        <p flex="15"> {{ getStatusName(obj.status) }} </p>
        <div flex="25">
          <md-button class="md-raised" ng-if="obj.status === created" ng-click="updateResultStatus(obj, accepted)">accept</md-button> 
          <md-button class="md-raised" ng-if="obj.status === created"  ng-click="updateResultStatus(obj, rejected)">reject</md-button>
        </div>
        <p flex="15"> {{ obj.result || 'Not available' }}</p>
        <p flex="15"> {{ obj.milestone}}</p>
        <p flex="20"> {{ obj.last_updated | date : 'MM-dd-yyyy h:mm:ss' }}</p>
        <p flex="10"> {{ obj.worker_alias }} </p>
      </md-list-item>
    </md-list>

  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Task Detail</h1>
      </md-toolbar>
      <md-content layout-padding>
        <h1> Name: {{ currObject.template_item.name }} </h1>
        <p>  Status: {{ getStatusName(currObject.status) }} </p>
        <p>  Start: {{ currObject.last_updated | date : 'MM-dd-yyyy h:mm:ss' }}</p>
        <p>Result: {{currObject.result}}</p>

        <md-button ng-click="close()" class="md-primary">
        Close
      </md-button>
    </md-content>
  </md-sidenav>

</div>

