

<div class="container">

  <md-content class="md-padding">
    <!-- <div class="text-center" ng-class="'text-' + getStatusColor(filter)">
      <span style="font-size: 80px">{{ getPercent(objects, accepted) || 'Not available' }}</span>
      <span style="font-size: 40px" ng-if="getPercent(objects, accepted)">%</span>
    </div> -->
    <md-progress-linear md-mode="determinate" value="{{ getPercent(objects, accepted) }}"></md-progress-linear>


    <h1> Project: {{ projectName }}</h1>
    <md-button class="md-raised" ng-click="downloadResults(objects)">Download results</md-button>


    <md-list>

      <md-list-item layout="row">
          <p flex="15"><b> Status </b></p>
          <p flex="40"><b> Action </b></p>
          <p flex="15"><b> Result </b></p>
          <p flex="20"><b> Last Updated </b></p>
          <p flex="15"><b> Worker </b></p>
          <p flex="15" ng-repeat="key in data_keys"><b>{{key}}</b></p>
      </md-list-item>

      <md-divider></md-divider>
      <md-list-item ng-repeat="entry in entries | orderBy: order | filterBy: ['status'] : filter" layout="row">
        <p flex="15"> {{ getStatusName(entry.status) }} </p>
        <div flex="40">
          <md-button class="md-raised" ng-if="entry.status === created" ng-click="updateResultStatus(entry, accepted)">accept</md-button> 
          <md-button class="md-raised" ng-if="entry.status === created"  ng-click="updateResultStatus(entry, rejected)">reject</md-button>
        </div>
        <p flex="15"> {{ entry.result || 'Not available' }}</p>
        <p flex="20"> {{ entry.last_updated | date : 'MM-dd-yyyy h:mm:ss' }}</p>
        <p flex="15"> {{ entry.worker_alias }} </p>
        <p flex="15" ng-repeat="key in data_keys">{{entry.data[key]}}</p>
      </md-list-item>
    </md-list>

  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Task Detail</h1>
      </md-toolbar>
      <md-content layout-padding>
        <h1> Name: {{ currObject.template_item.name }} </h1>
        <p>  Status: {{ getStatusName(currObject.status) }} </p>
        <p>  Start: {{ currObject.last_updated | date : 'MM-dd-yyyy h:mm:ss' }}</p>
        <p>Result: {{currObject.result}}</p>

        <md-button ng-click="close()" class="md-primary">
        Close
      </md-button>
    </md-content>
  </md-sidenav>

</div>

