<div layout="row" layout-wrap>
<!--
    <md-data-table class="table" layout-margin flex>
        <div class="md-data-table-card-header" layout="row" layout-align="start center">
            <div class="md-data-table-card-header-title" flex layout="row" layout-align="start center">
                <div>Ratings affect which workers do your tasks!</div>
                <ul>
                    <li>&#x2713;+ will get early access to your future tasks (and will do more of them)</li>
                    <li>&#x2713;- will get last access to your future tasks</li>
                </ul>
            </div>
        </div>
    </md-data-table>
-->
    <md-whiteframe class="md-whiteframe-z1 md-bg-white md-padding" layout-margin flex>
        <md-list ng-if="account.requester_experiment_fields.has_boomerang">
            <h2 class="md-title md-margin-0">
                Ratings affect which workers do your next tasks!
            </h2>
            <ul>
                <li>&#x2713;+ will get <b>early</b> access to your next tasks (and will do <b>more</b> of them)</li>
                <li>&#x2713;- will get <b>late</b> access to your next tasks (and will do <b>fewer</b> of them)</li>
            </ul>
        </md-list>
        <md-list ng-if="!account.requester_experiment_fields.has_boomerang">
            <h2 class="md-title md-margin-0">
                Please rate the workers.
            </h2>
        </md-list>        
    </md-whiteframe>

</div>

<div layout="row" layout-wrap>
    <div layout="row" flex="65">
        <md-data-table class="table" layout-margin flex>
            <div class="md-data-table-card-header" layout="row" layout-align="start center">
                <div class="md-data-table-card-header-title" flex layout="row" layout-align="start center">
                    <span ng-click="task.navigateToMyProjects()" class="clickable"> My Projects</span>
                    <i class="material-icons">chevron_right</i>
                    <span ng-click="task.navigateToProject()" class="clickable">{{ task.project_name }}</span>
                    <i class="material-icons">chevron_right</i>
                    <span>{{ task.module_name }}</span>
                </div>
                <div ng-show="true" class="md-actions" flex layout="row" layout-align="end center">
                    <md-button ng-if="task.selectedItems.length" ng-click="task.updateStatus(3)" aria-label="top"
                               class="md-action-icon md-action-button">
                        <md-icon md-font-set="material-icons">done</md-icon>
                        <md-tooltip>Accept Submission</md-tooltip>
                    </md-button>
                    <md-button ng-if="task.selectedItems.length" ng-click="task.updateStatus(5)" aria-label="top"
                               class="md-action-icon md-action-button">
                        <md-icon md-font-set="material-icons">reply</md-icon>
                        <md-tooltip>Return to worker</md-tooltip>
                    </md-button>
                    <md-button ng-if="task.selectedItems.length" ng-click="task.updateStatus(4)" aria-label="top"
                               class="md-action-icon md-action-button">
                        <md-icon md-font-set="material-icons">clear</md-icon>
                        <md-tooltip>Reject submission</md-tooltip>
                    </md-button>
                    <div ng-if="task.selectedItems.length" class="action-divider"
                         style="width: 1px; height: 32px; background-color: rgba(0, 0, 0, 0.34)"></div>
                    <md-button ng-click="task.downloadResults()" aria-label="top"
                               class="md-action-icon md-action-button">
                        <md-icon md-font-set="material-icons">file_download</md-icon>
                        <md-tooltip>Download results</md-tooltip>
                    </md-button>
                    <md-button ng-click="task.filter()" aria-label="top" class="md-action-icon md-action-button">
                        <md-icon md-font-set="material-icons">filter_list</md-icon>
                        <md-tooltip>Filter</md-tooltip>
                    </md-button>
                </div>
            </div>
            <div class="table-content">
                <div class="md-data-table-header" layout="row" layout-align="start center">
                    <md-checkbox ng-checked="task.selectAll" ng-click="task.toggleAll()"
                                 aria-label="select"></md-checkbox>
                    <div class="md-data-table-header-column" flex="5" layout="row" layout-alignment="start center">
                        Id
                    </div>
                    <div class="md-data-table-header-column" flex="30" layout="row" layout-alignment="start center">
                        Input
                    </div>
                    <div class="md-data-table-header-column" flex="30" layout="row" layout-alignment="start center">
                        Answers
                    </div>
                    <div class="md-data-table-header-column" flex="10" layout="row" layout-alignment="start center">
                        Status
                    </div>
                    <div class="md-data-table-header-column" flex="10" layout="row" layout-alignment="start center">
                        Worker
                    </div>
                    <!--div class="md-data-table-header-column" flex="15" layout="row" layout-alignment="start center">
                        Last updated
                    </div-->
                </div>
                <md-divider></md-divider>
                <div>
                    <div ng-repeat="item in task.tasks">
                        <div ng-repeat="task_worker in item.task_workers_monitoring">
                            <div class="md-data-table-row" layout="row" layout-align="start center"
                                 ng-class="{'md-data-table-last-row': $parent.$last, 'selected': task.isSelected(task_worker)}">
                                <md-checkbox ng-checked="task.isSelected(task_worker)" aria-label="select"
                                             ng-click="task.toggle(task_worker)"></md-checkbox>
                                <div class="md-data-table-row-cell cell-text" flex="5">{{ item.id }}</div>
                                <div class="md-data-table-row-cell cell-text" flex="30">
                                    <div ng-repeat="question_item in item.template_items_monitoring | filter:{role: 'display'}">
                                        {{ question_item.values }}
                                    </div>
                                </div>
                                <div class="md-data-table-row-cell cell-text" flex="30">
                                    <div ng-repeat="answer_item in item.template_items_monitoring | filter:{role: 'input'}">
                                        {{ task.get_answer(task_worker.task_worker_results_monitoring, answer_item).result }}
                                    </div>
                                </div>
                                <div class="md-data-table-row-cell cell-text" flex="10">
                                    {{ task.getStatusName(task_worker.task_status) }}</div>
                                <div class="md-data-table-row-cell cell-text"
                                     flex="10">{{ task_worker.worker_alias }}</div>
                                <!--div class="md-data-table-row-cell cell-text"
                                     flex="15">{{ task_worker.updated_delta }}</div-->
                            </div>
                            <md-divider></md-divider>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="!task.tasks.length" class="animate-show">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-divider></md-divider>
            </div>
        </md-data-table>
    </div>
    <div layout="row" flex>

        <div layout="column" flex>
            <md-whiteframe class="md-whiteframe-z1 md-bg-white md-padding" layout-margin>
                <md-list>
                    <md-list ng-if="account.requester_experiment_fields.has_boomerang">
                        <h2 class="md-title md-margin-0">
                            Rate workers
                        </h2>
                        <ul>
                            <li>&#x2713;+ will get <b>early</b> access to your next tasks</li>
                            <li>&#x2713; get <b>regular</b> access to your next tasks</li>
                            <li>&#x2713;- will get <b>late</b> access to your next tasks</li>
                        </ul>
                    </md-list>
                    <md-list ng-if="!account.requester_experiment_fields.has_boomerang">
                        <h2 class="md-title md-margin-0">
                            Please rate the workers.
                        </h2>
                    </md-list>                            


                    <div layout-sm="column">
                        <md-input-container>
                            <label>Search Workers</label>
                            <input type="text" ng-model="filterWorker">
                        </md-input-container>
                    </div>
                    <md-whiteframe ng-if="task.loadingRankings">
                        <div layout="row" layout-sm="column" layout-align="space-around" class="md-padding">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </md-whiteframe>
                    <div ng-if="!task.loadingRankings && !task.workerRankings">No workers to review</div>
                    <md-list-item class="rank-list-item" layout="row"
                                  ng-repeat="item in task.workerRankings | filter: {alias : filterWorker}"
                                  class="fx-fade-down fx-cubic">
                        <img src="/static/images/ic_account_circle_black_48dp.png" class="md-avatar"/>

                        <div layout="column" flex>
                            <span class="md-title">{{ item.alias }}</span>
                        </div>
                        <div flex="40">
                            Rating:<br/>

                            <div checkrating click-handler="task.handleRatingSubmit" model="item"
                                 selected="item.current_rating"></div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-whiteframe>


            <md-whiteframe class="md-whiteframe-z1 md-bg-white md-padding" layout-margin ng-if="task.comments">
                <h3 class="md-title">Feedback on Task Design</h3>

                <div ng-repeat="task in task.tasks">
                    <md-list class="previous-comments" ng-if="task.comments">
                        <md-list-item class="md-3-line" layout="column"
                                      ng-repeat="item in task.comments track by $index">
                            <div class="md-list-item-text">
                                <h3 class="comment-sender">{{ item.comment.sender_alias }}</h3>

                                <h4 class="comment-body">{{ item.comment.body }}</h4>

                                <p class="comment-time">Posted {{ item.comment.posted_time }}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </md-whiteframe>
        </div>
    </div>
</div>