<div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Image Tagging
                    <small>Help Computers become Intelligent</small>
                </h1>
                      <i class="fa fa-question fa-2x pull-right"></i>                                            
            </div>            
        </div>
</div>
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://fc09.deviantart.net/fs70/i/2013/214/7/b/one_world_trade_center_screenshot__night__by_arrow231-d6el6wv.png" alt="">
                </a>
            </div>
                <div class="col-md-5">
                <h3 class="text-muted">Instructions</h3>
                <p>1. Provide 6 tags to describe the image. </p>
                <p>2. Each Tag should be a single word. </p>
                <p>3. Provide description of the image (Minimum 500 words). </p>
                <p>4. Accuracy of the tags determines the payment. </p>
         		<p class="text-success">5. Your hard work will help us make computers smarter. </p>  
         		 
            </div>
        </div>
        
       
        
         <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Please provide the Tags 
         </h2>
                  
<div class="bs-example">
        <div class="col-md-4 hero-feature">
            <label class="col-xs-3 control-label">Tag 1</label>
            <div class="col-xs-10">
                <input type="text" id="Tag1" class="form-control">
            </div>
        </div>
        <div class="col-md-4 hero-feature">
            <label class="col-xs-3 control-label" for="">Tag 2</label>
            <div class="col-xs-10">
                <input type="text" id="Tag2" class="form-control">
            </div>
        </div>
         <div class="col-md-4 hero-feature">
            <label class="col-xs-3 control-label" for="inputSuccess">Tag 3</label>
            <div class="col-xs-10">
                <input type="text" id="Tag3" class="form-control">
            </div>
        </div>
        <div class="col-md-4 hero-feature">
            <label class="col-xs-3 control-label" for="inputSuccess">Tag 4</label>
            <div class="col-xs-10">
                <input type="text" id="Tag4" class="form-control">
            </div>
        </div>  <div class="col-md-4 hero-feature">
            <label class="col-xs-3 control-label" for="inputSuccess">Tag 5</label>
            <div class="col-xs-10">
                <input type="text" id="Tag5" class="form-control">
            </div>
        </div>
        <div class="col-md-4 hero-feature">
            <label class="col-xs-3 control-label" for="inputSuccess">Tag 6</label>
            <div class="col-xs-10">
                <input type="text" id="Tag6" class="form-control">
            </div>
        </div>
        </div>     		                                		     
 </div>       
<!--  Define the controller on click --> 
 <button type="button" class="btn btn-sm btn-success pull-right">
			<i class="glyphicon glyphicon-plus">
			</i> Add More Tags 
		</button>    
</div>


<div class="row">
       <div class="col-lg-12">
        <h2 class="page-header">Please provide the description of the image</h2>      
       <div class="form-group">
       <textarea class="form-control" rows="5" id="comment"></textarea>
      <span class="text-danger">*Minimum 500 words required</span>
       
       </div>
         <a href="/terms">
            <i class="fa fa-check-circle-o fa-5x pull-right"></i>                                            
		</a>
		       
	</div>
	</div>
	<hr>
	
		
 
     	