

<div class="container">

  <md-content class="md-padding">
    <div class="text-center" ng-class="'text-' + getStatusColor(filter)">
      <span style="font-size: 80px">{{ getPercent(workers, filter) }}</span>
      <span style="font-size: 40px">%</span>
    </div>
    <md-progress-linear md-mode="determinate" value="{{ getPercent(workers, filter) }}"></md-progress-linear>


    <h1> Task Name: {{ workers[0].template_item.name }}</h1>
    <h4> Template: {{workers[0].template_item.template.name}}</h4>
    <p>  Detail: {{workers[0].template_item.template.source_html}} </p>


    <md-list>
      <md-subheader class="md-no-sticky">{{ workers[0].template_item.name }}</md-subheader>

      <md-list-item>
        <p> Worker Name </p>
        <p> Status </p>
        <p> Start </p>
      </md-list-item>

      <md-divider></md-divider>
      <md-list-item ng-repeat="worker in workers | orderBy: order | filterBy: ['status'] : filter" ng-click="toggleRight(worker)">
        <p> {{ worker.task_worker.worker.alias }} </p>
        <p> {{ getStatusName(worker.status) }} </p>
        <p> {{ worker.created_timestamp | date : 'MM-dd-yyyy h:mm:ss' }}</p>
      </md-list-item>
    </md-list>

  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Task Detail</h1>
    </md-toolbar>
    <md-content layout-padding>
      <h1> Name: {{ worker.task_worker.worker.alias }} </h1>
      <p>  Status: {{ getStatusName(worker.status) }} </p>
      <p>  Start: {{ worker.created_timestamp | date : 'MM-dd-yyyy h:mm:ss' }}</p>

      <p>Detail blah blah blah</p>

      <md-button ng-click="close()" class="md-primary">
        Close
      </md-button>
    </md-content>
  </md-sidenav>

</div>

