

<div class="container">
   

  <div class="col-md-3">
    <div class="text-center" ng-class="'text-' + getStatusColor(filter)">
      <span style="font-size: 80px">{{ getPercent(workers, filter) }}</span>
      <span style="font-size: 40px">%</span>
    </div>
    <div class="progress">
      <div ng-repeat="(key, value) in workers | countBy: 'status'" class="progress-bar" ng-class="'status-' + getStatusColor(key)" style="width:{{ value | percent: workers.length }}%; opacity: {{ filter && filter !== key ? '0.3' : ''}}" ng-click="selectStatus(key)">{{ value }}</div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-o"></i> &nbsp; {{ workers[0].template_item.name }}</h3>
      </div>
      <div class="panel-body">
      <h4>{{workers[0].template_item.template.name}}</h4>
      <p>
        {{workers[0].template_item.template.source_html}}
      </p>
      </div>
    </div>

  </div>

  <div class="col-md-9">
    <div class="table-responsive ">
      <table class="table table-bordred table-striped table-hover">
        <thead>
          <th ng-click='orderTable("alias")'>Alias</th>
          <th ng-click='orderTable("status")'>Status</th>
          <th ng-click='orderTable("start")'>Start</th>
          <!-- <th>Detail</th> -->
        </thead>
        <tbody>
          <tr ng-repeat="worker in workers | orderBy: order | filterBy: ['status'] : filter" class="text-left">
          <!-- ng-click="showModal(worker)" --> 
            <td>{{worker.task_worker.worker.alias}}</td>
            <td>
              <span class="label" ng-class="'status-' + getStatusColor(worker.status)">{{ getStatusName(worker.status) }}</span>
            </td>
            <td>{{ worker.created_timestamp | date : 'MM-dd-yyyy h:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <span class="label" ng-class="'status-' + getStatusColor(selectedWorker.status)">{{ getStatusName(selectedWorker.status) }}</span>
        {{ selectedWorker.name }}
        </h4>
      </div>
      <div class="modal-body">
        <p>{{ selectedWorker.start }}</p>
        <p>{{ selectedWorker.end }}</p>
        <img src="{{ selectedWorker.status == 1 ? 'http://www.flairbuilder.com/img/wireframe-samples/wireframe-example-large-1.png' : 'http://keynotopia.com/images/clip_image004.jpg'}}" alt="" style="width:100%">

        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

 -->