  
<div class="row text-center">
  <h1>Post a new task</h1>
</div> 

<div class="container" ng-controller="taskCreateController">
  
  <div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">      
      <div class="stepwizard-step" ng-repeat="step in [1,2,3,4]">
        <span class="btn btn-circle" ng-class="currentStep === step ? 'btn-primary' : 'btn-default'" ng-click="showStep(step)">{{step}}</span>
        <p>Step {{step}}</p>
      </div>
    </div>
  </div>
  
  <form role="form" action="" method="post">
  
    <div class="row step-content" id="step-1" ng-show="currentStep == 1">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Step 1: Choose the Ctagory</h3>
          <div class="col-xs-3 text-center"><i class="fa fa-cogs fa-5x"></i><div class="Engineering"><h7>Engineering</h7></div></div> 
          <div class="col-xs-3 text-center"><i class="fa fa-camera-retro fa-5x"></i><div class="Photography"><h7>Photography</h7></div></div>
          <div class="col-xs-3 text-center"><i class="fa fa-file-code-o fa-5x"></i><div class="Programming"><h7>Programming</h7></div></div>
          <div class="col-xs-3 text-center"><i class="fa fa-line-chart fa-5x"></i><div class="Trend Analysis"><h7>Trend Analysis</h7> </div></div>        

          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" ng-click="showStep(2)" >Next</button>          
        </div>
      </div>
    </div>  

    <div class="row step-content" id="step-2" ng-show="currentStep == 2">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Step 2: Basic Information</h3>
          <div class="form-group">
            <label class="control-label">Name</label>
            <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Project Name"  />
          </div>
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Enter Project Description"></textarea>
          </div>        
          <div class="form-group">
            <label class="control-label">Deadline</label>
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" ng-click="showStep(3)" >Next</button>
        </div>
      </div>
    </div>

    <div class="row step-content" id="step-3" ng-show="currentStep == 3">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Step 3: Requirement Information</h3>
          <div class="form-group">
            <label class="control-label">Estimated Budget</label>
            <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
          </div>
          <div class="form-group">
            <label class="control-label">Skilled Required</label>
            <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address"  />
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>

    <div class="row step-content" id="step-4" ng-show="currentStep === 4">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3> Step 4: Additional Information</h3>
          <div class="form-group">
            <label class="control-label">Extra Information</label>
            <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Extra Information"  />
          </div>          
          <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
        </div>
      </div>
    </div>


      
    </div>

  </form>
  
</div>


<style>
stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}  
</style>