{% load staticfiles compress %}
<html lang="en" ng-app="crowdsource">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="neilg, dmorina">

    <title>daemo</title>
    <!-- Custom CSS -->
    <!--link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'-->
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,500,400italic' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'bower_components/angular-material/angular-material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>

<body ng-controller="HomeController as ctrl">

<div layout="column" class="_content-body" ng-controller="NavbarController as navCtrl">

    <div class="_header" layout="row" ng-if="isLoggedIn" ng-cloak>
        <md-toolbar class="_main-toolbar">
            <div class="md-toolbar-tools" flex>
                <div flex="25" flex-gt-sm="15" layout="row" layout-align="start center">
                    <svg class="_nav-logo" viewBox="0 0 88 125" enable-background="new 0 0 88 125">
                        <g>
                            <path d="M69.4,64.5c1.2,4.9,1.9,9.8,1.9,14.6c0,17.8-13.1,28.9-26.7,28.9C26,108,16.7,92.7,16.7,81
		c0-14,9.6-26.7,27.9-26.7c6.5,0,12.6,1.3,18.1,3.7c1.1,0.5,2.2,1.1,3.4,1.8C64.7,55.4,62,47.6,58,40.1c-0.3-0.1-0.5-0.2-0.8-0.2
		c-3.9-1.1-8.1-1.7-12.6-1.7C14.9,38.2,0.8,61.3,0.8,81c0,19.7,14.7,43,43.8,43c30.3,0,42.2-27.4,42.2-43c0-0.1,0-0.1,0-0.2
		C82.3,74.1,75.7,68,69.4,64.5z"/>
                            <path d="M56.2,35.3c0.1,0.2,0.2,0.3,0.3,0.5c6.8,1.8,15.7,6.5,22.8,12.1C71.4,28.6,59.5,11.7,53.6,6.1
		c-8.2-8-16.1-3-20.2,2.2C37.4,12.3,48.1,22.6,56.2,35.3z"/>
                        </g>
                    </svg>
                </div>
                <div flex layout="row" layout-align="end center">
                    <ng-include ng-if="isLoggedIn" src="'/static/templates/layout/top_navigation.html'"></ng-include>
                </div>
            </div>
        </md-toolbar>
    </div>

    <div ng-if="!isLoggedIn" ng-cloak>
        <div flex layout="row" layout-align="center start">
            <h1 class="md-display-3" layout="column" layout-align="center"><img src="/static/images/logo.svg"> DAEMO
            </h1>
        </div>
        <div flex layout="row" layout-align="center">
            <md-button class="md-raised md-primary" ng-href="/login">Sign In</md-button>
            <md-button class="md-raised md-accent" ng-href="/register">Register</md-button>
        </div>
    </div>

    <div class="_wrapper" role="main" tabindex="-1" layout="column">
        <div ng-view=""></div>
    </div>
</div>

{% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/gsap/src/minified/TweenMax.min.js' %}"></script>
{% endcompress %}
{% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ngFx/dist/ngFx.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-loading-bar/src/loading-bar.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-filter/dist/angular-filter.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-dragdrop/src/angular-dragdrop.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ng-sortablejs/Sortable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ng-sortablejs/ng-sortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/ng-file-upload/ng-file-upload-shim.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/angular-clipboard/angular-clipboard.js' %}"></script>
{% endcompress %}
{% compress js %}
    <script type="text/javascript" src="{% static 'js/crowdsource.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.interceptor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crowdsource.directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/http.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/localstorage/localstorage.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/localstorage/services/localstorage.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/authentication/controllers/auth-settings.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/controllers/accountmenu.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/home/home.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/controllers/home.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/requester/requester.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/requester/controllers/requester.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/requester/services/requester.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/rating/rating.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rating/controllers/rating.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rating/services/rating.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rating/directives/check-rating.directive.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/task/task.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/task/services/task.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/task/controllers/task.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/skill/skill.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/skill/services/skill.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/helpers/helpers.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/helpers/services/helpers.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/worker/worker.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/worker/controllers/worker.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/worker/controllers/workeraccount.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/worker/services/worker.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/user/user.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/user/controllers/user.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/user/services/user.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/project/project.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/controllers/project.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/controllers/my-project.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/controllers/project-review.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/controllers/my-tasks.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/services/project.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/contributor/contributor.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contributor/controllers/contributor.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contributor/services/contributor.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/payment/payment.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/payment/controllers/payment.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/payment/services/payment.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/task-feed/task-feed.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/task-feed/controllers/task-feed.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/task-feed/services/task-feed.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/task-worker/task-worker.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/task-worker/services/task-worker.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/template/template.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template/controllers/template.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template/services/template.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template/directives/template.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/drive/drive.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/drive/controllers/drive.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/drive/services/drive.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/data-table/data-table.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data-table/controllers/data-table.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data-table/directives/data-table.directive.js' %}"></script>
{% endcompress %}
</body>
</html>
