<div class="container bs-docs-container">
  <div class="row">

    <div class="col-md-3">
      <ng-include src="'/static/templates/worker/account-navbar.html'"></ng-include>
    </div>
    <div class="col-md-9">

      <div class="row text-center" ng-controller="WorkerAccountController as vm">
        <h1 class="page-header">
          Edit skills
        </h1>
        
        <div class="skills-div">
          <ul class="list-group">
              <li ng-repeat="skill in user.skills" class="list-group-item">
                <div>
                  <span>{{skill.name}}</span>
                  <button class="btn pull-right" ng-click="removeSkill(skill)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </div>
                </li>
          </ul>
        </div>
        <form name="skillsform" class="form-horizontal" ng-submit="addSkill()" novalidate>
          <div class="form-group">
            <label for="skillInput" class="col-sm-2 control-label">Add Skill</label>
            <div class="col-sm-8">
              <input type="text" ng-model="selectedSkill" typeahead="skill as skill.name for skill in skills | filter:$viewValue | limitTo:8" class="form-control" id="skillInput" name="skill" required>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>