<!-- Sidebar -->
<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top"
  ng-controller="AccountMenuController as vm">
  <ul class="nav bs-docs-sidenav">
              
    <li ng-class="getClass('/basic-info')"><a href="/profile/basic-info">Basic Info</a></li>
    <li ng-class="getClass('/skills')"><a href="/profile/skills">Skills</a></li>
    <li ng-class="getClass('/realtime-tasks')"><a href="/profile/realtime-tasks">Realtime Tasks</a></li>
    <li ng-class="getClass('/payments')"><a href="/profile/payments">Payments</a></li>
    <li ng-class="getClass('/claims')"><a href="/profile/claims">Claims</a></li>
    <li ng-class="getClass('/account-info')"><a href="/profile/account-info">Account Info</a></li>
    <li ng-class="getClass('/change-password')"><a href="/profile/change-password">Change Password</a></li>


              
  </ul>  
</nav>
<!-- /#sidebar-wrapper -->