<div>
    <div class="check-holder check-minus pointer-cursor" ng-click="clickHandler('minus', model)">
        <span ng-class="{active: selected === 'minus' }">&#10003;-</span>
    </div>
    <div class="check-holder check pointer-cursor" ng-click="clickHandler('neutral', model)">
        <span ng-class="{active: selected === 'neutral'}">&#10003;</span>
    </div>
    <div class="check-holder check-plus pointer-cursor" ng-click="clickHandler('plus', model)">
        <span ng-class="{active: selected === 'plus' }">&#10003;+</span>
    </div>
</div>
