<div layout="row" layout-align="start center">
    <div class="check-holder check-minus pointer-cursor" ng-click="clickHandler(1, model)">
        <span ng-class="{active: selected === 1 }">
            <md-icon md-svg-src="/static/images/ic_checkminus_black_24px.svg" class="md-48"></md-icon>
            <md-tooltip ng-if="model.reviewType=='requester'">Provide last access to my tasks</md-tooltip>
            <md-tooltip ng-if="model.reviewType=='worker'">Show the tasks at bottom of my task-feed</md-tooltip>
        </span>
    </div>
    <div class="check-holder check pointer-cursor" ng-click="clickHandler(2, model)">
        <span ng-class="{active: selected === 2}">
            <md-icon md-svg-src="/static/images/ic_check_black_24px.svg" class="md-48"></md-icon>
            <md-tooltip ng-if="model.reviewType=='requester'">Provide normal access to my tasks</md-tooltip>
            <md-tooltip ng-if="model.reviewType=='worker'">Show the tasks in middle of my task-feed</md-tooltip>
        </span>
    </div>
    <div class="check-holder check-plus pointer-cursor" ng-click="clickHandler(3, model)">
        <span ng-class="{active: selected === 3 }">
            <md-icon md-svg-src="/static/images/ic_checkplus_black_24px.svg" class="md-48"></md-icon>
            <md-tooltip ng-if="model.reviewType=='requester'">Provide early access to my tasks</md-tooltip>
            <md-tooltip ng-if="model.reviewType=='worker'">Show the tasks at top of my task-feed</md-tooltip>
        </span>
    </div>
</div>
