<md-data-table class="table">
    <div class="md-data-table-card-header" layout="row" layout-align="start center">
        <div class="md-data-table-card-header-title" flex="35">Rank workers</div>
    </div>
    <div class="table-content">
        <div class="md-data-table-header" layout="row" layout-align="start center">
            <div class="md-data-table-header-column" flex="40" layout="row" layout-alignment="start center" ng-class="{'sorted': project.config.order_by==='worker'}">
                <i ng-if="project.config.order_by==='name'" class="material-icons {{project.config.order}}">arrow_forward</i>
                Worker
            </div>
            <div class="md-data-table-header-column" flex layout="row" ng-class="{'sorted': project.config.order_by==='rating'}" layout-alignment="start center">
                <i ng-if="project.config.order_by==='status'" class="material-icons {{project.config.order}}">arrow_forward</i>
                Rating
            </div>
        </div>
        <md-divider></md-divider>
        <div>
            <div ng-repeat="item in ranking.pendingRankings">

                <div>
                    <div class="md-data-table-row" layout="row" layout-align="start center"
                         ng-class="{'md-data-table-last-row': $last, 'selected': project.isSelected(item)}" ng-click="project.openProjectModules(item.id)">
                        <div class="md-data-table-row-cell cell-text" flex="40">{{item.worker_alias}}</div>
                        <div class="md-data-table-row-cell cell-text" flex>stars </div>
                        <div class="md-data-table-row-cell cell-text" flex="40">{{item.name}}</div>
                        <div class="md-data-table-row-cell cell-text" flex>{{ project.getStatusName(item.modules[0].status) }} </div>
                    </div>
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!ranking.pendingRankings.length" class="animate-show">
        <div class=" md-data-table-footer md-data-table-row md-data-table-row-cell cell-text" layout="row" layout-align="start center">No workers found!</div>
        <md-divider></md-divider>
    </div>

</md-data-table>