  <div class="row text-center">
                 <strong><class="glyphicon glyphicon-dashboard">Requester Leaderboard</strong>
    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <br> Hall of Fame
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-star"></i>
                            <br>Top Performers
                            </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-asterisk"></i>
                            <br>Average Performers
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-stop"></i>
                            <br> Hall of Shame
                        </a>
                    </div>
            </div>
<div class="panel panel-default center">
                        <div class="panel-heading center">
                        <div class="panel-body">

                            <div class="col-xs-3 text-center"><i class="fa fa-cogs fa-5x"></i><div class="Engineering"><h7>Engineering</h7></div></div>
                            <div class="col-xs-3 text-center"><i class="fa fa-camera-retro fa-5x"></i><div class="Photography"><h7>Photography</h7></div></div>
                            <div class="col-xs-3 text-center"><i class="fa fa-file-code-o fa-5x"></i><div class="Programming"><h7>Programming</h7></div></div>
                            <div class="col-xs-3 text-center"><i class="fa fa-line-chart fa-5x"></i><div class="Trend Analysis"><h7>Trend Analysis</h7> </div></div>

	                 </div></div>

        <div class="panel col-sm-3">
                         <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                            <li><a href="#Experties" data-toggle="tab">Experties</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="profile">
                                <h4><i class="glyphicon glyphicon-user"></i></h4>                             </div>
                            <div class="tab-pane well" id="Experties">
                                <h4><i class="glyphicon glyphicon-comment"></i></h4>
                            </div>
                        </div>


       <div class="panel panel-default">
                        <div class="panel-heading sm-3">
                            <h4>Performance</h4></div>
                        <div class="panel-body">

                            <small>Fairness</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                                    <span class="sr-only">72% Complete</span>
                                </div>
                            </div>
                            <small>Operational Speed</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                            <small>Professionalism</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                            <small>Communication</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                        <!--/panel-body-->
                    </div>

                    </div>
  </div>
  <div class="col-sm-8">
    <div class="test" ng-controller="RankingController">
<table st-table="ranking" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="Requester_Name">Requester Name</th>
				<th st-sort="Communicativity">Communicativity</th>
				<th st-sort="Fairness">Fairness</th>
				<th st-sort="Generosity">Generosity</th>
			    <th st-sort="Promptness">Promptness</th>
			    <th st-sort="Total_Reviews">Total Reviews</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in ranking">
				<td>{{row.requester_name}}</td>
				<td>{{row.requester_communicationRank}}</td>
				<td>{{row.requester_fairRank}}</td>
				<td>{{row.requester_payRank}}</td>
				<td>{{row.requester_speedRank}}</td>
                <td>{{row.requester_numberofReviews}}</td>
			</tr>
			</tbody>
		</table>
         </div>
    </div>

         </div>
    </div>




