{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<html ng-app="requester_dashboard">

<head>
    <title>HITS</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
    <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/font-awesome.css' %}" />

    <!-- CUSTOM STYLES-->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/custom.css' %}" />

    <!-- MORRIS CHART STYLES-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/js/morris/morris-0.4.3.min.css' %}" />

    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   {% endcompress %}

  {% block title %}{% endblock title %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Requester</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Last access : 21 April 2015 &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>
         </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
                    </li>
                
                    
                    <li>
                        <a class="active-menu"  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                     <!--li>
                        <a  href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                    </li-->
                    <li>
                        <!--a  class="active-menu" href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> HITs</a>

                        <!li-->
                        <a href="hits.html"><i class="fa fa-sitemap fa-3x"></i>HITS<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="hits.html">HIT Tracking</a>
                            </li>
                            <li>
                                <a href="hitcreation.html">HIT Creation</a>
                            </li>
                            
                        </ul>
                      </li> 
                    <li  >
                        <a  href="workersdb.html"><i class="fa fa-table fa-3x"></i> Workers Database</a>
                    </li>
                    <li  >
                        <a   href="finance.html"><i class="fa fa-bar-chart-o fa-3x"></i> Finance Tracking</a>
                    </li>   

                    <li  >
                        <a  href="activities.html"><i class="fa fa-edit fa-3x"></i> My Activities </a>
                    </li>               
                    
                  <li  >
                        <a  href="help.html"><i class="fa fa-square-o fa-3x"></i> Help</a>
                    </li>                       
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Tracking HITs</h2>   
                        <!--h5>Welcome! Love to see you back. </h5-->
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
            <h4>Current HITs</h4>                     
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            HIT 1: HIT Name
                        </div>
                        <div class="panel-body">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            <p>HIT Deadline: mm-dd-yyyy at hh:mm (timezone) </p> 
                        </div>
                        <div class="panel-footer">
                            Status: Delivered (under review)
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            HIT 2: HIT Name
                        </div>
                        <div class="panel-body">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            <p>HIT Deadline: mm-dd-yyyy at hh:mm (timezone) </p> 
                        </div>
                        <div class="panel-footer">
                            Status: In-progress
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            HIT 3: HIT Name
                        </div>
                        <div class="panel-body">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            <p>HIT Deadline: mm-dd-yyyy at hh:mm (timezone) </p> 
                        </div>
                        <div class="panel-footer">
                            Status: In-progress
                        </div>
                    </div>
                </div>
            </div>
            <h4>Future HITs</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            HIT Posted (not yet taken)
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">HIT #1</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">HIT #2</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">HIT #3</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Past HITs</h4>
            <div class="row">                     
                      
                               <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bar Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart"></div>
                        </div>
                    </div>               
                </div>


            </div>

             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <!--script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <!--script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <!--script src="assets/js/jquery.metisMenu.js"></script>
         <!-- MORRIS CHART SCRIPTS -->
     <!--script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <!--script src="assets/js/custom.js"></script-->

          {% compress js %} 
        <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-loading-bar/build/loading-bar.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-strap/dist/angular-strap.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-strap/dist/angular-strap.tpl.min.js' %}"></script>

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <!--script src="assets/js/jquery-1.10.2.js"></script-->
    <script type="text/javascript" src="{% static 'bower_components/jquery/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
   <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/jquery.metisMenu.js' %}"></script>
         <!-- MORRIS CHART SCRIPTS -->
     <!--script src="assets/js/morris/raphael-2.1.0.min.js"></script-->
    <script type="text/javascript" src="{% static 'bower_components/js/morris/raphael-2.1.0.min.js' %}"></script>
    <!--script src="assets/js/morris/morris.js"></script-->
    <script type="text/javascript" src="{% static 'bower_components/js/morris/morris.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
     {% endcompress %}

    
   
</body>
</html>
