<div class="bg-network">
  <div layout="row" layout-align="center">
    <!-- light section logo-overlay -->
    <!-- logo-container -->
    <div class="logo-overlay" flex-xs="100" flex="60">
      <div class="logo-container">
        <h2 class="logo-text">Who did your advisor know in grad school?: crowdsourcing PhD graduation dates</h2>
        <p class="logo-subtitle">OH NO I'M GETTING OLD</p>
        <p class="logo-subtitle"><a href="http://hci.stanford.edu/msb">Michael Bernstein</a>, Aug 22 2017</p>
      </div>
    </div>
  </div>
</div>


<div class="light section textblock" id="intro">
  <div layout="row" layout-align="center" layout-margin="">
    <div flex-xs="90" flex="60" class="free-height">
      <p>I tried a bunch of different combinations of crowdsourcing and the <a href="http://labs.semanticscholar.org/corpus/">Semantic Scholar corpus</a> before landing on this one. For example, normalizing failure — what were our least cited papers in grad school? Or experimenting with normalized citation counts for CHI as per the bibliometrics literature. But ultimately I went with a simple one: who knew each other in graduate school?</p>

      <p>Here are the results, HCI edition: <a href="https://mbernst.github.io/gradschoolfriends/">Who did your advisor know in grad school?</a></p>

      <p>We often forget that our academic heroes were once graduate students too, and that many of them got to know each other back as young'ins. I didn't know, for example, that my Stanford colleague James Landay graduated the same year as Paul Dourish, or that the HCI superstar graduation rate started skyrocketing in the late 90's.</p>

      <p>I created an initial set of people to tag by looking at the Semantic Scholar corpus for coauthors on at least 15 CHI, UIST, UbiComp or CSCW papers. It's a rough and inaccurate index, I know, but gave me enough to get started. I then asked workers on Daemo to search the web for these authors' curriculum vitaes or other information that would indicate when they finished their PhDs. Finally, I linked it back to the Semantic Scholar corpus to identify, for each author, the highest-cited paper they published before they finished their PhDs.</p>

      <p>Please add yourself via the spreadsheet if you'd like!</p>

      <div class="project-preview">
        <div project-preview="186"></div>
      </div>

      <p>Feel free to ping me at <a href="mailto:msb@cs.stanford.edu">msb@cs.stanford.edu</a> or <a
        href="http://twitter.com/msbernst">@msbernst</a>. If you'd like to get access to Daemo to try it out while we finish developing it as a research crowdsourcing platform, let me know. Thanks to Daemo workers Scott, GB, and JS70 for their contributions to this project!</p>
    </div>
  </div>
</div>
