$primary: #3F51B5;
$warn: #b71c1c;
$success: #009688;
$secondary: #FFA000;

html, body {
  background-color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
}

.default-padding {
  padding-left: 16px;
}

.main-search {
  margin-left: 30px;
  height: 32px;
  .md-autocomplete-wrap {
    height:32px;
  }
}

md-toolbar {
  .md-button {
    text-transform: capitalize;
  }
}

.authentication-form {
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.authentication-error {
  color: #f44336;
  font-size: 12px;
  font-weight: 500;
}

.transparent-background {
  background-color: transparent;
}

.clickable:hover {
  color: #3F51B5;
  text-decoration: underline;
  cursor: pointer;
}

.pointer-cursor {
  cursor: pointer;
}

md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle{
  border-top-color: #2196f3;
  border-right-color: #2196f3;
}

md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #2196f3
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-list md-list-item.md-3-line .md-list-item-text h4{
  line-height:1.5em;
}

md-toolbar .md-button.md-active{
  color:#FBF5AB;
}

.md-margin-0{
  margin-top: 0;
  margin-bottom: 0;
}

.md-bg-white{
  background-color: white;
  color:black;
}

.md-bg-primary{
  background-color: $primary;
  color:white;
  md-icon{
    color:white;
  }
}

.md-bg-secondary{
  background-color: $secondary;
  color:white;
  md-icon{
    color:white;
  }
}

.md-bg-warn{
  background-color: $warn;
  color:white;
  md-icon{
    color:white;
  }
}

.md-bg-success{
  background-color: $success;
  color:white;
  md-icon{
    color:white;
  }
}

md-toast.md-bottom {
  position: fixed;
}

.md-16{
  font-size: 16px;
}