@import 'variables';

html, body, md-content {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-feature-settings: 'kern';
    text-rendering: optimizelegibility;
    //height: 100%;
    width: 100%;
    overflow-x: hidden;
}

button, input, select, textarea, md-select {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
}

.default-padding {
    padding-left: 16px;
}

._main-toolbar {
    //background: $base linear-gradient(to bottom, $base, $blue_end);
    //background: $aspirin_blue linear-gradient(to bottom, $aspirin_blue, $aspirin_blue);
    background-color: $blue_end; // linear-gradient(to bottom, $aspirin_blue, $aspirin_blue);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    min-height: 64px;
    position: relative;
    width: 100%;
    z-index: 2;

    @media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
        .md-toolbar-tools {
            height: 64px;
            max-height: 64px;
        }
    }
}

._gradient {
    background-color: $base;
    background-image: radial-gradient(40% 60% at 5% 10%, rgba($purple_start, 0.7) 50%, transparent),
    radial-gradient(24% 24% at 45% 1%, rgba($header_green, 0.4) 20%, transparent),
    radial-gradient(16% 16% at 30% 1%, rgba($header_yellow, 0.5) 20%, transparent),
    radial-gradient(25% 25% at bottom right, rgba($blue_end, 0.7), $base, transparent);
}

._homepage {
    //position: absolute;
    top: 0;
    //bottom: 0;
    //display: flex;
    //flex-direction: column;
    //min-height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: $blue_end;

    & ._auth-form {
        position: relative;
        width: 384px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        padding: 8px 64px;
        color: #000;
        & h3 {
            color: rgba(0, 0, 0, 0.54);
        }
        & md-input-container {
            margin: 0;
        }
        & ._auth-footer {
            padding-top: 8px;
            text-align: center;
        }
        & a {
            color: $light_blue;
            text-decoration: none;
            border-bottom: solid 1px $light_blue;
        }
    }
    & ._body {
        text-align: center;
        height: 100%;
    }
    & ._name {
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase;
    }
    & ._nav-logo {
        margin-top: 5%;
        margin-bottom: 20px;
    }
    & ._main-message {
        font-weight: 500;
        font-size: 26px;
        &._first {
            margin-top: 5%;
        }
        //margin-bottom: 10px;

    }
    & ._text {
        font-size: 18px;
    }
    & ._form {
        margin-bottom: 50px;
        margin-top: 5%;
        position: relative;
        & md-input-container {
            padding: 0;
            margin: 0;
            & .md-errors-spacer {
                display: none;
            }
        }
        & md-input-container .md-input {
            background-color: #ffffff;
            height: 40px;
            line-height: 32px;
            margin: 0;
            padding: 0 0 0 6px;
            width: 384px;
            font-weight: 500;
            font-size: 16px;
            border: none;
            &:focus {
                border-bottom-color: #ffffff;
            }
        }
        & .md-button {
            margin: 0 0 0 -4;
            padding: 0;
            text-transform: none;
            background-color: $accent_pink;
            border-radius: 0;
            height: 40px;
            min-width: 128px;
            font-weight: 500;
            font-size: 16px;
            &:hover {
                background-color: $accent_pink;
            }
        }
        & ._login {
            margin-top: 8px;
            font-size: 14px;
            & a {
                color: $accent_pink;
                text-decoration: none;
                border-bottom: solid 1px $accent_pink;
            }
        }

    }
}

._content-body {
    min-width: 768px;
}

._header {
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: $base;
    z-index: 10;

}

._nav {
    position: relative;
    min-width: 384px;
}

._nav-logo {
    fill: #fff;
    height: 56px;
    &._medium {
        height: 144px;
    }
}

._wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

._main-wrapper {

}

md-toolbar {
    min-height: 75px;
}

._nav-list-items {
    display: inline-block;
    height: 40px;
    white-space: nowrap;
    list-style: none;
    font-size: 0;
    float: right;
}

._nav-list-item {
    display: inline-block;
    text-transform: capitalize;
    font-size: 0;
    vertical-align: middle;
    & a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 16px 12px;
        outline: none;
        -webkit-transition: border-bottom-color 0.1s ease-out 0s;
        -moz-transition: border-bottom-color 0.1s ease-out 0s;
        -o-transition: border-bottom-color 0.1s ease-out 0s;
        transition: border-bottom-color 0.1s ease-out 0s;
        border-top: solid 4px rgba(255, 255, 255, 0);
        &._active {
            border-top-color: rgba(255, 255, 255, 1);
        }
    }
    ._nav-actions {
        margin: 0;
        min-width: 24px;
        min-height: 24px;
        font-size: 0;
        //top: -4px;
    }
}

._nav-list-item a:not(._active):hover {
    border-top-color: rgba(255, 255, 255, 0.54)
}

._main-content {
    //margin-top: -22px;
    //min-height: calc(100vh - 64px);
    font-size: 14px;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 109px;
    width: 0;

    &._relative {
        margin-top: 53px;
        overflow: hidden;
    }
}

._middle-content {
}

._gt-sm {
    min-width: 960px;
}

._sm {
    min-width: 768px;
}

.z-index-high {
    z-index: 40;
}

._content-nav {
    height: 56px;
    //border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    color: $blue_end;
    position: fixed;
    top: 53px;
    //width: 768px;
    min-width: 768px;
    z-index: 12;
    background-color: #ffffff;
    & ._nav-title {
        font-weight: 500;
        font-size: 18px;
        color: $blue_end;
    }
    & .md-button:not(._text-button) {
        min-width: 24px;
        color: inherit;
        & md-icon {
            color: inherit;
            opacity: 0.87;
        }
    }
    & md-icon {
        color: inherit;
        opacity: 0.87;
    }
    & a {
        & md-icon {
            margin-top: 6px;
        }
    }
    & ._content-actions {
        margin: auto 12px auto auto;
        position: relative;

    }
    &._relative {
        position: relative;
        top: 0;
    }
}

._icon-18 {
    font-size: 18px;
    height: 18px;
    width: 18px;
}

._icon-text {
    font-size: 14px;
    padding-left: 4px;
    padding-right: 12px;
    text-align: right;
}

._main-content-body {
    //width: 768px;
    width: 100%;
}

._ml-24 {
    margin-left: 24px;
}

._ml-16 {
    margin-left: 16px;
}

._mr-16 {
    margin-right: 16px;
}

._mt-16 {
    margin-top: 16px;
}

._mb-16 {
    margin-bottom: 16px;
}

._mt-4 {
    margin-top: 4px;
}

._mr-24 {
    margin-right: 24px;
}

._text-constrained {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-search {
    margin-left: 30px;
    height: 32px;
    .md-autocomplete-wrap {
        height: 32px;
    }
}

._project-name {
    font-weight: 500;
    font-size: 18px;
}

.authentication-form {
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.authentication-error {
    color: #f44336;
    font-size: 12px;
    font-weight: 500;
}

.clickable:hover {
    color: #3F51B5;
    text-decoration: underline;
    cursor: pointer;
}

.pointer-cursor {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

md-list md-list-item.md-3-line .md-list-item-text h4 {
    line-height: 1.5em;
}

//md-toolbar .md-button.md-active{
//  color:#FBF5AB;
//}

.md-margin-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.md-bg-white {
    background-color: white;
    color: $primary;
}

.md-bg-primary {
    background-color: $primary;
    color: white;
    md-icon {
        color: white;
    }
}

.md-bg-accent {
    background-color: $accent;
    color: $primary;
    md-icon {
        color: $primary;
    }
}

.md-bg-secondary {
    background-color: $secondary;
    color: $primary;
    md-icon {
        color: $primary;
    }
}

.md-bg-warn {
    background-color: $warn;
    color: white;
    md-icon {
        color: white;
    }
}

.md-bg-success {
    background-color: $success;
    color: white;
    md-icon {
        color: white;
    }
}

.md-bg-background {
    background-color: $background;
}

.md-text-primary {
    color: $primary;
}

.md-text-secondary {
    color: $secondary;
}

.md-text-warn {
    color: $warn;
}

.md-text-success {
    color: $success;
}

md-toast.md-bottom {
    position: fixed;
}

.md-16 {
    font-size: 16px;
}

.md-32 {
    font-size: 32px;
}

.md-48 {
    font-size: 48px;
}

md-checkbox.md-checked .md-icon:after, md-radio-button.md-checked .md-off {
    border-color: $primary;
}

md-radio-button .md-on {
    background-color: $primary;
}

md-dialog.centered-dialog {
    max-height: 500px;
    width: 75%;
}

.pagination {
    margin-bottom: 30px;
    margin-top: 30px;

    button {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        min-width: 40px;

    }
    .active {
        background-color: #E3F2FD;
    }
}

span.inset {
    padding: 0 5px;
}

.no-surround {
    margin: 0;
    padding: 0;
}

.sub-row {
    padding-top: 5px;
}

a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.md-icon-button.my-projects-icon-button {
    margin: 10px;
}

._centered {
    margin-left: auto;
    margin-right: auto;
}

._sub-header {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    font-size: 14px;
}

._user-alias {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 13px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.54);
    display: inline-block;
    &._no-border {
        padding-right: 6px;
        border-bottom: none;
    }
}

._small-button .md-button {
    min-width: 24px;
    margin-bottom: 0;
    color: inherit;
    & md-icon {
        color: inherit;
        opacity: 0.87;
    }
}

$list-h3-margin: 0 0 0px 0 !default;
$list-header-line-height: 1.2em !default;
$list-p-margin: 0 0 0 0 !default;
$list-p-line-height: 1.6em !default;
@function rem($multiplier) {
    $font-size: 10px;
    @return $multiplier * $font-size;
}

._md-list-item-text {
    flex: 1;
    margin: auto;
    text-overflow: ellipsis;
    h3 {
        font-size: rem(1.400);
        font-weight: 500;
        letter-spacing: 0.010em;
        margin: $list-h3-margin;
        line-height: $list-header-line-height;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p {
        font-size: rem(1.400);
        font-weight: 400;
        letter-spacing: 0.010em;
        margin: $list-p-margin;
        line-height: $list-p-line-height;
        color: rgba(0, 0, 0, 0.54);
    }
}

md-radio-button {
    outline: none;
}

img.circular {
    border-radius: 50%;
}

._small-note {
    font-size: $font_small;
}

._error {
    color: $error_color;
    font-weight: 500;
    padding-bottom: 8px;
    &._small {
        font-size: $font_small;
    }
}

._small-container {
    height: 40px;
    margin-bottom: 4px;
}

._tooltip {
    position: absolute;
    right: 0;
    top: -125px;
    &._small {
        top: -82px;
    }
    font-size: 12px;
    padding: 4px 5px;
    & ._main-text {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
    }
    color: rgba(0, 0, 0, 0.54);
    background-color: $medium-grey;
    width: 128px;
    &:after {
        content: ' ';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        bottom: -14px;
        right: 0;
        border-width: 0 13px 15px 0;
        border-color: transparent $medium-grey transparent transparent;
    }
}

._row-item {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0 36px 16px;
    height: 54px;
    //background-color: #f6f7f9;
    background-color: #ffffff;
    outline: none;
    overflow: hidden;
    &._expanded {
        min-height: 380px;
        //height: calc(100% - 64px);
    }
    & ._icon-left {
        width: 40px;
        padding-left: 20px;
    }
    & ._rheader {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        height: 37px;
        padding-top: 17px;
    }
    &:hover {
        background-color: #ffffff;
    }
}

._clickable {
    cursor: pointer;
    outline: none;
}

._dialog {
    width: 700px;
    & ._content {
        //padding: 8px;
        background-color: #e9ebee;
        height: 524px;
    }
    ._close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    ._title {
        color: rgba(0, 0, 0, 0.7);
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        margin-top: 32px;
    }
    ._secondary-text {
        color: rgba(0, 0, 0, 0.4);
        font-size: $font_small;
        margin-top: 4px;
        margin-bottom: 32px;
    }
    ._content-block {
        margin-left: 36px;
    }
    & ._margin-lr {
        margin-left: 20px;
        margin-right: 20px;
    }

    ._detail-text {
        color: rgba(0, 0, 0, 0.54);
        font-size: $font_small;
        margin-top: 4px;
        margin-bottom: 12px;
    }
    ._worker-list {
        overflow-y: auto;
        position: relative;
        height: 200px;
    }
    ._user {
        display: inline-block;
        font-size: $font_small;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
        ///margin: 2px;
        &._blocked {
            color: $error_color;
            & ._detail-secondary {
                color: rgba($error_color, 0.54);
            }
        }
        &._unblocked {
            color: rgba(0, 0, 0, 0.2);
            & ._detail-secondary {
                color: inherit;
            }
        }
        & ._detail-secondary {
            font-size: 12px;
            line-height: 20px;
        }
        & ._alias {
        }

    }
}

._inline {
    display: inline-block;
}

._link {
    outline: none;
    cursor: pointer;
    color: $aspirin_orange;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 22px;
}

._pb-12 {
    padding-bottom: 12px;
}

._pt-0 {
    padding-top: 0;
}

._badge-parent {
    position: relative;
    display: inline-block;
}

._badge-parent > ._badge {
    color: rgba(255, 255, 255, 1);
    background-color: $badge_red;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 3px;
    position: absolute;
    margin-left: 4px;
    top: -10px;
    display: inline-block;
}

._secondary-text {
    color: rgba(0, 0, 0, 0.54);
}

._font-medium {
    font-weight: 500;
}

._button-special {
    display: inline-block;
    padding: 4px;
    border: solid 1px;

    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

table th {
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
}

._pd-32 {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px
}

._link-button {
    color: $aspirin_orange;
    font-weight: 500;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 13px;
}

md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    padding-left: 0;
}

md-input-container {
    padding-left: 0;
}

._variable {
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

._text-button {
    line-height: 18px;
}

._card-list-item {
    padding: 16px;
    //min-height: 64px;
    &._draft {
        border-left: solid 4px rgba($aspirin_orange, 0.2);
    }
    &._completed {
        border-left: solid 4px rgba($aspirin_orange, 0.54);
    }

}

._card-list-text {
    font-size: large;
    color: rgba(0, 0, 0, 7);
    //padding-top: 8px;
    //padding-bottom: 8px;
    line-height: 32px;
    //font-weight: 500;
    text-transform: none;
}

._card-list-label {
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
}

._inline {
    display: inline-block;
    padding-right: 24px;
    //width: 218px;
}

._status {
    font-size: small;
    line-height: 18px;
}

._completed {
    //color: rgba($aspirin_orange, 0.87);
}

._draft {
    //color: rgba($aspirin_orange, 0.54);
}

._create-new {
    padding-top: 8px;

}

._primary-btn {
    color: rgba($aspirin_orange, 0.87);
}

._text-btn {
    font-size: x-large;
    //color: $link-color;
    //border: dashed 1px rgba(0, 0, 0, 0.2);
}

._title {
    line-height: 32px;
    //text-decoration: underline;
    cursor: pointer;
    outline: none;
    color: $blue_end;
    display: inline-block;
    max-width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._integer-block {
    width: 96px
}

._step-name {
    font-weight: 500;
    //font-size: medium;
    line-height: 26px;
}

._step-link {
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 238);
    vertical-align: middle;
    //text-decoration: none;
}

._left {
    text-align: left;
}

._irb {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    margin-left: auto;
    margin-right: auto;
    div{
        font-size: large;
        font-weight: 500;
        padding-top: 8px;
    }
}

