.contributors {
  .contributor {
    margin-bottom: 10px;

    img {
      width: 100px;
      height: 100px;
      margin-top: -65px;
    }

    md-grid-tile-footer {
      background: none;
      text-align: center;
      display: block;

      h3 {
        font-size: 14px;
        color: black;
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 0;
      }

      p {
        font-size: 10px;
        color: $light_blue;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .list{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-top: 50px;
    margin-bottom: 150px;

    .character-wrapper{
      padding-top: 0;
      padding-bottom: 15px;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    .md-list-item-text {
      font-size: 14px;

      &.character{
        margin-bottom: 10px;
      }

      p {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }

    .accented{
      color: $light_blue;
    }
  }
}