@import "variables";

.project-form {
    .step {
        padding-left: 15px;
        color: rgba(0, 0, 0, 0.34);
    }
    .step-content {
        padding: 0 16px;
    }
    .project-field {
        padding-left: 16px;
    }
    .project-actions {
        margin-top: 30px;
    }

}

.project-nav {
    background-color: $background;

    md-list {
        padding: 0;
    }

    md-list-item button.md-button:hover:not([disabled]) {
        background-color: $background;
    }
    md-list-item {
        color: $primary;
    }
    .active {
        font-weight: 700;
        padding: 12px 0;
        border-bottom: 2px solid $primary;
    }
    .md-ripple-container {
        display: none;
    }
    button.md-no-style {
        font-weight: inherit;
    }
}

ul.no-decoration-list {
    list-style-type: none;
    padding-left: 0px;
}

._authoring_content {
    margin-left: 46px;
    margin-right: 46px;
}
._template-builder {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAEklEQVQYlWNgYGCYyTAKBh8AAPRAAJoO5sCqAAAAAElFTkSuQmCC') repeat;
    margin: 10px 0 10px 0;
    min-height: 200px;
    & md-list-item .md-no-style, md-list-item.md-no-proxy {
        padding: 0;
    }
}

._item-toolbar {
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(93, 93, 93, 1);
    & .md-button {
        min-height: 24px;
        min-width: 24px;
        margin: 0 8px;
    }
    & md-icon {
        color: #ffffff;
    }
}

._vertical-divider {
    position: relative;
    height: 80%;
    border-right: solid 1px rgba(255, 255, 255, 1);
}


._project-title {
    margin: 0 5px 0 5px;
    position: relative;
    & md-input-container {
        width: calc(100% - 92px);
    }
    & md-input-container .md-input {
        //border-bottom-color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        height: inherit;

    }
}

._meta-info {
    min-height: 64px;
    background-color: #ebebeb;
    md-input-container .md-input {
        width: 72px;
    }
    ._upload-text {
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 8px;
    }
}

._meta-files {
    font-size: 14px;
    ._file-upload {
        border-bottom: solid 1px #2746a8;
        color: #2746a8;
        cursor: pointer;
    }
    ._file-action {
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-left: 4px;
        cursor: pointer;
        outline: none;
    }
}

h3.my-projects-header {
    color: black;
}

md-list-item.list-subheader {
    font-size:14px;
    font-weight:500;
    letter-spacing:.01em;
    line-height:1.2em;
    color: rgba(0,0,0,0.54);
    font-family: 'Fira Sans', sans-serif;
}

md-list-item.list-item-with-padding {
    padding-left:16;
    padding-right:16;
}
