@import "variables";

.project-form {
    .step {
        padding-left: 15px;
        color: rgba(0, 0, 0, 0.34);
    }
    .step-content {
        padding: 0 16px;
    }
    .project-field {
        padding-left: 16px;
    }
    .project-actions {
        margin-top: 30px;
    }

}

.project-nav {
    background-color: $background;

    md-list {
        padding: 0;
    }

    md-list-item button.md-button:hover:not([disabled]) {
        background-color: $background;
    }
    md-list-item {
        color: $primary;
    }
    .active {
        font-weight: 700;
        padding: 12px 0;
        border-bottom: 2px solid $primary;
    }
    .md-ripple-container {
        display: none;
    }
    button.md-no-style {
        font-weight: inherit;
    }
}

ul.no-decoration-list {
    list-style-type: none;
    padding-left: 0px;
}

._authoring_content {
    margin-left: 46px;
    margin-right: 46px;
}

._template-builder {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAEklEQVQYlWNgYGCYyTAKBh8AAPRAAJoO5sCqAAAAAElFTkSuQmCC') repeat;
    margin: 10px 0 10px 0;
    min-height: 200px;
    & md-list-item .md-no-style, md-list-item.md-no-proxy {
        padding: 0;
    }
}

._item-toolbar {
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(93, 93, 93, 1);
    & .md-button {
        min-height: 24px;
        min-width: 24px;
        margin: 0 8px;
    }
    & md-icon {
        color: #ffffff;
    }
}

._vertical-divider {
    position: relative;
    height: 80%;
    border-right: solid 1px rgba(255, 255, 255, 1);
}

._project-title {
    margin: 0 5px 0 5px;
    position: relative;
    & md-input-container {
        width: calc(100% - 92px);
    }
    & md-input-container .md-input {
        //border-bottom-color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        height: inherit;

    }
}

._meta-info {
    min-height: 64px;
    background-color: #ebebeb;
    md-input-container .md-input {
        width: 72px;
    }
    ._upload-text {
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 8px;
    }
}

._meta-files {
    font-size: 14px;
    ._file-upload {
        border-bottom: solid 1px #2746a8;
        color: #2746a8;
        cursor: pointer;
    }
    ._file-action {
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-left: 4px;
        cursor: pointer;
        outline: none;
    }
}

h3.my-projects-header {
    color: black;
}

md-list-item.list-subheader {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.2em;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Fira Sans', sans-serif;
}

md-list-item.list-item-with-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.prototype-dialog {
    width: 35%;
    .dialog-content {
        padding: 0px;
    }
    .title {
        width: 50%;
        padding-left: 16px;
        font-size: 18px;
        font-weight: 500;
    }
    .clear {
        width: 50%;
    }
    .text {
        padding-top: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 8px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
    }
    .form-content {
        padding-left: 20%;
        padding-right: 20%;
        .input {
            padding-bottom: 2px;
            width: 50%;
            .width {
                text-align: right;
            }
        }
    }

    .publish {
        color: #2e53ff;
        font-weight: 200;
        font-size: 14px;
    }
    .md-icon-button.exit:not([disabled]):hover {
        background-color: transparent;
    }
}

._t_u {
    width: 240px;
}

._t_w {
    width: 32px;
}

._t_p {
    width: 64px;
}

._t_n {
    width: 240px;
}

._review-content {
    margin-left: 52px;
    margin-right: 14px;
}

._row-clickable {
    cursor: pointer;
}

._row-clickable:hover {
    background-color: #eeeeee;
}

._row-disabled {
    opacity: 0.64;
}

._row-disabled:hover {
    cursor: auto;
    background-color: #eeeeee;
}

._review-header {
    position: fixed;
    z-index: 3;
    background-color: #fff;
    min-width: 768px;
}

._review-table-content {
    top: 56px;
    position: relative;
}

._loading-text {
    width: 200px;
    font-size: 12px;
    font-weight: 500;
    & div {
        text-align: center;
    }
}

._task-list {
    z-index: 3;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    overflow-x: hidden;
    margin:0;
    padding: 0;
}
._task-list:hover{
    overflow-y:scroll;
}

._task-list-sm {
    width: 256px;
    min-width: 255px;
}
._task-list-gt-sm {
    width: 320px;
    min-width: 319px;
}

._task-submissions {
    position: relative;
    padding-top: 16px;
    width:100%;
}
._submission-wrapper {
    height: 100%;
}
._submission-header {
    padding-left: 16px;
}

._submission {
    margin-top: 12px;
}

._result {
    margin-top: 8px;
    margin-bottom: 8px;
}

._task-active {
    background-color: #e9ebeb;
}

._no-submissions, ._no-selection {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.34);
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}

._project-name {
    white-space: nowrap;
    height: 22px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
._task-list-item {
    //height: 64px;

}
._task-entry {
    outline: none;
    cursor: pointer;
    //height: 48px;
    //overflow: hidden;
}

._entry-item {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    & p {
        margin: 0;
    }
}
._item-wrapper {
    padding: 8px 8px 8px 12px;
}
._task-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
._task-name-sm {
    width: 100px;
}
._task-name-gt-sm {
    width: 150px;
}
._task-secondary {
    //float: right;
    margin-left: auto;
    margin-right: 0;
    color: rgba(0, 0 ,0, 0.54);
}

._task-toggle {
    md-icon {
        color: #0b93d5;
    }

}
