.check-holder {
    display: inline;
    color: gray;
    font-size: 28px;
    outline:0;

    &:hover {
        color: black;
    }

    &.check-minus md-icon {
      font-size: 34px;
    }
    &.check md-icon {
      font-size: 34px;
    }
    &.check-plus md-icon {
      font-size: 34px;
    }        

    &.check-minus span.active md-icon {
        color: red;
        font-weight: bold;
    }

    &.check span.active md-icon {
        color: black;
      font-weight: bold;
    }

    &.check-plus span.active md-icon {
        color: green;
      font-weight: bold;
    }

    md-icon.md-icon-under{
      position: relative;
      top: 8px;
      left: -8px;
    }
}

md-list-item.rank-list-item{
  padding: 15px 0px;

  img{
    opacity:0.54;
  }
}