@import "variables";

._template-list-item {
  margin-top: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: solid 4px rgba($accent_blue, 0);
  &:not(._item-selected):hover {
    border-left-color: rgba($accent_blue, 0.54);
  }
}

._item-selected {
  border-left-color: rgba($accent_blue, 1);
}

._item-selected-border {
  border: solid 1px rgba($accent_blue, 1);
}

._template-item-container {
  background-color: #fff;
  border: solid 1px #eee;
  width: 100%;
  outline: none;

  .handle {
    cursor: default;
    float: left;
    position: relative;
    left: -25px;
    background-color: #eee;
    padding: 15px 0 15px;
    border-radius: 5px 0 0 5px;
    margin-right: -25px;
  }
}

._item-properties {
  background-color: #efefef;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
}

._template-item {
  outline: none;
  cursor: default;
  padding: 0 10px;
}

._question {
  width: 100%;
  .md-input {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    height: inherit;
  }
}

._select-option {
  height: 44px;
  margin-bottom: 0;
  margin-top: 0;
  & md-input-container .md-input:not(:focus) {
    border-width: 0;
  }
  & ._type-icon {
    margin-bottom: 20px;
    opacity: 0.7;
    outline: none;
  }
  & ._select-index {
    margin-bottom: 20px;
    opacity: 0.87;
    width: 24px;
    text-align: center;
  }
}

._small-button.md-button {
  margin-bottom: 20px;
  min-height: 32px;
  height: 32px;
  min-width: 24px;
  margin-left: 0;
  margin-top: 0;
  opacity: 0.7;
}

._menu-item-selected {
  background-color: rgba($dark_blue, 0.1);
}

._media-file-link {
  margin-left: 20px;
  margin-top: 15px;
}

._short-input {
  width: 128px;
  margin-right: 16px;
}

._tiny-text {
  width: 64px;
}

._short-text {
  width: 256px;
}

._long-text {
  width: 384px;
}

._text-input {
  height: 44px;
  margin-bottom: 0;
  margin-top: 0;
}

.template-item-toolbar {
  float: right;
}

.template-item-toolbar .md-button {
  min-width: 24px;
  margin-left: 0;
  margin-right: 0;
}

.image-container {
  max-width: 500px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

.template-item:focus {
  outline: none;
  min-width: 256px;
}

.rating-item:focus {
  outline: none;
  border: solid 1px #9ecaed;
  min-width: 40px;
}

.blue-border {
  border: solid 2px #9ecaed;
}

.template-container {
  .main-content {
    background-color: $background;
    max-height: none;

    .template-item {
      //padding-left:10px;

      .handle {
        cursor: pointer;
        vertical-align: top;
      }

      &.md-whiteframe-z1 {
        background-color: white;
      }

      .template-item-toolbar {
        margin-left: auto;
        margin-right: 12px;
      }

      .template-item-toolbar .md-button {
        display: none;
        margin: 0;
      }

      &:hover {
        .template-item-toolbar .md-button {
          display: flex;
        }
      }

    }
  }
  .properties {
    md-divider {
      border-top-color: $primary;
    }
  }
}

.dropdown-menu {
  background-color: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    border: 0;
    margin: 8px 0;
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
  }
;
  li:first-child {
    border-top: none;
  }
;
  li:hover, .active {
    background-color: rgba(158, 158, 158, 0.2);
  }
}

._mturk {
  & .remote-content {
    min-height: 384px;
  }
}

.template-item a {
  color: $accent_blue;
  outline: none;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $dark_blue;
  }
}
