@import "variables";

._template-list-item {
    margin-top: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: solid 4px rgba(29, 46, 255, 0);
    &:not(._item-selected):hover {
        border-left-color: rgba(29, 46, 255, 0.54);
    }
}
._item-selected {
    border-left-color: rgba(29, 46, 255, 1);
}
._item-selected-border {
    border: solid 1px rgba(29, 46, 255, 1);
}
._template-item-container {
    background-color: #fff;
    width: 100%;
}


._template-item {
}

.image-container {
    max-width: 500px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
}

.template-item:focus {
    outline: none;
    min-width: 256px;
}

.ranking-item:focus {
    outline: none;
    border: solid 1px #9ecaed;
    min-width: 40px;
}

.blue-border {
    border: solid 2px #9ecaed;
}

.template-container {
    .main-content {
        background-color: $background;
        max-height: none;

        .template-item {
            //padding-left:10px;

            .handle {
                cursor: pointer;
                vertical-align: top;
            }

            &.md-whiteframe-z1 {
                background-color: white;
            }

            .template-item-toolbar {
                float: right;
            }

            .template-item-toolbar .md-button {
                display: none;
                margin: 0;
            }

            &:hover {
                .template-item-toolbar .md-button {
                    display: flex;
                }
            }

        }
    }
    .properties {
        md-divider {
            border-top-color: $primary;
        }
    }
}
