@import 'variables';

.md-toolbar-tools {
  .md-button {
    &.md-active {
      color: rgba(0, 0, 0, 0.87);
      border-bottom: 2px solid $primary;
    }
  }
}

md-toolbar:not(.md-menu-toolbar) .md-button {
  color: rgba(0, 0, 0, 0.7);
}

md-toolbar.my-projects-toolbar {
  background-color: white;
  min-height: 0px;
  width: inherit;
}
