@import 'variables';

.md-toolbar-tools{
  .md-button {
    font-weight: 700;

    &.md-active {
      color: $primary;
      border-bottom: 2px solid $primary;
    }
  }
}

md-toolbar:not(.md-menu-toolbar) .md-button {
    color: $primary;
}