// COLORS
$dark_blue: #2746a8;
$accent_blue: #2e53ff;
$yellow: #FBF5AB;
$grey: #DEE4EE;
$header-blue: #2746a8;
$light_blue:#03A9F4;

$primary: $dark_blue;
$accent: $yellow;
$background: $grey;
$light-grey: #ededed;
$medium-grey: #F0F0F0;

$warn: #b71c1c;
$success: #009688;
$secondary: #FFA000;

$font_small: 14px;

$error_color: #F44336;

