// COLORS
$dark_blue: #2746a8;
$accent_blue: #2e53ff;
$yellow: #FBF5AB;
$grey: #DEE4EE;
$header-blue: #2746a8;
$light_blue:#03A9F4;
$base: #34456f;
$blue_end: #3d5987;
$header_green: #4b9265;
$header_yellow: #939355;
$purple_start: #593eaf;
$border_grey: #f2f2f2;
$pseudo_grey: #737373;

$accent_pink: #ff5c80;
$accent_green: #009688;
$accent_red: #b71c1c;
$status_online: #00C853;
$status_offline: #bdbdbd;
$primary: $dark_blue;
$accent: $yellow;
$background: $grey;
$light-grey: #ededed;
$medium-grey: #F0F0F0;
$gray_background: #f5f5f5;
$activation_blue: #D0D6EA;

$warn: #b71c1c;
$success: #009688;
$secondary: #FFA000;

$message-blue: #2196f3;

$link-color: #00B0FF;
$header_gray: #e5e5e5;

$link-color: #1a0dab;
$live-green: #3d9400;


$font-family: 'Fira Sans', sans-serif;
$font-family-mono: 'Fira Mono', monospace;

$font_small: 14px;
$font_tiny: 12px;

//$error_color: #F44336;
$error_color: #EB7F00;

$text-green: #0f9d58;

$badge_red: #ff5722;
$badge_gray: #757575;
$badge_green: #43a047;


$blue500: #2196F3;

// aspirin C palette

$aspirin_blue: #225378;
$aspirin_dark_green: #1695A3;
$aspirin_light_blue: rgb(172, 240, 242);
$aspirin_ivory: rgb(243, 255, 226);
$aspirin_orange: #EB7F00;

// corporate blue palette
$corporate_blue: #304269;
$corporate_sky: #91BED4;
$corporate_light_sky: #D9E8F5;
$corporate_white: #FFFFFF;
$corporate_orange: #F26101;


// Use this to choose palette
$palette_primary: $corporate_blue;
$palette_secondary: $corporate_sky;
$palette_tertiary:$corporate_light_sky;
$palette_light:$corporate_white;
$palette_accent: $corporate_orange;

$dark-color: #212121;


$color-grey-500: #9E9E9E;
