// COLORS
$dark_blue: #2746a8;
$accent_blue: #2e53ff;
$yellow: #FBF5AB;
$grey: #DEE4EE;
$header-blue: #2746a8;
$light_blue:#03A9F4;
$base: #34456f;
$blue_end: #3d5987;
$header_green: #4b9265;
$header_yellow: #939355;
$purple_start: #593eaf;

$accent_pink: #ff5c80;
$accent_green: #009688;
$accent_red: #b71c1c;
$status_online: #00C853;
$status_offline: #bdbdbd;
$primary: $dark_blue;
$accent: $yellow;
$background: $grey;
$light-grey: #ededed;
$medium-grey: #F0F0F0;

$warn: #b71c1c;
$success: #009688;
$secondary: #FFA000;

$message-blue: #2196f3;

$font-family: 'Fira Sans', sans-serif;

$font_small: 14px;

$error_color: #F44336;

