.md-tabs-template {
  min-width: 256px; }
  .md-tabs-template .md-subheader {
    background-color: inherit; }

.md-template-properties {
  margin-left: 15px; }

.md-property-item {
  max-width: 256px; }

.md-template-creation {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.image-container {
  height: 300px;
  width: 300px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px; }

.template-item:focus {
  outline: none;
  border: solid 1px #9ecaed;
  min-width: 256px; }

.ranking-item:focus {
  outline: none;
  border: solid 1px #9ecaed;
  min-width: 40px; }

.blue-border {
  border: solid 2px #9ecaed; }

.template-container {
  margin-top: 8px;
  background-color: #ffffff;
  min-height: 500px; }
  .template-container .header {
    padding-left: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.34); }
  .template-container .main-content {
    background-color: #f0f4c3; }
  .template-container .properties {
    border: 1px solid #ebebeb;
    background-color: #fafafa;
    min-height: 645px; }

.project-form {
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
  background-color: #ffffff; }
  .project-form .step {
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.34); }
  .project-form .step-content {
    padding-left: 15px;
    padding-right: 15px; }
  .project-form .project-field {
    padding-left: 16px; }
  .project-form .project-actions {
    margin-top: 30px; }

.project-nav {
  background-color: transparent; }
  .project-nav md-list-item button.md-button:hover:not([disabled]) {
    background-color: transparent; }
  .project-nav md-list-item {
    color: #003366;
    font-weight: 400;
    font-size: 14px; }
  .project-nav .active {
    font-weight: 500;
    text-decoration: underline; }
  .project-nav .md-ripple-container {
    display: none; }
  .project-nav button.md-no-style {
    font-weight: inherit; }

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif; }

.nav .nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .nav .nav-items .nav-item {
    display: inline-block;
    padding: 10px;
    outline: none; }
    .nav .nav-items .nav-item.active {
      border-bottom: 2px solid #ffffff; }
    .nav .nav-items .nav-item:hover {
      cursor: pointer; }

.default-padding {
  padding-left: 16px; }

.md-lightblue-theme {
  background-color: #3F51B5; }

.md-lightblue {
  color: #3F51B5;
  font-weight: 500; }

.left-nav {
  margin-left: 40px;
  margin-top: 25px;
  min-height: 700px; }
  .left-nav .active {
    background-color: #FCE4EC;
    color: rgba(0, 0, 0, 0.87); }
  .left-nav md-list md-list-item button.md-button:hover:not([disabled]) {
    background-color: transparent; }
  .left-nav .md-ripple-container {
    display: none; }

.main {
  background-color: #ebebeb; }

.main-search {
  margin-left: 30px;
  height: 32px; }
  .main-search .md-autocomplete-wrap {
    height: 32px; }

.logo {
  margin-left: 25px !important; }

.md-middle-content {
  background-color: #ebebeb;
  padding-right: 0; }

md-toolbar .md-button {
  text-transform: capitalize; }

.authentication-form {
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px; }

.authentication-error {
  color: #f44336;
  font-size: 12px;
  font-weight: 500; }

.transparent-background {
  background-color: transparent; }

.blue100-background {
  background-color: #bbdefb; }

.md-blue {
  color: #2196f3; }

.clickable:hover {
  color: #3F51B5;
  text-decoration: underline;
  cursor: pointer; }

.pointer-cursor {
  cursor: pointer; }

md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: #2196f3;
  border-right-color: #2196f3; }

md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #2196f3; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

md-list md-list-item.md-3-line .md-list-item-text h4 {
  line-height: 1.5em; }

md-toolbar .md-button.md-active {
  color: #FBF5AB; }

.md-bg-white {
  background-color: white; }

.md-16 {
  font-size: 16px; }

.md-margin-0 {
  margin-top: 0;
  margin-bottom: 0; }

.task-card .posted {
  color: rgba(0, 0, 0, 0.54); }
.task-card .time {
  text-align: right; }
.task-card .requester {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.74); }
.task-card md-icon {
  margin: 0; }
.task-card .md-action-button {
  min-width: 24px; }
.task-card .md-title {
  outline: none; }
.task-card .feed-comment-area {
  background-color: #f5f5f5; }
  .task-card .feed-comment-area .comment-list {
    margin: 8px; }
    .task-card .feed-comment-area .comment-list .comment-sender {
      font-weight: 500;
      font-size: 18px; }
    .task-card .feed-comment-area .comment-list .comment-body {
      margin-left: 16px;
      margin-top: 0px; }
    .task-card .feed-comment-area .comment-list .input-comment {
      margin-left: 16px; }
      .task-card .feed-comment-area .comment-list .input-comment md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
        border-color: #2196f3; }
      .task-card .feed-comment-area .comment-list .input-comment md-input-container.md-input-focused:not(.md-input-invalid) label {
        color: #2196f3 !important; }

.module-preview {
  position: fixed;
  min-width: 25%; }

md-toast.md-bottom {
  position: fixed; }

.task-card md-chips .md-chips {
  box-shadow: 0 0 0 0; }

.task-container {
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; }
  .task-container .task-actions {
    margin-top: 32px; }

.task-comments {
  background-color: #f5f5f5; }
  .task-comments .comments-header {
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    margin: 16px; }
  .task-comments .comment-list .comment-sender {
    font-weight: 500;
    font-size: 18px; }
  .task-comments .comment-list .input-comment md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
    border-color: #2196f3; }
  .task-comments .comment-list .input-comment md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: #2196f3 !important; }

.table-content {
  background-color: #ffffff; }

.advanced-tabs {
  margin: 8px; }

md-data-table {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  font-family: 'Roboto', sans-serif;
  min-width: 550px;
  background-color: #FFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084); }
  md-data-table md-checkbox {
    margin: 0;
    padding-right: 24px; }
  md-data-table .row-dragged {
    background-color: #e3f2fd !important; }
  md-data-table .row-placeholder {
    height: 56px;
    line-height: 1.2em;
    border-top: solid 1px #2196f3;
    border-bottom: solid 1px #2196f3; }
  md-data-table .md-data-table-card-header {
    height: 64px;
    background-color: #ffffff;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    display: flex; }
    md-data-table .md-data-table-card-header .md-data-table-card-header-title {
      color: rgba(0, 0, 0, 0.87);
      margin-left: 24px;
      font-size: 20px; }
    md-data-table .md-data-table-card-header .md-actions {
      right: 32px;
      position: relative; }
      md-data-table .md-data-table-card-header .md-actions .md-action-icon {
        color: rgba(0, 0, 0, 0.54); }
      md-data-table .md-data-table-card-header .md-actions .md-action-button {
        min-width: 24px; }
  md-data-table .md-data-table-header {
    color: rgba(0, 0, 0, 0.54);
    min-height: 56px;
    margin-left: 24px;
    margin-right: 14px; }
  md-data-table .md-data-table-row {
    color: rgba(0, 0, 0, 0.54);
    min-height: 48px;
    max-height: 48px;
    padding-left: 24px;
    padding-right: 14px;
    outline: none;
    overflow: hidden; }
  md-data-table .md-data-table-last-row {
    min-height: 56px; }
  md-data-table .md-data-table-row:hover {
    background-color: #eeeeee; }
  md-data-table .selected {
    background-color: #f5f5f5; }
  md-data-table .md-data-table-header-column {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-right: 24px; }
    md-data-table .md-data-table-header-column .material-icons {
      color: rgba(0, 0, 0, 0.87);
      width: 16px;
      height: 16px;
      margin-right: 4px;
      position: relative; }
    md-data-table .md-data-table-header-column .material-icons.ascending {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    md-data-table .md-data-table-header-column .material-icons.descending {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      left: -8px;
      margin-top: auto; }
  md-data-table .md-data-table-header-column:focus {
    outline: none; }
  md-data-table .md-data-table-header-column:hover .material-icons {
    -moz-opacity: 0.26;
    opacity: 0.26; }
  md-data-table .md-data-table-header-column.sorted {
    color: rgba(0, 0, 0, 0.87); }
  md-data-table .md-data-table-row-cell {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    font-weight: 400;
    padding-right: 24px;
    max-height: 40px;
    overflow: hidden; }
  md-data-table .cell-numeric {
    text-align: right; }
  md-data-table .cell-text {
    text-align: left; }
  md-data-table .md-dataTable-actions {
    margin: 0; }
    md-data-table .md-dataTable-actions .md-button {
      margin-bottom: 1px;
      margin-top: 1px;
      margin-right: 0.5px;
      margin-left: 0.5px; }

@media screen and (-ms-high-contrast: active) {
  md-data-table {
    border: 1px solid #fff; } }
.md-data-table-footer {
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
  min-height: 56px;
  padding-left: 24px;
  padding-right: 14px; }
  .md-data-table-footer .active {
    background-color: #e3f2fd; }
  .md-data-table-footer button {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
  .md-data-table-footer p {
    margin-right: 40px; }

.check-holder {
  display: inline;
  color: gray;
  font-size: 24px; }
  .check-holder:hover {
    color: black; }
  .check-holder.check-minus span.active md-icon {
    color: red;
    font-weight: bold; }
  .check-holder.check span.active md-icon {
    color: black;
    font-weight: bold; }
  .check-holder.check-plus span.active md-icon {
    color: green;
    font-weight: bold; }

md-list-item.rank-list-item {
  padding: 15px 0px; }
  md-list-item.rank-list-item img {
    opacity: 0.54; }

/*# sourceMappingURL=app.css.map */
