.md-lightblue-theme {
  background-color: #3F51B5;
}
.md-lightblue {
  color: #3F51B5;
  font-weight: 500;
}

.left-nav {
  margin-left: 40px;
  margin-top: 25px;
  min-height: 700px;
  .active {
    background-color: #FCE4EC;//#E91E63;
    color: rgba(0, 0, 0, 0.87); //rgba(255,255,255,1);
  }
  md-list md-list-item button.md-button:hover:not([disabled]) {
    background-color: transparent;
  }
  .md-ripple-container {
    display: none;
  }
}

.main{
  background-color: #ebebeb;
}

.main-search {
  margin-left: 30px;
  height: 32px;
  .md-autocomplete-wrap {
    height:32px;
  }
}

.logo {
  margin-left: 25px !important;
}

.md-middle-content {
  background-color: #ebebeb;
  padding-right: 0;
}

md-toolbar {
  .md-button {
    text-transform: capitalize;
  }
}

.authentication-form {
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.authentication-error {
  color: #f44336;
  font-size: 12px;
  font-weight: 500;
}

.transparent-background {
  background-color: transparent;
}

.blue100-background {
  background-color: #bbdefb;
}

.md-blue {
  color: #2196f3;
}

.pointer-cursor {
  cursor: pointer;
}

md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle{
  border-top-color: #2196f3;
  border-right-color: #2196f3;
}

md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #2196f3
}
