
/**** BUTTONS ****/
.stylebuttonblue {
   background-color: #172B59;
  color: fff;
  font-family: 'Source Sans Pro';
  font-size: 21px;
  font-weight: 400;
  padding: 10px;
  width: 185px; }


.stylebuttonblue:hover {
  background-color: #d3d3d3 !important;
  color: #172B59 !important;
  color: fff;
  font-family: 'Source Sans Pro';
  font-size: 21px;
  font-weight: 400;
  padding: 10px;
  width: 185px; }


/**** TEXT ****/

.text_title_hp {
  color: #172B59;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 31px;
  font-weight: 400;
   }


.text_hp {
  color: #172B59;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 200; }

.text_title_image {
  color: #172B59;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: 200;
  text-align: left; }

/**** MAIN IMAGE SECTION ****/
.marginb_w {
  padding-bottom: 3%;
  padding-top: 3%; }

.logotext {
  margin-left: 10%;
  margin-top: 7%;
  margin-right: 10%;
}

.mail {
  margin-left: 10%;
  padding-bottom: 5%;
  margin-right: 10%;
}

.mailbox{
    margin-right:10%;
    margin-left:10%;

}
.daemologo{
    width:50%;
}


.hero-area {
background: url("/static/images/homepage/background.png") no-repeat;
  
  background-color:#F8F5A7;
  }

.learnmore{
    margin-top:3%;
    margin-bottom:3%;

}



.margin_b {
  margin-left: 5%; 
 
}

.icon48 {
  color: #172B59;
  font-size: 68px; }


