.table {
  width: 95%; }

.table-content {
  background-color: #ffffff; }

.advanced-tabs {
  margin: 8px; }

md-data-table {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  margin: 8px;
  font-family: 'Roboto', sans-serif;
  min-width: 550px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084); }
  md-data-table md-checkbox {
    margin: 0;
    padding-right: 24px; }
  md-data-table .row-dragged {
    background-color: #e3f2fd !important; }
  md-data-table .row-placeholder {
    height: 56px;
    line-height: 1.2em;
    border-top: solid 1px #2196f3;
    border-bottom: solid 1px #2196f3; }
  md-data-table .md-data-table-card-header {
    height: 64px;
    background-color: #ffffff;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    display: flex; }
    md-data-table .md-data-table-card-header .md-data-table-card-header-title {
      color: rgba(0, 0, 0, 0.87);
      margin-left: 24px;
      font-size: 20px; }
    md-data-table .md-data-table-card-header .md-actions {
      right: 32px;
      position: relative; }
      md-data-table .md-data-table-card-header .md-actions .md-action-icon {
        color: rgba(0, 0, 0, 0.54); }
      md-data-table .md-data-table-card-header .md-actions .md-action-button {
        min-width: 24px; }
  md-data-table .md-data-table-header {
    color: rgba(0, 0, 0, 0.54);
    min-height: 56px;
    margin-left: 24px;
    margin-right: 14px; }
  md-data-table .md-data-table-row {
    color: rgba(0, 0, 0, 0.54);
    min-height: 48px;
    max-height: 48px;
    padding-left: 24px;
    padding-right: 14px;
    outline: none;
    overflow: hidden; }
  md-data-table .md-data-table-last-row {
    min-height: 56px; }
  md-data-table .md-data-table-row:hover {
    background-color: #eeeeee; }
  md-data-table .selected {
    background-color: #f5f5f5; }
  md-data-table .md-data-table-header-column {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-right: 24px; }
    md-data-table .md-data-table-header-column .material-icons {
      color: rgba(0, 0, 0, 0.87);
      width: 16px;
      height: 16px;
      margin-right: 4px;
      position: relative; }
    md-data-table .md-data-table-header-column .material-icons.ascending {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    md-data-table .md-data-table-header-column .material-icons.descending {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      left: -8px;
      margin-top: auto; }
  md-data-table .md-data-table-header-column:focus {
    outline: none; }
  md-data-table .md-data-table-header-column:hover .material-icons {
    -moz-opacity: 0.26;
    opacity: 0.26; }
  md-data-table .md-data-table-header-column.sorted {
    color: rgba(0, 0, 0, 0.87); }
  md-data-table .md-data-table-row-cell {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    font-weight: 400;
    padding-right: 24px;
    max-height: 40px;
    overflow: hidden; }
  md-data-table .cell-numeric {
    text-align: right; }
  md-data-table .cell-text {
    text-align: left; }
  md-data-table .md-dataTable-actions {
    margin: 0; }
    md-data-table .md-dataTable-actions .md-button {
      margin-bottom: 1px;
      margin-top: 1px;
      margin-right: 0.5px;
      margin-left: 0.5px; }

@media screen and (-ms-high-contrast: active) {
  md-data-table {
    border: 1px solid #fff; } }
.md-data-table-footer {
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
  min-height: 56px;
  padding-left: 24px;
  padding-right: 14px; }
  .md-data-table-footer .active {
    background-color: #e3f2fd; }
  .md-data-table-footer button {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
  .md-data-table-footer p {
    margin-right: 40px; }

/*# sourceMappingURL=data-table.css.map */
