.about_button
{
	margin-left: 50%;
}
.abouttext
{
	padding-bottom: 5%;
}
.layoutbutton_image
{
	margin-top: 15%;
}
.marginb_w
{
	margin-bottom: 3%;
}
.marginl_w
{
	margin-left: 10%;
}
.marginr_w
{
	margin-right: 10%;
}
.yellowbackground
{
	background-color: #F8F5A7;
}
.logotext
{
	margin-left: 10%;
	margin-top: 10%;
}
.arrowtl
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100px;
	font-weight: 200;
	margin-bottom: 5%;
	margin-right: 10%;
}
.arrowtr
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100px;
	font-weight: 200;
	margin-left: 15%;
	padding-bottom: 5%;
}
.arrowl
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100px;
	font-weight: 200;
	margin-bottom: 5%;
	margin-right: 5%;
}
.arrowr
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100px;
	font-weight: 200;
	margin-bottom: 5%;
	margin-left: 5%;
}
.icon48
{
	color: #172B59;
	font-size: 68px;
}
.icon38
{
	color: #172B59;
	font-size: 38px;
}
.icon38w
{
	background-color: #172B59;
	color: #DEE8F2;
	font-size: 38px;
	margin-left: 1%;
	margin-right: 1%;
}
.hero-area
{
	background: url('/static/images/homepage/hero_bg.jpg')no-repeat;
	background-size: 100%;
	color: white;
	padding-bottom: 2%;
}
.text_title_image
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: 200;
	text-align: left;
}
.textimage
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 200;
}
.texlearnmore
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 200;
}
.stylebutton
{
	background-color: #172B59;
	color: fff;
	font-family: 'Source Sans Pro';
	font-size: 21px;
	font-weight: 400;
	padding: 10px;
	width: 185px;
}
.stylebuttonblue
{
	background-color: #172B59;
	color: fff;
	font-family: 'Source Sans Pro';
	font-size: 21px;
	font-weight: 400;
	padding: 10px;
	width: 185px;
}
.stylebuttonblue:hover
{
	background-color: #d3d3d3!important;
	color: #172B59!important;
	color: fff;
	font-family: 'Source Sans Pro';
	font-size: 21px;
	font-weight: 400;
	padding: 10px;
	width: 185px;
}
.menuhp
{
	color: #172B59;
	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-weight: 400!important;
	text-transform: none!important;
}
.menuflag
{
	margin-top: 1%;
	padding-top: 5px;
}
.footerhp
{
	bottom: 0;
	color: #172B59;
	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-weight: 400!important;
	left: 0;
	position: absolute;
	text-transform: none!important;
	width: 100%;
}
.footerlblue
{
	background-color: #DEE8F2;
}
.footeralign
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}
.text_title_hp
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 31px;
	font-weight: 400;
	margin: 3%;
}
.text_title_hp_w
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 31px;
	font-weight: 400;
}
.text_hp
{
	color: #172B59;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 200;
}
.diveimage
{
	height: 330px;
}