@import "variables";

._message-wrapper {
    direction: ltr;
    position: relative;
}
._message {
    word-wrap: break-word;
    max-width: 50%;
    outline: medium none;
    box-sizing: border-box;
    background-color: #f1f0f0;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    margin: 2px 4px;
    padding: 6px 12px;
    display: inline;
    &._other {
        float: left;
    }
    &:not(._other)::after{
        content: ".";
        display: block;
        visibility: hidden;
        height: 0;
        line-height: 0;
        clear: both;
    }
    &:not(._mine)::before{
        content: ".";
        display: block;
        visibility: hidden;
        height: 0;
        line-height: 0;
        clear: both;
    }
    &._last {
            border-bottom-left-radius: 0;
        }
    &._mine {
        background-color: #2196f3;
        color: #ffffff;
        border-bottom-left-radius: 1.3em;
        float: right;
        text-align: right;
        &._last {
            border-bottom-right-radius: 0;
        }
    }
}

._new-message {
    padding-left: 8px;
    md-chips {
        padding-left: 8px;
    }
    .md-chips {
        padding: 0;
        .md-chip-input-container {
            margin-top: 0;
            margin-bottom: 0;
            min-width: 300px;
        }
    }
    & input {
        border-bottom: none;
        font-size: 14px;
    }
    md-chips.md-default-theme .md-chips, md-chips .md-chips {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

._message-input-wrapper {
    & md-input-container {
        height: 42px;
        & .md-input {
            border-bottom-width: 0;
        }

    }
    & ._message-input {
        border-bottom: 0;
        margin-top: 6px;
        margin-left: 4px;

    }
}

