.check-holder {
    display: inline;
    color: gray;

    &.check-minus:hover {
        color: red;
    }

    &.check:hover {
        color: black;
    }

    &.check-plus:hover {
        color: green;
    }
}