.task-card {
  .posted {
    color: rgba(0, 0, 0, 0.54);
  }
  .time {
    text-align: right;
  }
  .requester{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.74);
  }
  md-icon {
    margin: 0;
  }
  .md-action-button {
    min-width: 24px;
  }
  .md-title {
    outline: none;
  }
  .feed-comment-area {
    background-color: #f5f5f5;
    .comment-list {
      margin: 8px;
      .comment-sender {
        font-weight: 500;
        font-size: 18px;
      }
      .comment-body {
        margin-left: 16px;
        margin-top: 0px;
      }
      .input-comment {
        margin-left: 16px;
        md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
          border-color: #2196f3;
        }
        md-input-container.md-input-focused:not(.md-input-invalid) label {
          color: #2196f3 !important;
        }
      }
    }
  }
}

.module-preview {
  position: fixed;
  min-width: 25%;
}
