.task-card {
  .posted {
    color: rgba(0, 0, 0, 0.54);
  }
  .time {
    text-align: right;
  }
  .requester{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.74);
  }
  md-icon {
    margin: 0;
  }
  .md-action-button {
    min-width: 24px;
  }
  .md-title {
    outline: none;
  }
  .feed-comment-area {
    background-color: #f5f5f5;
    .comment-list {
      margin: 8px;
    }
  }
}

.module-preview {
  position: fixed;
  min-width: 25%;
}
