[Unit]
Description=Celery Worker for Daemo
After=network.target

[Service]
User=celery
Group=celery
ExecStart=/bin/bash -c 'cd /daemo; /usr/local/bin/celery -A csp worker -l info'

[Install]
WantedBy=multi-user.target
