<footer class="footer bg-dark" id="follow">
    <div class="container text-right">
        <div class="call-to-action">
            <h2>Follow Us!</h2>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a ui-sref="contributors" class="btn btn-default btn-lg"><i class="fa fa-glass fa-fw"></i> <span
                            class="network-name">Contributors</span></a>
                </li>
                <li>
                    <a href="https://twitter.com/CrowdWorkerNews" class="btn btn-default btn-lg"><i
                            class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/crowdresearch/crowdsource-platform" class="btn btn-default btn-lg"><i
                            class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
        </div>
    </div>
</footer>