        <header class="jumbotron hero-spacer">
         <div class="row text-center">
            <h1 style="font-size: 45px;">Crowd Computing Registration</h1>
            <p>Your Journey Begins Here</p>
            <hr>       
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="well">
            <form role="form" ng-submit="vm.registerstep2()">
	      
              <div class="form-group">
                <label for="register__address left">Address</label>
                <input type="text" class="form-control" id="register__address" ng-model="vm.address" placeholder="Address" required/>
              </div>
              <div class="form-group">
                <label for="register__city">City</label>
                <input type="text" class="form-control" id="register__city" ng-model="vm.city" placeholder="City" required/>
              </div>
              <div class="form-group">
                <label for="register__zip">Zip Code</label>
                <input type="text" class="form-control" id="register__zip" ng-model="vm.zip" placeholder="Zip Code" required/>
              </div>
      
              <div class="form-group">
                <label for="register__ssn">SSN or Tax Identifier Number</label>
                <input type="text" class="form-control" id="register__ssn" ng-model="vm.ssn" placeholder="SSN" />
              </div>
              
	      <div class="form-group">
                <label for="register__skillset">Select Task Categories</label>
		<select id="first-choice">

		<option value="skill">Skills</option>
			<!--<input style="display: inline" type="text" list="task_categories" class="form-control" id="register__skillset" ng-model="vm.skillset" placeholder="" 				required/>-->
		        <button style="display:inline;" type="submit" class="btn btn-primary">Add</button>

<datalist id="task_categories">
  <option value="HTML">
  <option value="CSS">
  <option value="JavaScript">
  <option value="Java">
  <option value="Ruby">
  <option value="PHP">
  <option value="Go">
  <option value="Erlang">
  <option value="Python">
  <option value="C">
  <option value="C#">
  <option value="C++">
</datalist>
              </div>
	      <div class="form-group">
                <label for="register_locations">Select three locations from where the HITs will be performed</label>
                <input type="text" class="form-control" id="register__locations" ng-model="vm.locations" placeholder="Location 1" required/>        
		<input type="text" class="form-control" id="register__locations" ng-model="vm.locations" placeholder="Location 2" required/>
                <input type="text" class="form-control" id="register__locations" ng-model="vm.locations" placeholder="Location 3" required/>
              </div>
	      <div class="form-group">
                <label for="register_social">Add Links to social networking profiles </label>
                <input type="text" class="form-control" id="register__social" ng-model="vm.social" placeholder="Linkedin/oDesk/MTurk profile" />
              </div>
              <div class="form-group">
                <button type="submit" ng-href="" class="btn btn-primary">Sign Up</button>
              </div>
              </form> 
        </div>
      </div></div>                 
</div>
</header>
        <p style="padding-top: 3px;" class="text-center">By clicking Sign Up, you agree to the <a ng-href="/terms">Terms</a></p>
