<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Amit Rakesh</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/AmitRakesh.jpg" />
            <span>Amit</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>Hi My name is Amit Rakesh and currently, I am pursuing software engineering from San Jose State University</p>
              <p>I have previously worked with Java, Spring framework and REST API. Also briefly worked with python on a data science project. </p>
              <p>I am mostly interested in Data Science, Machine learning, Cloud technologies and RESTful web services </p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
