<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Li Xiaoran</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/xiaoran.jpg" />
            <span>Xiaoran</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>I am a junior student in Beijing University of Posts and Telecommunications.</p>
              <p>This summer, I'll be working in Purdue University in addition to this project.</p>
              <p>Outside of computer science, I enjoy various sports.</p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
