{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Reset Password</title>

</head>
<body>
{% block main %}

<div class="center login-panel" ng-controller="ResetPasswordController as reset_password">
    <form role="form" ng-submit="reset_password.reset_password()">
         {% csrf_token %}
         <fieldset>
            <h3 style="color:dimgray">Reset your password</h3>
             {{ form.password1 }}
             {{ form.password2 }}

            <p style="padding-top: 3px;" class="text-left text-danger" id="reset_password__errors">
                {% for field,error in form.errors.items %}
                    {{ error|striptags }}<br>
                {% endfor %}
             </p>

            <button type="submit" style="margin-top:20px" class="btn btn-block btn-primary" id="signup_btn" onclick="" value="Reset Password"><strong>Reset Password</strong></button>

         </fieldset>

    </form>
{% include 'ng_user_management_modules.html' %}


</div>
{% endblock main %}
</body>
</html>