<md-dialog class="credentials-dialog">
    <md-dialog-content class="dialog-content">
        <div layout="row">
            <div layout="column" layout-align="end start" class="title">API Credentials</div>

            <div layout="column" layout-align="center end" class="clear">
                <md-button class="exit md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </div>
        <div class="md-padding _pt-0">
            <p class="_pb-12">Please enter your login information</p>

            <form name="credentialsForm" ng-submit="submit()">
                <!--div layout="column" flex>
                    <md-input-container class="no-surround">
                        <label for="username">Username</label>
                        <input name="username" required ng-model="credentials.username" ng-disabled="true">
                        <div ng-messages="credentialsForm.username.$error">
                            <p ng-message="required">Please enter your username</p>
                        </div>
                    </md-input-container>
                </div-->
                <div layout="column" flex>
                    <md-input-container class="no-surround">
                        <label for="password">Password</label>
                        <input name="password" type="password" required ng-model="credentials.password" ng-disabled="credentialsDisabled">
                        <div ng-messages="credentialsForm.password.$error">
                            <p ng-message="required">Please enter your password</p>
                        </div>
                    </md-input-container>
                </div>
                <div class="layout-align-end-end" layout="row">
                    <md-dialog-actions>
                        <md-button type="submit" class="publish" ng-disabled="credentialsForm.$invalid || credentialsDisabled">Submit</md-button>
                        <md-button ng-click="cancel()" class="">Cancel</md-button>
                    </md-dialog-actions>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>

