<div class="_main-content _middle-content md-whiteframe-z1 my-profile-body"
     ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
    <md-toolbar class="my-profile-toolbar _content-nav"
                ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
        <div class="md-toolbar-tools">
            <div class="my-profile-header _nav-title">Getting Started</div>

            <div class="md-actions" layout="row" layout-align="end center" flex>
            </div>
        </div>
    </md-toolbar>
    <div class="md-padding" layout-margin ng-cloak="">
        <div>
            <!--div>Next we need to set up payments, make sure that you provide complete and correct information</div-->
            <div class="">
                <div class="_step-name">
                    What do you plan to use Daemo for?
                </div>
                <div>
                    <md-radio-group ng-model="user.use_for">
                        <md-radio-button value="is_worker">I am a worker</md-radio-button>
                        <md-radio-button value="is_requester">I am a requester</md-radio-button>
                        <md-radio-button value="is_both">I am both</md-radio-button>
                    </md-radio-group>
                </div>

            </div>

            <div class="" ng-if="user.use_for=='is_requester' || user.use_for=='is_both'">
                <div class="_step-name">
                    Provide a credit/debit card to connect
                    to Stripe
                </div>
                <div layout="row" flex>
                    <md-input-container flex="25" class="md-input-has-placeholder">
                        <label for="first_name">First name</label>
                        <input name="first_name" required type="text" ng-model="payment.credit_card.first_name">
                        <div ng-messages="paymentForm.first_name.$error">
                            <p ng-message="required">Please fill first name</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25" class="md-input-has-placeholder">
                        <label for="last_name">Last name</label>
                        <input name="last_name" required type="text" ng-model="payment.credit_card.last_name">
                        <div ng-messages="paymentForm.last_name.$error">
                            <p ng-message="required">Please fill last name</p>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container flex="33" class="md-input-has-placeholder">
                        <label for="card_number">Card Number</label>
                        <input class="_ls-4" name="card_number" required ng-model="payment.credit_card.number"
                               minlength="13" maxlength="19">
                        <div ng-messages="paymentForm.card_number.$error">
                            <p ng-message="minlength">Invalid card number</p>
                            <p ng-message="maxlength">Invalid card number</p>
                            <p ng-message="required">Please fill last name</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10" class="md-input-has-placeholder">
                        <label for="cvv2">CVV</label>
                        <input class="_ls-4" name="cvv2" required type="text" ng-model="payment.credit_card.cvv2"
                               maxlength="4" minlength="3">
                        <div ng-messages="paymentForm.cvv2.$error">
                            <p ng-message="minlength">Invalid number</p>
                            <p ng-message="maxlength">Invalid number</p>
                            <p ng-message="required">Please fill CVV number</p>
                        </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex="15" class="md-input-has-placeholder">
                        <label for="expire_month">Expiry Month</label>
                        <input name="expire_month" required type="number" ng-model="payment.credit_card.expire_month"
                               min="1" max="12" step="1">
                        <div ng-messages="paymentForm.expire_month.$error">
                            <p ng-message="minlength">Invalid value</p>
                            <p ng-message="maxlength">Invalid value</p>
                            <p ng-message="required">Please choose month</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex="15" class="md-input-has-placeholder">
                        <label for="expire_year">Expiry Year</label>
                        <input name="expire_year" required type="number" ng-model="payment.credit_card.expire_year"
                               ng-maxlength="4" ng-minlength="4" min="2016" step="1">
                        <div ng-messages="paymentForm.expire_year.$error">
                            <p ng-message="minlength">Invalid number</p>
                            <p ng-message="maxlength">Invalid number</p>
                            <p ng-message="required">Please fill expiry year</p>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">

                </div>

            </div>
            <div class="" ng-if="user.use_for=='is_worker' || user.use_for=='is_both'">
                <div class="_step-name">Link a bank account so that we
                    can pay you
                </div>

            </div>
        </div>

        <div class="_small-note _auth-footer">* As a condition of Daemo enabling payment
            processing services through Stripe,
            you agree to provide Daemo accurate and complete information about you and your business, and you authorize
            Daemo to share it and transaction
            information related to your use of the payment processing services provided by Stripe. Daemo <strong>does
                not</strong> store
            any banking or credit card information.
        </div>
        <!--md-button class="return">Save</md-button-->
    </div>
</div>
