<div class="_irb _left">
  <div>Protocol Title: Field study and deployment of Daemo: a self-governed
crowdsourcing marketplace</div>
  Protocol Director: Mark Whiting, Contact: mwhiting@cs.stanford.edu
  
  <div>Description</div>
  You are invited to join Daemo: a self-governed crowdsourcing marketplace. Daemo is a research project, that allows requesters to post tasks, and allows workers to complete these tasks in exchange of payment. However, governed jointly by requesters and workers alike, Daemo’s prototyping process and reputation engine were designed to facilitate the collaboration that puts the relationship on a common ground. As part of this public deployment, we will evaluate your experience - through surveys. Additionally, your activity on the online platform will be logged and analyzed by the research team. Because this platform is publicly available, certain social activities(such as comments) will be visible to others.

  <div>Time involvement</div>
  The time involvement can vary from worker to worker, depending on how many and what type of tasks they pursue to execute. For requesters, it will depend on the number of tasks they post and evaluate. 
  
  <div>Risks and benefits</div>
   We anticipate no significant risks and no discomfort while you're participating in this program. You may request researchers to delete any data of yours from the research experiment at any time for any reason. As part of our research, in publications, we will make sure to exclude any information that can lead to identification of individuals, unless we have an explicit permission from you. If you find any part of the study uncomfortable or risky, you’re free to pause or stop participating. We cannot and do not guarantee or promise that you will receive any benefits from this study.

  <div>Payments</div>
  Daemo is an online labor market - the participating workers will be payed by requesters, not by us (Daemo). The payment will be subject to the nature and type of tasks - following crowd market best practices. 
  
  <div>Participants' Rights</div>
  If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. The alternative is not to participate. You have the right to refuse to answer particular questions. The results of this research study may be presented at scientific or professional meetings or published in scientific journals. Any mention of participants will be anonymized for the sake of privacy.
  
  <div>Contact information</div>
  Questions: If you have any questions, concerns or complaints about this research, its procedures, risks and benefits, contact the Protocol Director, Mark Whiting, at mwhiting@cs.stanford.edu or +1(352)226-9212.
  
  Independent Contact: If you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Stanford Institutional Review Board (IRB) to speak to someone independent of the research team at (650)-723-2480 or toll free at 1-866-680-2906. You can also write to the Stanford IRB, Stanford University, 3000 El Camino Real, Five Palo Alto Square, 4th Floor, Palo Alto, CA 94306.
  
  If you consent to participating in this study, please continue creating your account.
</div>

