<div class="row text-center" ng-controller="RequesterProfileController as vm" >

<div class="home" ng-if="account">                            
  <h2 class="page-header">
		Welcome  {{account.first_name}} {{account.last_name}}
  </h2>
  <hr>  
           
<ul id="workerDashboardTabs" class="nav nav-tabs nav-justified">
      <li class="active"><a href="#profile" data-toggle="tab"><h4>My Profile</h4></a></li>
      <li class=""><a href="#monitor" data-toggle="tab" aria-expanded="false"><h4>Task Monitoring</h4></a></li>
      <li class=""><a href="#portfolio" data-toggle="tab" aria-expanded="false"><h4>Task Portfolio</h4></a></li> 
      <li class=""><a href="#analysis" data-toggle="tab" aria-expanded="false"><h4>Historical Analytics</h4></a></li>
</ul>
	
<div class="tabbable">
     <div class="tab-content">
       <div class="tab-pane active" id="profile" >
			<h1></h1>
		  <div class="row">
		    <div class="col-sm-4 col-xs-6">
		       <div class="panel panel-default">
		          <div class="panel-body">   
		            <div class="well">   
		                <p><img src="http://upload.wikimedia.org/wikipedia/commons/b/b0/NewTux.svg" width="100px" height="100px"></p>
		                <p class="lead">{{account.first_name}} {{account.last_name}}<br>
		                <h5>Global Rank: {{requesterProfile.rank}}</h5></p>
		                <a class href="#"> <i class="fa fa-facebook fa-1x"></i></a>
			            <a class href="#"> <i class="fa fa-twitter fa-1x"></i></a> 
			            <a class href="#"> <i class="fa fa-google-plus fa-1x"></i></a>
			            <a class href="#"> <i class="fa fa-calendar fa-1x"></i></a>   
			            <a class href="#"> <i class="fa fa-cogs fa-1x"></i></a>       
		           </div>
		        </div>
		        </div>
		    </div>
		      
		    <div class="col-sm-4 col-xs-6">
		       <div class="panel panel-default">
		          <div class="panel-body">
		           <div class="well">          
		              <p class="lead">Total Balance</p>
			              <ul class="list-group">
			              <li class="list-group-item" ng-repeat="payment in requesterProfile.paymentActivities">{{payment.name}}<span class="badge">{{payment.amount}}</span></li>
			              </ul>             
		          </div>
		          	  <a href="#" class="pull-right">View Payment Activities</a>        
		         </div>
		        
				<!--<i class=" fa fa-envelope-o  fa-4"></i>Email: {{account.email}}-->        
				</div>
		      </div>
		      
		   	<div class="col-sm-4 col-xs-6">
		        <div class="panel panel-default">
		          	<div class="panel-body">
		          		<div class="well">      
			            	<p class="lead">Summary</p>
				            <ul class="list-group">
				              <li class="list-group-item" ng-repeat="item in requesterProfile.summary">{{item.name}} <span class="badge">{{item.amount}}</span></li>
				           	</ul>              
		            	</div>
		        	 </div>
		       	</div>
		   		</div>
			</div>    
			 
		<div class="row">  
		 	<div class="col-md-4 col-sm-6">
		         <div class="panel panel-default">
		           <div class="panel-heading"><h4>Active Tasks Progress</h4>
		                <span class="badge">Upcoming Deadline {{requesterProfile.upcomingDeadline}}</span>
		           </div>
		   		<div class="panel-body">
		          <div class=" sm-3">
		          	<div ng-repeat="task in requesterProfile.realTimeTaskProgress" animm>
						<small>{{task.name}}</small>
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{task.percent}}" aria-valuemin="0" aria-valuemax="100">
						      <span class="sr-only">{{task.percent}}% Complete</span>
						  </div>
						</div>
					</div>
		              <a href="#" class="pull-right">View More</a>
		      		</div> 
		    	</div> 
		      </div>
		    </div>  
		                                        
		<div class="col-md-8 col-sm-6">
		        <div class="panel panel-default">
		          <div class="panel-heading"><i class="fa fa-th-list fa-2x pull-right"></i><h4>Task Categories</h4></div>
		   			<div class="panel-body">
		          <div class="col-sm-3 thumb">
		            <a class="thumbnail" href="#">
		                   <i class="fa fa-bar-chart fa-5x"></i></a>
		                  <h8>Analysis</h8> 
		            
		          </div>
		          <div class="col-sm-3 col-xs-6 thumb">
		            <a class="thumbnail" href="#">
		              <i class="fa fa-table fa-5x"></i></a>
		              <h8>DataEntry</h8> 
		           
		           </div>      
		          <div class="col-sm-3 col-xs-6 thumb">
		          <a class="thumbnail" href="#">
		                   <i class="fa fa-pencil fa-5x"></i></a>
		                  <h8>Writing</h8> 
		       
		          </div>
		          <div class="col-sm-3 col-xs-6 thumb">
		              <a class="thumbnail" href="#">
		                   <i class="fa fa-paint-brush fa-5x"></i></a>
		                   
		                  <h8>Painting</h8> 
		           
		          </div>
		          <div class="col-sm-3 col-xs-6 thumb">
		              <a class="thumbnail" href="#">
		                   <i class="fa fa-picture-o fa-5x"></i></a>
		                  <h8>Tagging</h8> 
		          
		          </div>
		          <div class="col-sm-3 col-xs-6 thumb">
		            <a class="thumbnail" href="#">
		                <i class="fa fa-soundcloud  fa-5x"></i></a>
		              <h8>Audio Transcription</h8> 
		       
		           </div> 
		           <div class="col-sm-3 col-xs-6 thumb">
		              <a class="thumbnail" href="#">
		                   <i class="fa fa-file-image-o fa-5x"></i></a>
		                  <h8>Labeling</h8> 		              
		          </div> 
		           <div class="col-sm-3 col-xs-6 thumb">
		              <a class="thumbnail" href="\tasklist">
		                   <i class="fa fa-plus fa-5x"></i></a>
		                  <h8>More.....</h8> 
		            
		          </div>
		         </div>
		    </div>            
		     </div>
		  </div>
		 
		 <div class="row">
		   <div class="col-md-4 col-sm-6">
		         <div class="panel panel-default">
		           <div class="panel-heading"><i class="fa fa-check-square fa-2x pull-right"></i><h4>Task Approved</h4></div>
		   			<div class="panel-body">
		              <ul class="list-group">
		              <li class="list-group-item" ng-repeat="task in requesterProfile.approvedTasks">{{task.name}}</li>
		              </ul>
		             <a href="#" class="pull-right">View More</a>           
		            </div>
		   		</div>
		    </div>
		
		  	<div class="col-md-4 col-sm-6">
		         <div class="panel panel-default">
		           <div class="panel-heading"><i class="fa fa-money fa-2x pull-right"></i><h4>Remaining Balance</h4></div>
		   			<div class="panel-body">
		              <ul class="list-group">
		              <li class="list-group-item" ng-repeat="balance in requesterProfile.remainingBalance">{{balance.name}} <span class="badge">{{balance.amount}}</span></li>
		              </ul>
		              <a href="#" class="pull-right">View More</a>
		            </div>
		   		</div>
		    </div>
		    
		    	<div class="col-md-4 col-sm-6">
		         <div class="panel panel-default">
		           <div class="panel-heading"><i class="fa fa-bookmark fa-2x pull-right"></i><h4>Bookmarked Workers</h4></div>
		   			<div class="panel-body">
		              <ul class="list-group">
		              <li class="list-group-item" ng-repeat="worker in requesterProfile.bookmarkedWorkers">{{worker.name}}</li>
		              </ul>
		             <a href="#" class="pull-right">View More</a>              
		            </div>
		   		</div>
		    </div>
		  </div>    
	</div> 
<div class="tab-pane" id="monitor" ng-controller="MonitorController">
    <!--div ng-include="'/static/templates/task/monitor.html'"></div-->
</div>
	     
<div class="tab-pane" id="portfolio" >  
	<h1></h1> 
	<div class="row">
		<div class="col-sm-4 col-xs-6" ng-repeat="task_category in requesterTaskPortfolio">
			<div class="panel panel-primary">
				<h3>{{task_category.name}}</h3>
				<span class="label label-primary" ng-repeat="categories in task_category.categories" style='margin-right:0.25em;display:inline-block;'>{{categories.name}} </span>
				<h5>Project : {{task_category.project.name}}</h5>
				<span class="{{task_category.icon}}"></span>    
				<div class="panel-body">
					<div class ="panel panel-default">
						<table class="table">
							<tbody>
								<tr>
									<td>Pay (per task)</td>
									<td>${{task_category.avg_pay}} <span class="label label-info">Avg</span> | $ {{task_category.min_pay}} <span class="label label-danger">Min</span></td>
								</tr>
								<tr>
									<td>Completed On</td>
									<td>{{task_category.completed_on}}</td>
								</tr>
								<tr>
									<td>Contributors</td>
									<td>{{task_category.num_contributors}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="list-inline">
						<li>Total Tasks <span class="badge">{{task_category.total_tasks}}</span></li>
						<li>|</li>
						<li>Repetition <span class="badge">{{task_category.repetition}}</span></li>
					</ul>
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width:{{ getRate(task_category.num_accepted,task_category.total_submissions)}}%" title="{{task_category.num_accepted}} out of {{task_category.total_submissions}}  Submissions are Accepted">{{getRate(task_category.num_accepted,task_category.total_submissions)}}% Submissions Accepted
						</div>
						
						<div class="progress-bar progress-bar-striped progress-bar-danger" style="width: {{getRate(task_category.num_rejected,task_category.total_submissions)}}%" title="{{task_category.num_rejected}} out of {{task_category.total_submissions}} Submissions are Rejected">{{getRate(task_category.num_rejected,task_category.total_submissions)}}% Submissions Rejected
						</div>
					</div>
					<div class = "panel-footer">
							<span class="glyphicon glyphicon-star" ng-repeat="i in range.slice(0,convertToInt(task_category.avg_rating)) track by $index"/>
						<ul class="list-inline">
							<li>{{task_category.num_raters}} Ratings </li>
							<li>|</li>
							<li>{{task_category.num_reviews}} Reviews</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--/col-->
			
	</div>
</div>

	
	<div class="tab-pane" id="analysis">
	<h1> Visualization In Progress</h1>
	</div>
</div></div>
</div>
</div>
  
<div class="center" ng-if="!account">
		Hello! Login to see your profile!
</div>

 
 
 
 
 
 
