<md-toolbar class="md-lightblue-theme" layout="row" layout-align="center end">
    <div flex layout="column">
        <div class="md-toolbar-tools">
            <h5></h5>
            <span flex></span>
            <md-button aria-label="Contributors" href="contributors">Contributors</md-button>
            <md-button aria-label="Twitter" href="https://twitter.com/CrowdWorkerNews">Twitter</md-button>
            <md-button aria-label="Github" href="https://github.com/crowdresearch/crowdsource-platform">Github</md-button>
        </div>
    </div>
</md-toolbar>