<nav class="nav js-nav-state" role="navigation">

    <ul class="nav-items">

        <li ng-class="{'active': isActiveTab('profile')}" ng-click="ctrl.navigateTo('profile')">My Account</li>
        <li ng-if="account.is_worker" ng-class="{'active': isActiveTab('dashboard')}" ng-click="ctrl.navigateTo('dashboard')">Dashboard</li>
        <li ng-class="{'active': isActiveTab('messages')}" ng-click="ctrl.navigateTo('messages')">Messages</li>
        <li ng-if="account.is_worker" ng-class="{'active': isActiveTab('task-feed')}" ng-click="ctrl.navigateTo('task-feed')">Task Feed</li>
        <li ng-if="account.is_requester" ng-class="{'active': isActiveTab('my-projects')}" ng-click="ctrl.navigateTo('my-projects')">My Projects</li>
        <li ng-click="ctrl.logout()">Logout</li>        
    </ul>
</nav>