<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Radhakrishna Pemmasani</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/rk.jpg" />
          </div>
          <div class="col-sm-9 col-xs-6">
            <blockquote>
                <p><strong>Radhakrishna</strong> <<a href="mailto:pemmasanikrish@gmail.com">pemmasanikrish@gmail.com</a>>, a programmer, designer , Hacker is an Electronics and Communications undergraduate from India. He is absolutely passionate about Technology and his interests include Electronics and Computers as well. He is working as Microsoft student Partner and Technology Evangelist at Microsoft.</p>
            </blockquote>
            
            <blockquote>
                <a href="http://pemmasani.tk/" target="_blank" class="pull-left">Profile</a>
                <br />
            </blockquote>

            <blockquote>
                <a href="http://facebook.com/pemmasanikrishna" target="_blank" class="pull-left">Facebook</a>
                <br />
            </blockquote>
            
            <blockquote>
                <a href="https://www.linkedin.com/in/rkpemmasani/" target="_blank" class="pull-left">LinkedIn</a>
                <br />
            </blockquote>
            
            <blockquote>
                <a href="https://github.com/pemmasanikrishna" target="_blank" class="pull-left">GitHub</a>
                <br />
            </blockquote>
            <br />
            <br />
            <br />
            <p> He currently lives at Mysore, India</p>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
