{% load staticfiles compress %}
<html lang="en" ng-app="crowdsource">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="neilg, dmorina">

    <title>daemo</title>
    <!-- Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'bower_components/angular-material/angular-material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>

<body ng-controller="HomeController as ctrl">

<div layout="column" ng-controller="NavbarController as navCtrl" flex="100">

<div id="appbar" layout="row" ng-if="isLoggedIn" ng-cloak>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools" flex>
            <div flex="25" flex-gt-sm="15" layout="row" layout-align="start center">
                <a href="/"><img src="/static/images/logo.svg" width="28"></a>
            </div>
            <div flex layout="row" layout-align="end center">
                <ng-include ng-if="isLoggedIn" src="'/static/templates/base/top_navigation.html'"></ng-include>
            </div>
        </div>
    </md-toolbar>
</div>

<div ng-if="!isLoggedIn" ng-cloak>
        <div flex layout="row" layout-align="center start">
            <h1 class="md-display-3" layout="column" layout-align="center"><img src="/static/images/logo.svg"> DAEMO</h1>
        </div>
        <div flex layout="row" layout-align="center">
            <md-button class="md-raised md-primary" ng-href="/login">Sign In</md-button>
            <md-button class="md-raised md-accent"  ng-href="/register">Register</md-button>
        </div>
</div>

<div layout="column" flex>
    <div flex role="main" tabindex="-1" layout="column">
        <div md-scroll-y ng-view="" flex></div>
    </div>
</div>
</div>

</body>

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/gsap/src/minified/TweenMax.min.js'%}"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngFx/dist/ngFx.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-loading-bar/src/loading-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/query-string/query-string.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-filter/dist/angular-filter.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-dragdrop/src/angular-dragdrop.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-sortable/sortable.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload-shim.min.js'%}"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static 'js/crowdsource.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crowdsource.interceptor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crowdsource.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crowdsource.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crowdsource.directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/http.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/auth-settings.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/accountmenu.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/home/home.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/controllers/home.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/requester/requester.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/requester/controllers/requester.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/requester/services/requester.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/ranking/ranking.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ranking/controllers/ranking.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ranking/services/ranking.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ranking/directives/check-rating.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'js/dashboard/dashboard.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard/controllers/dashboard.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard/services/dashboard.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/tasksearch/controllers/tasksearch.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tasksearch/tasksearch.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tasksearch/controllers/tasksearch.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tasksearch/services/tasksearch.services.js' %}"></script>

<script type="text/javascript" src="{% static 'js/task/task.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task/services/task.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task/controllers/task.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task/controllers/task-overview.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task/services/module-cache.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/monitor/monitor.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/monitor/controllers/monitor.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/monitor/services/monitor.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/skill/skill.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/skill/services/skill.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/helpers/helpers.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/helpers/services/helpers.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/worker/worker.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/worker/controllers/worker.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/worker/controllers/workeraccount.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/worker/services/worker.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/user/user.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user/controllers/user.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user/services/user.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/project/project.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/project/controllers/project.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/project/controllers/my-project.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/project/controllers/milestone-overview.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/project/services/project.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/task-feed/task-feed.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task-feed/controllers/task-feed.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task-feed/services/task-feed.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/task-worker/task-worker.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task-worker/controllers/task-worker.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task-worker/services/task-worker.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/template/template.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/template/controllers/template.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/template/services/template.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/template/directives/template.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'js/temp_oauth2/angular-oauth2.js' %}"></script>

<script type="text/javascript" src="{% static 'js/drive/drive.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/drive/controllers/drive.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/drive/services/drive.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/data-table/data-table.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/data-table/controllers/data-table.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/data-table/directives/data-table.directive.js' %}"></script>
{% endcompress %}