<md-content class="md-padding" flex="100" ng-controller="MacroWorkSubmitController as vm">

		<h2 class="page-header">
			Submit Work
		</h2>

		<label class="md-subhead">Task Info</label>
		<md-input-container>
			<input ng-model="vm.taskInfo" disabled>
		</md-input-container>

		<label class="md-subhead">Uploaded Files</label>
		<md-list>
			<md-list-item layout="row">
				<p flex="60"> File Name </p>
				<p flex="30"> Size </p>
				<p flex="10"></p>
			</md-list-item>

			<md-divider></md-divider>

			<md-list-item ng-repeat="row in vm.uploadedFiles" class="md-list-item-text" style="overflow: scroll;">
				<p flex="60"> {{ row.name }} </p>
				<p flex="30"> {{ row.size | byteFmt:0}} </p>
				<md-icon md-font-set="material-icons" ng-click="vm.removeRow(row)" style="color:red;"  flex="10">delete</md-icon>
			</md-list-item>

			<md-list-item ng-if="vm.uploadedFiles.length == 0">
				<p flex="60" style="font-size:large;color:#ccc"> No files uploaded yet ... </p>
				<p flex="30"> </p>
				<md-icon md-font-set="material-icons" style="color:red;"  flex="10"></md-icon>
			</md-list-item>
		</md-list>

		<div class="container" style="margin-top:30px;margin-right:50px;">
			<div ngf-drop ngf-select ng-model="vm.filesToUpload" class="file-upload-area"
				ngf-drag-over-class="file-upload-dragover" ngf-multiple="true" ngf-allow-dir="true"
				accept="*">Drop files or click to upload</div>
		</div>

		<label class="md-subhead">Comment</label>
		<md-input-container >
			<textarea ng-model="vm.commentText" columns="1" md-maxlength="200"></textarea>
		</md-input-container>

		<div class="container" layout="row" style="margin-bottom:20px;" layout-align="end center">
			<md-button class="md-raised" ng-click="vm.cancel($event)" flex="10">Cancel</md-button>
			<md-button class="md-primary md-raised" ng-click="vm.submit($event)" flex="10">Submit</md-button>
		</div>

</md-content>
