<md-dialog class="aws-dialog">
    <md-dialog-content class="dialog-content">
        <!-- <div layout="row">  -->
        <div layout="row">
            <div layout="column" layout-align="end start" class="title">Add AWS Keys</div>
            <div layout="column" layout-align="center end" class="clear">
                <md-button class="exit md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </div>
        <div class="_small-note text">
            To obtain Amazon keys for posting to Mechanical Turk, click <a
                href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html"
                target="_blank">here</a> and follow the instructions to create a new
            Amazon IAM user with the IAM Management Console. Download or save the Access Key ID and Secret Access Key.
            Then, click on the name of your new user in the Users list, click the Permissions tab, click Attach Policy,
            and attach the AmazonMechanicalTurkFullAccess Policy. Finally, copy/paste the Access Key ID and Secret
            Access Key here.
        </div>

        <div layout="column">
            <form name="metaForm">
                <div class="_ml-16" layout="row">
                    <md-input-container class="md-block">
                        <label>Access Key Id</label>
                        <input class="_gts-text" name="client_id" required
                               ng-model="project.aws_account.client_id">
                    </md-input-container>
                    <md-input-container class="_ml-24 md-block">
                        <label>Secret Access Key</label>
                        <input class="_gts-text" name="client_secret" autocomplete="off" required
                               ng-model="project.aws_account.client_secret">
                    </md-input-container>
                </div>
                <div class="layout-align-end-end" layout="row">
                    <md-dialog-actions>
                        <md-button ng-click="project.create_or_update_aws(); cancel();" class="publish">Save
                        </md-button>
                    </md-dialog-actions>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>

