<div class="md-whiteframe-z1 _main-content _middle-content">
    <div layout="row" class="layout-align-start-center _content-nav">
        <md-button ui-sref="my_projects" class="_nav-actions">
            <md-icon md-font-set="material-icons">chevron_left</md-icon>
        </md-button>
        <div>
            <div class="_nav-title _truncated-text"
                 style="">{{ project.project?project.project.name : 'Project Authoring' }}

            </div>
            <div class="_save-message">{{ project.saveMessage }}</div>
        </div>


        <div class="_content-actions">

            <md-button ng-if="project.project.status==1" style="margin-right: 0" class="_nav-actions"
                       ng-class="{'_button-active': project.showPreview}"
                       ng-click="project.preview($event)">
                <md-icon md-font-set="material-icons">remove_red_eye</md-icon>
                <md-tooltip>Preview</md-tooltip>
            </md-button>
            <md-button style="margin-left: 4px" ng-if="project.project.status==1" class="_nav-actions"
                       ng-click="project.deleteProject()">
                <md-icon md-font-set="material-icons">delete</md-icon>
                <md-tooltip>Discard Draft</md-tooltip>
            </md-button>
            <md-button ng-cloak="" ng-if="project.showPublish()"
                       class="_nav-actions md-raised md-accent _text-button" ng-click="project.validate($event)">
                <md-tooltip>Publish</md-tooltip>
                Publish
            </md-button>
            <md-button class="_nav-actions" href="https://forum.daemo.org/t/requester-faq" target="_blank">
                <md-icon md-font-set="material-icons">help</md-icon>
                <md-tooltip>Frequently Asked Questions</md-tooltip>
            </md-button>

        </div>
    </div>

    <div class="_authoring_content _error-inset"
         ng-if="project.isLatestRevision() && (project.project.status === project.status.STATUS_IN_PROGRESS || project.project.status === project.status.STATUS_PAUSED)">
        This project has launched.
        <div class="_error">
            <md-button ng-disabled="project.createRevisionInProgress" ng-click="project.createRevision();"
                       style="left: -13px">{{ project.unlockButtonText }}
            </md-button>
        </div>
    </div>

    <div class="_main-content-body">


        <div class="_project-title" layout-sm="column" layout-gt-sm="row">
            <md-input-container class="">
                <label>Title</label>
                <textarea ng-disabled="project.isDisabled()" ng-model="project.project.name"
                          autocomplete="off"></textarea>
            </md-input-container>
            <div class="layout-row layout-align-start-start" style="padding-top: 2px; padding-right: 16px">
                <div class="_hash-id">Project Identifier
                    <div class="_id">{{ project.project.hash_id }}</div>
                </div>
            </div>

        </div>

        <div ng-controller="TemplateController as template" ng-if="!project.showInstructions">
            <div class="_template-builder">
                <div style="background-color: rgba(255, 255, 255, 0.5)">
                    <ng-include src="'/static/templates/template/base.html'"></ng-include>
                </div>
            </div>
            <div ng-if="!project.isDisabled()" class="_item-toolbar">
                <md-button style="padding-top: 12px; padding-bottom: 12px"
                           ng-repeat="component in template.templateComponents"
                           ng-click="template.addComponent(component, false, null)">
                    <md-icon md-font-set="material-icons">{{ component.icon }}</md-icon>
                    <md-tooltip>
                        {{ component.tooltip }}
                    </md-tooltip>
                </md-button>
            </div>
        </div>
        <div style="padding-top: 24px" class="_authoring_content"
             ng-if="!project.showInstructions && !project.isDisabled()">
            <div>Upload a CSV if you want to create a task for each row. You can use the CSV headers as <span
                    class="_variable">{{ '\{\{variables\}\}' }}</span> in the task design.
            </div>
        </div>
        <div ng-if="!project.isDisabled()" class="_meta-files _ml-16" layout="row">
            <md-button ng-disabled="project.fileUploading" style="width: 172px"
                       ng-if="project.project.batch_files.length==0" ng-cloak="" ngf-select
                       ngf-change="project.upload($files)">Upload a spreadsheet
            </md-button>
            <div ng-if="project.fileUploading" layout="row" layout-align="start-center" class="_ml-16">
                <md-progress-circular md-diameter="10"
                                      md-mode="indeterminate"></md-progress-circular>
                <div class="_loading-text" style="padding-left: 4px">Uploading ...</div>
            </div>
        </div>

        <md-list style="padding-left: 16px" ng-if="project.project.batch_files.length>0"
                 class="_meta-sources"
                 ng-cloak="">
            <md-list-item class="md-line-2 layout-row layout-align-start-center"
                          ng-repeat="file in project.project.batch_files">
                <div class="md-list-item-text">
                    <div><a class="_file-upload" href="{{ file.file }}" target="_blank" download="">{{ file.name }}</a>
                        ({{ file.size }}, {{ file.number_of_rows }} rows)
                    </div>
                </div>
                <md-icon ng-if="!project.isDisabled()" style="padding-top: 4px" ng-click="project.removeFile(file.id)"
                         class="_file-action"
                         md-font-set="material-icons">clear
                </md-icon>
            </md-list-item>
        </md-list>

        <div class="_meta-info" layout="column" ng-if="!project.showInstructions"
             ng-click="project.selectedItem = null" style="outline: none">
            <form name="metaForm" style="margin-bottom: 0">
                <div class="_authoring_content" layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="start center">
                    <md-input-container flex-gt-xs="20">
                        <label>Assignments per task</label>
                        <input ng-disabled="project.isDisabled()" name="repetition" type="number" min="1"
                               ng-model="project.project.repetition" max="{{ project.availableWorkerCount }}">
                    </md-input-container>
                    <md-input-container flex-gt-xs="20" class="md-block md-input-has-placeholder">
                        <label>Price per assignment</label>
                        <div><span class="currency-symbol">$</span>
                            <input ng-disabled="project.isDisabled()"
                                   name="price" type="number" min="0.01"
                                   decimals="2" integers="15" is-currency
                                   step="0.01" ng-model="project.project.price"
                                   class="currency-field"></div>
                    </md-input-container>
                    <div class="_meta-files">
                        {{ (project.project.repetition * project.project.price || 0) | currency}} per task


                    </div>

                </div>
                <div class="_error _authoring_content" ng-if="project.project.repetition>project.availableWorkerCount">
                    Number of available workers is {{ project.availableWorkerCount }}.
                </div>
                <div class="_secondary-text _authoring_content" ng-if="project.project.price">
                    To achieve California Minimum Wage, workers need to be able to finish this task in
                    {{ project.getMinWage() }}.
                </div>
                <div class="_secondary-text _authoring_content" ng-if="!project.project.price">
                    We recommend pricing tasks to achieve <a href="https://www.minimum-wage.org/california"
                                                             target="_blank">California Minimum Wage</a> of $10.50 per
                    hour.
                </div>
                <br/>
                <div class="_authoring_content">
                    <div ng-if="project.project.batch_files.length>0 && project.project.batch_files[0].number_of_rows > 1">
                        Tasks: {{ project.project.batch_files[0].number_of_rows }}
                    </div>
                    <div class="layout-row layout-align-start-center">
                        <div ng-if="!project.calculatingTotal">Total cost: {{ project.amountToPay | currency }}</div>
                        <div ng-if="project.calculatingTotal" layout="row" layout-align="start center">
                            Total cost: &nbsp;
                            <div class="_loading-text">Calculating ...</div>
                        </div>
                    </div>
                    <div>Your Daemo funds: {{ project.financial_data.account_balance | currency }}</div>
                    <br/>
                    <div ng-if="project.submittedTasksCount > 0" class="_secondary-text">
                        You have tasks that are submitted but not yet approved. We collect funds to cover these
                        unapproved tasks in case they are returned to the marketplace. <a
                            href="{{ '/project-review/' + project.project.id }}">Approving
                        submitted work</a> for this project first will save you money.
                    </div>
                    <br/>
                    <div ng-if="project.amountToPay > project.financial_data.account_balance">
                        <div class="_error">
                            You don't have enough funds to publish this project. Please deposit at least
                            {{ (project.amountToPay - project.financial_data.account_balance) | currency}}
                        </div>
                        <md-button class="md-accent" ng-click="project.goTo('payment_deposit')"
                                   style="margin-left: -6px;">
                            Deposit Funds
                        </md-button>
                    </div>
                </div>
                <div layout="row" layout-align="start center" flex style="position: relative; margin-left: 18px">

                    <md-button ng-click="project.isExpanded = !project.isExpanded" class="button-icon">Advanced
                        <span class="icon">
                                <i class="material-icons" ng-show="!project.isExpanded">keyboard_arrow_down</i>
                                <i class="material-icons" ng-show="project.isExpanded">keyboard_arrow_up</i>
                            </span>
                    </md-button>
                </div>

                <div class="_authoring_content" ng-show="project.isExpanded">
                    <div layout="row">
                        <!--div class="md-datepicker-input _mr-24" layout="column">
                            <label>Deadline</label>
                            <md-datepicker ng-disabled="project.isDisabled()" class="md-input-has-value larger"
                                           name="deadline"
                                           ng-model="project.project.deadline" md-min-date="project.minDate"
                                           md-placeholder="mm/dd/yyyy">
                            </md-datepicker>
                        </div-->
                        <md-input-container flex class="md-block larger md-input-has-placeholder">
                            <label>Time limit per task (minutes)</label>
                            <input ng-disabled="project.isDisabled()" name="timeout" type="number"
                                   ng-model="project.project.timeout" min="1">
                        </md-input-container>
                    </div>
                    <div>
                        <md-switch ng-disabled="project.isDisabled()"
                                   ng-model="project.project.enable_boomerang">Enable Boomerang (Cascaded Release)
                    </div>
                    <div class="layout-row layout-align-start-center" ng-if="project.project.batch_files.length">
                        <md-switch ng-disabled="project.isDisabled()"
                                   ng-model="project.project.allow_price_per_task">Custom Pricing

                        </md-switch>
                        <md-input-container style="margin-left: 32px">
                            <label>Price Field</label>
                            <md-select ng-if="project.project.allow_price_per_task"
                                       ng-model="project.project.task_price_field"
                                       aria-label="qualification attribute">
                                <md-option value="{{ option }}"
                                           ng-repeat="option in project.project.batch_files[0].column_headers">
                                    {{ option }}
                                </md-option>
                                <md-tooltip>Link a column to price tasks individually.</md-tooltip>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div ng-if="project.project.batch_files.length">
                        <span class="_sub-header">Qualifications</span>
                        <div>
                            <div class="layout-row" ng-repeat="item in project.project.qualification_items"
                                 ng-if="item.expression.attribute!='worker_groups'">
                                <md-input-container flex="33">
                                    <label>Attribute</label>
                                    <md-select ng-model="item.expression.attribute"
                                               aria-label="qualification attribute" ng-disabled="true">
                                        <md-option value="{{ option.value }}"
                                                   ng-repeat="option in project.qualificationItemOptions">
                                            {{ option.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label>Operator</label>
                                    <md-select ng-disabled="project.isDisabled()"
                                               ng-change="project.updateQualificationItem(item)"
                                               class="_ml-16" ng-model="item.expression.operator"
                                               aria-label="qualification operator">
                                        <md-option value="{{ option.value }}"
                                                   ng-repeat="option in project.qualificationOperatorMapping[item.expression.attribute]">
                                            {{ option.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="_ml-16">
                                    <label>Value(s)</label>
                                    <input ng-disabled="project.isDisabled()"
                                           ng-change="project.updateQualificationItem(item)"
                                           ng-if="item.expression.attribute=='approval_rate'" type="number"
                                           ng-model="item.expression.value" min="1" max="99">
                                    <input ng-disabled="project.isDisabled()"
                                           ng-change="project.updateQualificationItem(item)"
                                           ng-if="item.expression.attribute=='total_tasks'" type="number"
                                           ng-model="item.expression.value" min="1">
                                    <input ng-disabled="project.isDisabled()"
                                           ng-change="project.updateQualificationItem(item)"
                                           ng-if="item.expression.attribute=='location'" type="text"
                                           ng-model="item.expression.value">

                                    <md-select ng-disabled="project.isDisabled()"
                                               ng-if="item.expression.attribute=='task_worker_id'"
                                               ng-model="item.expression.value"
                                               aria-label="qualification attribute">
                                        <md-option value="{{ option }}"
                                                   ng-repeat="option in project.project.batch_files[0].column_headers">
                                            {{ option }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-icon ng-if="!project.isDisabled()"
                                         ng-click="project.deleteQualificationItem(item.id)" class="_icon-18 _clickable"
                                         md-font-set="material-icons">delete
                                </md-icon>
                                <span flex="20"></span>
                            </div>
                        </div>
                        <div class="layout-row"
                             ng-if="project.showNewItemForm()">
                            <md-input-container>
                                <label>Attribute</label>
                                <md-select ng-disabled="project.isDisabled()"
                                           ng-model="project.qualificationItemAttribute"
                                           aria-label="qualification attribute">
                                    <md-option value="{{ option.value }}"
                                               ng-repeat="option in project.qualificationItemOptions">
                                        {{ option.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Operator</label>
                                <md-select ng-disabled="project.isDisabled()" class="_ml-16"
                                           ng-model="project.qualificationItemOperator"
                                           aria-label="qualification operator">
                                    <md-option value="{{ option.value }}"
                                               ng-repeat="option in project.qualificationOperatorMapping[project.qualificationItemAttribute]">
                                        {{ option.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="_ml-16"
                                                ng-if="project.qualificationItemAttribute=='approval_rate' &&
                                                project.qualificationItemAttribute &&
                                                project.qualificationItemAttribute!='worker_groups'">
                                <label>Value(s)</label>
                                <input ng-disabled="project.isDisabled()"
                                       type="number"
                                       ng-model="project.qualificationItemValue" min="1" max="99">

                            </md-input-container>
                            <md-input-container class="_ml-16"
                                                ng-if="project.qualificationItemAttribute=='total_tasks' &&
                                                project.qualificationItemAttribute &&
                                                project.qualificationItemAttribute!='worker_groups'">
                                <label>Value(s)</label>
                                <input ng-disabled="project.isDisabled()" type="number"
                                       ng-model="project.qualificationItemValue" min="1">
                            </md-input-container>
                            <md-input-container class="_ml-16"
                                                ng-if="project.qualificationItemAttribute=='location' &&
                                                project.qualificationItemAttribute &&
                                                project.qualificationItemAttribute!='worker_groups'">
                                <label>Value(s)</label>
                                <input ng-disabled="project.isDisabled()"
                                       type="text"
                                       ng-model="project.qualificationItemValue">

                            </md-input-container>
                            <md-input-container class="_ml-16"
                                                ng-if="project.qualificationItemAttribute=='task_worker_id'">
                                <md-select
                                        ng-model="project.qualificationItemValue"
                                        aria-label="qualification attribute">
                                    <md-option value="{{ option }}"
                                               ng-repeat="option in project.project.batch_files[0].column_headers">
                                        {{ option }}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-button
                                    ng-disabled="project.isDisabled() || (!project.qualificationItemAttribute || !project.qualificationItemOperator
                                    || project.qualificationItemValue==null) && project.qualificationItemAttribute!='worker_groups'"
                                    ng-click="project.createQualificationItem()">Add
                            </md-button>
                        </div>
                    </div>
                    <!--div class="layout-row layout-align-start-center">
                        <div class="layout-column">
                            <label style="color: rgba(0, 0, 0, 0.54)">Publish at</label>
                            <md-datepicker ng-disabled="project.isDisabled()" class="md-input-has-value"
                                           name="publish_at"
                                           ng-model="project.project.publish_at" md-min-date="project.minDate"
                                           md-placeholder="mm/dd/yyyy">
                            </md-datepicker>
                        </div>
                        <div class="_publishAtForm">
                            <md-time-picker ng-model="time" message="publishAtMessages" read-only="project.isDisabled()"
                                            mandatory="false" ></md-time-picker>
                        </div>


                    </div-->
                    <div class="_mt-16 _mb-16"
                         ng-if="project.workerGroups.length || !project.isDisabled()">
                        <span class="_sub-header" ng-if="project.workerGroups.length">Select a worker group to do your task</span>
                        <div>
                            <md-input-container ng-show="project.workerGroups.length" class="_mr-16">
                                <label>Group</label>
                                <md-select ng-disabled="project.isDisabled()"
                                           ng-change="project.addWorkerGroupQualification()" class="_ml-16"
                                           ng-model="project.project.workerGroup"
                                           aria-label="worker group">
                                    <md-option value="0">None</md-option>
                                    <md-option value="{{ option.id }}"
                                               ng-repeat="option in project.workerGroups">
                                        {{ option.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <div class="_secondary-text" ng-if="project.workerGroups.length">Go to requester <a
                                    href="/requester-settings">settings</a> to
                                manage your worker groups.
                            </div>
                            <div class="_secondary-text" ng-if="!project.workerGroups.length">If you would like to
                                restrict this task to specific worker groups,
                                go to <a href="/requester-settings"> requester settings</a> to create a group.
                            </div>
                            <!--span ng-if="!project.isDisabled()" class="_link"
                                  ng-click="project.openWorkerGroupNew($event)">Add group</span-->
                        </div>

                    </div>

                    <!--div>
                        <div class="_sub-header">Post my task to Mechanical Turk if nobody on Daemo is available</div>
                        <md-switch ng-disabled="project.isDisabled()" ng-change="project.AWSChanged($event)"
                                   ng-model="project.project.post_mturk">Post to
                            Mechanical Turk
                        </md-switch>
                        <div class="_small-note _error">{{ project.AWSError }}</div>
                    </div-->
                </div>


                <div class="_authoring_content _advanced" layout="row">
                    <div ng-hide="project.isExpanded || !project.project.deadline" class="_mr-24">Deadline:
                        {{ project.project.deadline | date:'MMM d, y' || "Not Defined" }}</div>
                    <div ng-hide="project.isExpanded|| !project.project.timeout">
                        Time limit per task: {{ project.project.timeout || 0 }} minutes
                    </div>
                </div>
                <!--div ng-if="!project.isExpanded && project.aws_account.id"
                     class="_small-note _authoring_content _advanced _aws-note">*Your task
                    will automatically be posted to Mechanical Turk, click "Advanced"
                    to change that setting or configure AWS Keys.
                </div-->
            </form>
            <div class="layout-row layout-align-end-center"
                 style="padding-left: 16px; padding-right: 16px; padding-bottom: 8px">
                <md-button ng-if="project.showResume()" ng-disabled="project.publishing" ng-click="project.done($event)"
                           class="md-accent">{{ project.resumeButtonText }}</md-button>
            </div>
        </div>
        <div ng-if="project.showInstructions && !project.isProfileCompleted">
            <ng-include src="'/static/templates/user/demographics.html'"></ng-include>
        </div>
        <div ng-if="project.showInstructions && project.isProfileCompleted">
            <ng-include src="'/static/templates/project/launch-instructions.html'"></ng-include>
        </div>

    </div>
</div>
