<div class="_main-content md-whiteframe-z1">
    <div layout="row" class="layout-align-start-center _content-nav">
        <md-button ng-href="/my-projects" class="_nav-actions">
            <md-icon md-font-set="material-icons">chevron_left</md-icon>
        </md-button>
        <span class="_nav-title">Task Authoring</span>

        <div class="_content-actions">
            <!--md-button class="_nav-actions">
                <md-icon md-font-set="material-icons">remove_red_eye</md-icon>
                <md-tooltip>Preview</md-tooltip>
            </md-button-->
            <md-button ng-if="project.module.status==1" class="_nav-actions" ng-click="project.publish()">
                <md-icon md-font-set="material-icons">public</md-icon>
                <md-tooltip>Publish</md-tooltip>
            </md-button>
            <md-button class="_nav-actions" ng-click="project.save()">
                <md-icon md-font-set="material-icons">save</md-icon>
                <md-tooltip>Save Changes</md-tooltip>
            </md-button>
            <md-button ng-if="project.module.status==1" class="_nav-actions" ng-click="project.deleteModule()">
                <md-icon md-font-set="material-icons">delete</md-icon>
                <md-tooltip>Discard Draft</md-tooltip>
            </md-button>
        </div>
    </div>
    <div class="_project-title">
        <md-input-container class="_authoring_content">
            <label>Title</label>
            <input ng-model="project.module.name" autocomplete="off">
        </md-input-container>
    </div>
    <div ng-controller="TemplateController as template">
        <div class="_template-builder">
            <ng-include src="'/static/templates/template/base.html'"></ng-include>
        </div>
        <div class="_item-toolbar">
            <md-button ng-repeat="component in template.templateComponents" ng-click="template.addComponent(component)">
                <md-icon md-font-set="material-icons">{{ component.icon }}</md-icon>
                <md-tooltip>
                    {{ component.tooltip }}
                </md-tooltip>
            </md-button>
        </div>
    </div>

    <div class="_meta-info" layout="row">
        <md-input-container class="_authoring_content">
            <label>Worker/Task</label>
            <input required style="width: 128px !important;" type="number" min="1"
                   ng-model="project.module.repetition">
        </md-input-container>
        <md-input-container class="_authoring_content">
            <label>$/Task</label>
            <input required style="width: 128px !important;" type="number" min="1"
                   ng-model="project.module.price">
        </md-input-container>
        <div>

        </div>
    </div>

</div>
