<div layout="row">
    <md-content class="transparent-background" flex="100">
        <md-list layout="row" class="project-nav">
            <md-list-item ng-repeat="step in project.wizard.steps"
                          ng-class="{'active': project.wizard.currentStep==step.id, 'valid': step.is_valid}">
                {{ step.name }}
            </md-list-item>
        </md-list>
        <div class="project-form">
            <h3 class="step">{{ project.wizard.getStep().name }}</h3>

            <div class="step-content">
                <form name="projectForm" ng-submit="project.addProject()" novalidate>
                    <ng-include ng-show="project.wizard.currentStep==1"
                                src="'/static/templates/project/categories.html'"></ng-include>
                    <ng-include ng-show="project.wizard.currentStep==2"
                                src="'/static/templates/project/details.html'"></ng-include>
                    <ng-include ng-show="project.wizard.currentStep==3"
                                src="'/static/templates/project/milestones.html'"></ng-include>
                    <ng-include ng-show="project.wizard.currentStep==4"
                                src="'/static/templates/template/container.html'"></ng-include>
                    <ng-include ng-show="project.wizard.currentStep==5"
                                src="'/static/templates/project/payment.html'"></ng-include>
                    <ng-include ng-show="project.wizard.currentStep==6"
                                src="'/static/templates/project/summary.html'"></ng-include>

                    <div layout="row" class="project-actions md-padding">
                        <div flex="50" layout="row" layout-align="start center">
                            <md-button type="button" ng-click="project.wizard.setStep(project.wizard.getPrevious())"
                                       ng-if="!project.wizard.isFirstStep(project.wizard.currentStep)" class="md-raised">Back
                            </md-button>
                        </div>
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button type="button" class="md-raised md-primary" style="background-color: #003366;"
                                       ng-click="project.wizard.validate(true)"
                                       ng-if="!project.wizard.isLastStep(project.wizard.currentStep)" class="md-raised">Next
                            </md-button>
                            <md-button class="md-raised md-primary" ng-if="project.wizard.isLastStep(project.wizard.currentStep)" type="submit"
                                       >Submit
                            </md-button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </md-content>
</div>


