<div class="_main-content md-whiteframe-z1" layout="row" layout-align="center start" flex>
    <div flex="100" flex-gt-sm="100" class="_main-content-body">
        <md-toolbar class="my-projects-toolbar _content-nav">
            <div class="md-toolbar-tools">
                <h3 class="my-projects-header">My Projects</h3>
                <div class="md-actions" flex layout="row" layout-align="end center">
                    <md-button ng-click="project.createProject()" aria-label="move" class="md-primary md-raised">
                        Create Project
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <md-divider></md-divider>
        <md-list ng-cloak>
            <md-list-item ng-show="project.myModules.length" class="list-subheader">
                <div flex="30">Name</div>
                <div flex="15">Status</div>
                <div flex="10">Tasks</div>
                <div flex="30">Age</div>
            </md-list-item>
            <md-list-item ng-repeat="item in project.myModules" ng-click="project.navigateToTasks(item.id)">
                <div flex="30">{{ item.name }}</div>
                <div flex="15">{{ project.statusToString(item.status) }}</div>
                <div flex="10">{{ item.total_tasks }}</div>
                <div flex="30">{{ item.age }}</div>
                <div flex="15" layout="row">
                    <!-- add md-secondary classes when supported -->
                    <md-button ng-if="item.status==1 || item.status==4" ng-disabled="item.status!=1" aria-label="Pause" class="my-projects-icon" ng-click="project.discard($event, item)">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                        <md-tooltip>Discard</md-tooltip>
                    </md-button>
                    <md-button ng-if="item.status==5" class="my-projects-icon" aria-label="Publish" ng-click="project.resume($event, item)">
                        <md-icon md-font-set="material-icons">play_arrow</md-icon>
                        <md-tooltip>Resume</md-tooltip>
                    </md-button>
                    <md-button ng-if="item.status==3" aria-label="Pause" class="my-projects-icon" ng-click="project.pause($event, item)">
                        <md-icon md-font-set="material-icons">pause</md-icon>
                        <md-tooltip>Pause</md-tooltip>
                    </md-button>
                    <md-button ng-if="item.status==1" class="my-projects-icon" aria-label="Edit" ng-click="project.edit($event, item)">
                        <md-icon md-font-set="material-icons">mode_edit</md-icon>
                        <md-tooltip>Edit</md-tooltip>
                    </md-button>
                    <md-button ng-if="item.status!=1" aria-label="Fork" class="my-projects-icon" ng-click="project.fork($event, item)">
                        <md-icon md-font-set="material-icons">content_copy</md-icon>
                        <md-tooltip>Fork</md-tooltip>
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item ng-show="!project.myModules.length">
                <div layout="row" layout-align="start center">No projects found!</div>
            </md-list-item>
        </md-list>
    </div>
</div>