<div class="md-whiteframe-z1 _main-content _middle-content"
     ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}"
     style="height: calc(100vh - 122px)">
  <div layout="row" class="layout-align-start-center _content-nav"
       ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
    <div class="_task-list" ng-class="{'_task-list-sm': $mdMedia('sm'), '_task-list-gt-sm': $mdMedia('gt-sm')}"
         style="height: 100%" layout="row"
         layout-align="start center">
      <span style="margin-left: 16px" ng-cloak="" class="_nav-title _project-name">My Tasks
      </span>

      <div style="margin-left: auto" layout="row">
        <!--md-button class="_nav-actions" ng-click="myTasks.search()">
          <md-icon md-font-set="material-icons">search</md-icon>
          <md-tooltip>Search Projects</md-tooltip>
        </md-button-->
        <md-button class="_nav-actions" ng-click="myTasks.more()">
          <md-icon md-font-set="material-icons">more_vert</md-icon>
          <md-tooltip>More actions</md-tooltip>
        </md-button>
      </div>
    </div>
    <span class="_sub-header _submission-header">Tasks {{myTasks.selectedProject.name? 'of '+myTasks.selectedProject.name: ''}}</span>
    <div class="_content-actions">
      <!--md-button ng-if="review.selectedTask && review.showAcceptAll()" class="_nav-actions"
                 ng-click="review.acceptAll()">
        <md-icon md-font-set="material-icons">done_all</md-icon>
        <md-tooltip>Approve the rest</md-tooltip>
      </md-button-->
    </div>
  </div>
  <div class="_main-content-body">
    <div class="_submission-wrapper" layout="row">
      <div class="_task-list" ng-cloak=""
           ng-class="{'_task-list-sm': $mdMedia('sm'), '_task-list-gt-sm': $mdMedia('gt-sm')}">

          <div class="_task-entry" ng-click="myTasks.setSelected(project)"
               ng-repeat="project in myTasks.projects"
               ng-class="{'_task-active': myTasks.isSelected(project)}">
            <div class="_item-wrapper">
              <div class="_entry-item _task-toggle">

              </div>

              <div class="_entry-item _md-list-item-text _task-name"
                   ng-class="{'_task-name-sm': $mdMedia('sm'), '_task-name-gt-sm': $mdMedia('gt-sm')}">
                <h3>{{ project.name }}</h3>
                <p>{{project.owner.alias}}</p>
              </div>
              <!--div class="_entry-item _task-secondary">
                <md-icon class="_icon-18" md-font-set="material-icons">radio_button_unchecked</md-icon>
                <span class="_icon-text">{{task.completion * 100 + '%'}}</span>

              </div-->
            </div>

            <md-divider ng-if="!$last"></md-divider>
          </div>
          <div ng-if="myTasks.loading" layout="column" class="_loading-text _centered">

            <md-progress-circular class="_centered"
                                  md-mode="indeterminate"></md-progress-circular>
            <div>Loading Tasks ...</div>
          </div>

      </div>
      <div class="_task-submissions">
        <div class="_no-submissions" ng-cloak="" ng-if="!myTasks.loading && !myTasks.projects.length"> No
          tasks yet, please navigate to "Task Feed"
        </div>
        <div class="_no-selection" ng-cloak="" ng-if="!myTasks.loading && !myTasks.selectedProject"> No project selected
        </div>
        <!--div class="_submission" ng-repeat="submission in review.submissions">
          <span class="_submission-item _user-alias">{{submission.worker_alias}}</span>
          <div class="_submission-item _result" ng-repeat="result_obj in submission.task_worker_results">
            {{review.getQuestionNumber(result_obj)+') ' + review.getResult(result_obj.result)}}
          </div>
          <div class="_submission-item">
            <div layout="row" layout-align="end center">
              <span class="_task-status" ng-class="{'_accepted': submission.task_status==review.status.ACCEPTED,
               '_returned': submission.task_status==review.status.RETURNED}">
                {{review.getStatus(submission.task_status)}}
              </span>
              <md-button style="margin-bottom: 6px" ng-if="submission.task_status==review.status.SUBMITTED"
                         class="_small-button" ng-click="review.updateStatus(review.status.RETURNED, submission)">
                <md-icon md-font-set="material-icons">reply</md-icon>
                <md-tooltip>Return to worker</md-tooltip>
              </md-button>
            </div>

          </div>
          <md-divider></md-divider>
        </div-->
      </div>
    </div>

  </div>

</div>
