<div class="_main-content _middle-content md-whiteframe-z1" layout="column" layout-align="center start">
    <div class="_main-content-body">
        <div layout="row" class="layout-align-start-center _task-nav _task-feed-shadow"
             ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
            <span class="_nav-title _left-inset">Worker Status</span>
            <div class="_header-actions">
            </div>
        </div>
        <md-content class="_card-list">
            <section ng-repeat="item in myTasks.projects">
                <md-subheader style="height: 32px; line-height: 32px" ng-if="$first">Completed</md-subheader>
                <div class="_card-list-item" ng-class="{'_completed': item.status==project.status.STATUS_IN_PROGRESS ||
                         item.status==project.status.STATUS_COMPLETED, '_draft': item.status==project.status.STATUS_DRAFT ||
                         item.status==project.status.STATUS_PAUSED}">
                    <div ng-if="item.returned>0" class="_card-list-label" style="color: red">{{ item.returned }} tasks
                        have been returned for revision
                    </div>
                    <div ng-if="item.returned>0 || item.in_progress>0" class="_card-list-text _title"
                         ui-sref="task_project({projectId:item.id})">{{ item.name }}
                    </div>
                    <div ng-if="item.returned==0 && item.in_progress==0" class="_card-list-text _title">{{ item.name }}
                    </div>

                    <div>
                        <div class="_inline">
                            <div class="_card-list-label">Completed</div>
                            <div class="_card-list-text _small">
                                {{ item.awaiting_review + item.completed }} /
                                {{ item.awaiting_review + item.completed + item.returned + item.in_progress }}</div>
                        </div>
                        <div class="_inline">
                            <div class="_card-list-label">Accepted</div>
                            <div class="_card-list-text _small">
                                {{ item.completed }} /
                                {{ item.awaiting_review + item.completed + item.returned + item.in_progress }}
                            </div>
                        </div>
                        <div class="_inline">
                            <div class="_card-list-label">Earned</div>
                            <div class="_card-list-text _small">
                                ${{ myTasks.getAmount(item.completed * item.price) }} /
                                ${{ myTasks.getAmount(item.price * (item.awaiting_review + item.completed + item.returned + item.in_progress)) }}
                            </div>
                        </div>
                        <div ng-if="item.expires_at" class="_inline" style="float: right;">
                            <div class="_card-list-label">Deadline</div>
                            <div class="_card-list-text">{{ item.expires_at }}</div>
                        </div>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </section>
            <div ng-hide="true">
                <md-divider></md-divider>
                <div class="_card-list-item _clickable" ng-click="project.getMore()">
                    <div class="_card-list-label" style="width: 550px; display: inline">All completed projects
                    </div>
                    <div style="display: inline; float: right; line-height: 14px">
                        <md-icon class="_icon-18"
                                 md-font-set="material-icons">keyboard_arrow_down
                        </md-icon>
                    </div>
                </div>
            </div>
        </md-content>

    </div>
</div>

