<md-input-container class="form-input-container" style="margin-left: 1%">
        <md-subheader>How many different people should do the prototype task?</md-subheader>
        <input required ng-model="project.currentProject.payment.number_of_hits" aria-label="number_of_hits" style="margin-left: 2%">
        <div ng-if="project.currentProject.payment.number_of_hits==null" ng-messages="projectForm.description.$error">
        </div>
</md-input-container>

<md-input-container  class="form-input-container" style="margin-left: 1%">
    <md-subheader>How much will you pay per task?</md-subheader>
    <input required ng-model="project.currentProject.payment.wage_per_hit" aria-label="wage_per_hit" style="margin-left: 2%" >
    <div ng-if="project.currentProject.payment.wage_per_hit==null" ng-messages="projectForm.description.$error">
    </div>
</md-input-container>

<md-input-container class="form-input-container" style="margin-left: 1%">
    <md-subheader>Service Fee</md-subheader>
    <input required ng-model="project.currentProject.payment.charges" aria-label="charges" style="margin-left: 2%" >
    <div ng-if="project.currentProject.payment.charges==null" ng-messages="projectForm.description.$error">
    </div>
</md-input-container>
 
<md-list-item class="md-proxy-focus">
  <md-icon md-font-icon="fa-tags" class="fa fa-lg"></md-icon>
  <p>Payment</p>
  <p>${{ project.currentProject.payment.total }}</p>
</md-list-item>


