<div class="md-whiteframe-z1 _main-content _middle-content"
     ng-class="{'_sm': screenIsSmall, '_gt-sm': !screenIsSmall}">
    <div layout="row" class="layout-align-start-center _task-nav _task-feed-shadow"
         ng-class="{'_sm': screenIsSmall, '_gt-sm': !screenIsSmall}">
        <span class="_nav-title _truncated-text"
              style="max-width: 500px; padding-left: 16px">Requester Settings</span>
    </div>
    <div class="_main-content-body">


        <div ng-class="{'_expanded': true}" style="padding: 16px; min-height: 100vh">
            <div class="layout-row layout-align-start-center">
                <div class="_icon-left">
                    <md-icon style="margin-top: 6px" class="_icon-18" md-font-set="material-icons">block</md-icon>
                </div>
                <div style="color: rgba(0, 0, 0, 0.7); font-size: large; font-weight: 500">
                    Block workers
                </div>
            </div>


            <div class="_detail-text _margin-lr">Blocked workers will not be able to attempt your tasks in the
                future
            </div>
            <div class="layout-row layout-align-start-center">
                <md-autocomplete style="margin-top: 10px; margin-bottom: 10px; width: 256px;"
                                 class="_margin-lr" ng-hide="inbox.newRecipients.length"
                                 md-selected-item="preferences.selectedItem"
                                 md-search-text="preferences.searchText"
                                 md-items="user in preferences.querySearch(preferences.searchText)"
                                 md-item-text="user.handle"
                                 placeholder="Screen name..">
                    <span md-highlight-text="preferences.searchText">{{ user.handle }}</span>
                </md-autocomplete>
                <md-button class="md-accent" ng-click="preferences.blockWorker(preferences.selectedItem.id)">
                    Block
                </md-button>
            </div>
            <md-divider class="_margin-lr"></md-divider>
            <div class="_worker-list">
                <div class="_margin-lr _user _blocked"
                     ng-repeat="entry in preferences.black_list_entries"
                     ng-class="{'_unblocked': entry.unblocked, '_clickable': !entry.unblocked}">
                    <div class="_md-chip">{{ entry.worker_alias }}
                        <md-icon ng-click="preferences.unblockWorker(entry)"
                                 style="padding-top: 6px; text-align: center; cursor: pointer; outline: none"
                                 class="_icon-18"
                                 md-font-set="material-icons">close
                        </md-icon>
                    </div>
                </div>
            </div>

            <div class="_sub-header" style="line-height: 36px"
                 ng-if="preferences.black_list_entries && preferences.black_list_entries.length==0 && !preferences.loading">
                No workers found on this list.
            </div>

        </div>
    </div>
</div>
