<div class="md-whiteframe-z1 _main-content _middle-content">
    <div layout="row" class="layout-align-start-center _content-nav">
        <md-button ui-sref="task_feed" class="_nav-actions" ng-disabled="taskfeed.previewedProject.status != 3">
            <md-icon md-font-set="material-icons">chevron_left</md-icon>
        </md-button>
        <span class="_nav-title _truncated-text" style="max-width: 650px">{{ taskfeed.previewedProject.name }}</span>

        <div class="_content-actions">


        </div>
    </div>
    <div class=" _error-inset" style="margin: 16px 16px 16px 32px"
         ng-if="project.project.status==project.status.STATUS_IN_PROGRESS || project.project.status==project.status.STATUS_PAUSED">
        <div ng-if="!taskfeed.loading && taskfeed.hasPermission">
            You are previewing this project. Click "Accept" to start working on it.
            <div class="_error">
                <md-button ng-disabled="taskfeed.previewedProject.status != 3 " ng-hide="!taskfeed.remainingCount"
                           ng-click="taskfeed.openTask(taskfeed.previewedProject.id);"
                           style="left: -28px">ACCEPT
                </md-button>
            </div>
        </div>
        <div ng-if="!taskfeed.loading && !taskfeed.hasPermission">
            Please wait — you do not yet have access to this project. Daemo projects are released first to each
            requester's Priority workers. Reload in a few minutes and you may have received access to the project.
        </div>

        <div class="_error" ng-if="!taskfeed.loading && !taskfeed.remainingCount">
            No tasks available for this project.
        </div>
    </div>
    <div class="_main-content-body">
        <div class="md-whiteframe-z1 md-padding">
            <div>
                <div style="font-size: large; font-weight: 500; color: rgba(0, 0, 0, 0.54); text-align: center; line-height: 36px">
                    PREVIEWING A SAMPLE TASK
                </div>
                <div ng-cloak="" ng-controller="TemplateController as template" style="margin-left: 16px">
                    <div style="font-weight: 500; color: rgba(0, 0, 0, 0.7);
                    padding-bottom: 32px; font-size: large">{{ taskfeed.previewedProject.price | currency: '$': 2 }} -
                        Task #1
                    </div>
                    <div ng-cloak="" class="template-item"
                         ng-repeat="item in taskfeed.previewedProject.task.template.items" style="padding-top: 16px">
                        <div md-template-compiler="item" editor="false" is-disabled="true" instance="template"
                             is-review="false"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
