<div class="_main-content _middle-content md-whiteframe-z1"
     layout="column" layout-align="center start">
  <div class="_main-content-body">
    <div layout="row" class="layout-align-start-center _task-nav _task-feed-shadow">
      <span class="_nav-title _left-inset">Requester</span>
      <div class="_header-actions">
        <md-button class="md-primary" ng-click="project.createProject()">
          <md-icon md-font-set="material-icons" style="color: #3d5987">add</md-icon>
          <md-tooltip>Create a new project</md-tooltip>
          Create Project
        </md-button>

        <a href="https://forum.daemo.org/t/requester-faq"
           target="_blank" style="padding: 12px">
          <md-icon
                   md-font-set="material-icons">help
            <md-tooltip>Frequently Asked Questions</md-tooltip>
          </md-icon>
        </a>
        <md-icon class="_clickable" style="padding: 12px" ui-sref="requester_settings"
                 md-font-set="material-icons">settings
          <md-tooltip>Requester Settings</md-tooltip>
        </md-icon>
      </div>
    </div>
    <div class="_card-list">
      <div style="padding-top: 32px; padding-bottom: 32px" class="_create-new _loading-text _centered"
           ng-hide="!project.loading" layout="column">
        <md-progress-circular md-diameter="20" class="_centered"
                              md-mode="indeterminate"></md-progress-circular>
        <div>Loading projects...</div>
      </div>
      <div class="_create-new" ng-show="project.myProjects.length==0 && !project.loading">
        To get started on Daemo, post your first project: <br/>
        <md-button style="margin-left: -12px" class="md-primary" ng-click="project.createProject()">
          <md-icon md-font-set="material-icons" style="color: #3d5987">add</md-icon>
          <md-tooltip>Create a new project</md-tooltip>
          Create Project
        </md-button>
        <md-button class="_nav-actions" style="padding: 12px" href="https://forum.daemo.org/t/requester-faq"
                   target="_blank">
          <md-icon md-font-set="material-icons">help</md-icon>
          <md-tooltip>Frequently Asked Questions</md-tooltip>
        </md-button>
      </div>
      <div ng-repeat="item in project.myProjects" ng-show="!project.loading">
        <md-divider></md-divider>
        <div class="_card-list-item"
             ng-class="{'_completed': project.statusToString(item.status, item.revisions, item) == 'Running' , '_draft': item.status==project.status.STATUS_PAUSED}">
          <div class="_card-list-label">Updated {{ project.getDate(item.updated_at) }}</div>
          <div class="_card-list-text _title"
               ng-class="{'_primary': item.status !== project.status.STATUS_DRAFT || item.revisions.length > 1,
                         '_clickable': item.status !== project.status.STATUS_DRAFT || item.revisions.length > 1}"
               ng-click="project.navigateToTasks(item)">{{ item.name }}
            <md-tooltip>{{ item.name }}</md-tooltip>
          </div>

          <div style="display: inline; float: right; line-height: 32px">
            <md-icon class="_icon-18 _clickable"
                     md-font-set="material-icons"
                     ng-click="project.editProject(item.id)">
              mode_edit
              <md-tooltip>Edit</md-tooltip>
            </md-icon>
            <md-icon ng-if="project.showPause(item)" class="_icon-18 _clickable"
                     md-font-set="material-icons"
                     ng-click="project.updateStatus(item, project.status.STATUS_PAUSED)">
              pause_circle_outline
              <md-tooltip>Pause</md-tooltip>
            </md-icon>
            <md-icon ng-if="project.showResume(item)" class="_icon-18 _clickable"
                     md-font-set="material-icons"
                     ng-click="project.updateStatus(item, project.status.STATUS_IN_PROGRESS)">
              play_circle_outline
              <md-tooltip>Resume</md-tooltip>
            </md-icon>
            <md-button href="/api/projects/{{ item.id }}/discuss/"
                       target="_blank" class="hide-xs"
                       style="padding: 0;margin: 0;min-height: 0;min-width: 0;line-height: 0">
              <md-icon class="_icon-18 _clickable"
                       md-font-set="material-icons">
                message_outline
                <md-tooltip ng-if="!item.discussion_link">Start Discussion</md-tooltip>
                <md-tooltip ng-if="item.discussion_link">Join Discussion</md-tooltip>
              </md-icon>
            </md-button>
            <md-icon ng-click="project.fork(item)" class="_icon-18 _clickable" md-font-set="material-icons">
              content_copy
              <md-tooltip>Duplicate</md-tooltip>
            </md-icon>
            <md-icon ng-click="project.discard(item, $event)" class="_icon-18 _clickable"
                     md-font-set="material-icons">delete
              <md-tooltip>Delete</md-tooltip>
            </md-icon>
          </div>

          <div class="_status"
               ng-class="{'_completed': item.status==project.status.STATUS_IN_PROGRESS ||
                         item.status==project.status.STATUS_COMPLETED, '_draft': item.status==project.status.STATUS_DRAFT ||
                         item.status==project.status.STATUS_PAUSED}">
            {{ project.statusToString(item.status, item.revisions, item) }}

            <ng-pluralize style="padding-left: 8px" ng-if="item.awaiting_review>0" class="_secondary"
                          count="item.awaiting_review"
                          when="{'one': '1 task waiting for your review', 'other': '{} tasks waiting for your review'}"></ng-pluralize>
          </div>
          <div>
            <div class="_inline _integer-block">
              <div class="_card-list-label">Open</div>
              <div class="_card-list-text">
                {{ project.getTaskNumber(item.in_progress, item.revisions.length, item.status) }}
              </div>
            </div>
            <div class="_inline _integer-block">
              <div class="_card-list-label">In Progress</div>
              <div class="_card-list-text">
                {{ project.getTaskNumber(item.checked_out, item.revisions.length, item.status) }}
              </div>
            </div>
            <div class="_inline _integer-block">
              <div class="_card-list-label">Completed</div>
              <div class="_card-list-text">
                {{ project.getTaskNumber(item.completed + item.awaiting_review,
                  item.revisions.length, item.status) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="true">
        <md-divider></md-divider>
        <div class="_card-list-item _clickable" ng-click="project.getMore()">
          <div class="_card-list-label" style="width: 550px; display: inline">All completed projects
          </div>
          <div style="display: inline; float: right; line-height: 14px">
            <md-icon class="_icon-18"
                     md-font-set="material-icons">keyboard_arrow_down
            </md-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
