<md-subheader>
    <label>Every project on D&aelig;mo begins with a prototype task. A
	prototype task is a short task which will be completed by several workers. You
	will review their work and identify the best workers that understand 
	what you want. You will then have a chance to improve your task description and 
	incorporate any worker feedback before you proceed with the rest of your 
	project.</label>
</md-subheader>

<md-subheader> <label>Describe your prototype task as clearly and concisely as possible.</label></md-subheader>
<md-input-container class="project-field" flex="2">
    <label>Description</label>
    <textarea required ng-model="project.currentProject.milestoneDescription" columns="1" md-maxlength="500"></textarea>
    <div ng-if="project.currentProject.milestoneDescription==null" ng-messages="projectForm.description.$error">
        <div ng-message="required">This field is required.</div>
    </div>
</md-input-container>
<md-subheader>How many workers would you like to complete your prototype task?</md-subheader>   
<md-input-container class="project-field" flex="2">
    <label>Number of workers</label>
    <input required ng-model="project.currentProject.payment.number_of_hits" type="number" min="1">
    <div ng-if="project.currentProject.payment.number_of_hits==null" ng-messages="projectForm.description.$error">
        <div ng-message="required">This field is required.</div>
    </div>
</md-input-container>
<md-subheader>Estimate how long a worker should spend on the prototype task (typically ~10-30 minutes for a well-designed prototype task).</md-subheader>
<md-input-container class="project-field" flex="2">
    <label>Task length (minutes)</label>
    <input required ng-model="project.currentProject.taskTime" type="number" min="1">
    <div ng-if="project.currentProject.taskTime==null" ng-messages="projectForm.description.$error">
        <div ng-message="required">This field is required.</div>
    </div>
</md-input-container>

<md-subheader ng-show="project.currentProject.macroFlag === 'macro'">Upload any relevant files to Google Drive.</md-subheader>
<md-subheader ng-show="project.currentProject.macroFlag === 'micro'">Upload your .csv file characterizing your micro task and any other relevant files to Google Drive.</md-subheader>
<div>
    <md-button aria-label="Go to Drive" class="md-fab" ng-click="project.addDriveFolder(project.currentProject.name)">
        <i class="mdi mdi-google-drive" style="font-size:32px; height:32px; width:32px"></i>
        <md-tooltip>Go to Drive</md-tooltip>
    </md-button>
</div>

		