<div class="_main-content md-whiteframe-z1" layout="row" layout-align="center start" flex>
	<div class="_main-content-body">
		<div class="prototype-instructions">
			<h2>{{project.module.name}}</h2>
			<p>We require all projects to first go through a <b>prototype task</b> phase. A small number of workers will complete and provide feedback on your tasks. You will then have the chance to iterate on your design based on their submissions and feedback before launching the rest of your project.</p>
		</div>

		 <div layout="column">
	     <form name="metaForm">
	     	<div class="_authoring_content" layout="row">
	     		<md-input-container class="prototype-input">
	            	<label># of Workers</label>
	            	<input name="repetition" required type="number" min="1"
	                   ng-model="project.module.repetition">
	        	</md-input-container>
	        	<md-input-container class="_ml-24 md-block prototype-input">
	        		<label># of Tasks</label>
	        		<input name="num_tasks" required type="number" min="1"
	                   max="{{ project.module.batch_files[0].number_of_rows || 1}}" ng-model="project.num_rows">
	        	</md-input-container>
	        	<md-input-container class="_ml-24 md-block prototype-input">
            		<label>$/Task</label>
            		<input name="price" required type="number" min="1" ng-model="project.module.price">
          		</md-input-container>
	        	<md-button class="md-primary md-raised md-block _ml-24" aria-label="Publish" ng-click="project.doPrototype();project.publish()">
	        		Publish
	        	</md-button>
	        </div>
	    </form>
	</div>
</div>