<div class="md-whiteframe-z1 _main-content _middle-content _relative"
     ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}"
     style="height: calc(100vh - 79px); z-index: 12; background-color: #ffffff" layout="row">
    <div layout="row" style="height: 100%"
         ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}" flex>
        <div class="_task-list" style="width: 100%"
             layout="column"
             layout-align="start center">
            <div layout="row" layout-align="start center" class="_sheet-header">
                <md-button md-ink-ripple="false" ui-sref="my_projects" class="md-icon-button">
                    <md-icon md-font-set="material-icons">chevron_left</md-icon>
                </md-button>
                <span ng-cloak="" class="_header-text _short">{{ rating.resolvedData.name }}
                  <md-tooltip>{{ rating.resolvedData.name }}</md-tooltip>
                </span>
            </div>
            <div class="_project-rating-header">
                <div style="flex: 2">
                    <div class="_large-header">RATE WORK QUALITY</div>
                    <div class="_secondary-text-small">your ratings determine which workers
                        will
                        do your future tasks.
                    </div>
                </div>
                <div style="flex: 1;" class="layout-column layout-align-center-center" ng-cloak="">
                    <div style="font-weight: 500;" class="_primary-color">To review all results</div>
                    <div class="_secondary-text-small">rate at least {{ rating.workers.length }} workers</div>
                    <div class="_primary-color" ng-if="true">{{ rating.ratedWorkers }} out of {{ rating.workers.length }}</div>
                    <div class="_primary-color" ng-if="rating.ratedWorkers == rating.workers.length">
                        <md-button class="md-raised md-primary" ng-click="rating.isRating=false">Review results
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="_rating-instructions">
                <div class="_wrapper">
                    <div style="display: flex">
                        <div>
                            <md-icon md-font-set="material-icons" class="_primary-color">trending_down</md-icon>
                        </div>
                        <div>
                            <div class="_primary-color">Bury</div>
                            <div class="_secondary-text-small">workers' results did not meet
                                the
                                expectation. Have them redo it.
                            </div>
                        </div>
                    </div>
                    <div style="display: flex">
                        <div>
                            <md-icon md-font-set="material-icons" class="_primary-color">trending_flat</md-icon>
                        </div>
                        <div>
                            <div class="_primary-color">Keep</div>
                            <div class="_secondary-text-small">workers did a fair job. Keep
                                them
                                coming back to my next task.
                            </div>
                        </div>
                    </div>
                    <div style="display: flex">
                        <div>
                            <md-icon md-font-set="material-icons" class="_primary-color">trending_up</md-icon>
                        </div>
                        <div>
                            <div class="_primary-color">Love</div>
                            <div class="_secondary-text-small">workers did a great job. Love
                                to
                                grant
                                them early access to my next tasks.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_task-list-wrapper" style="padding: 16px">
                <div ng-repeat="worker in rating.workers"
                     style="border: solid 1px rgba(0, 0, 0, 0.1); margin-top: 12px">
                    <div class="_sheet-header _detail-sheet" layout="row" layout-align="start center"
                         style="border-bottom: solid 1px rgba(0, 0, 0, 0.1); background-color: #f5f5f5; ">
                        <div style="padding-left: 12px">{{ worker.worker_alias }}</div>
                        <div class="_header-actions">
                            <md-button ng-click="rating.setRating(worker.worker, worker.worker_rating, 1.0)"
                                       ng-class="{'_button-active': worker.worker_rating.weight==1.0}">
                                <md-icon md-font-set="material-icons">trending_down</md-icon>
                                <md-tooltip>Bury</md-tooltip>
                                Bury
                            </md-button>
                            <md-button ng-click="rating.setRating(worker.worker, worker.worker_rating, 2.0)"
                                       ng-class="{'_button-active': worker.worker_rating.weight==2.0}">
                                <md-icon md-font-set="material-icons">trending_flat</md-icon>
                                <md-tooltip>Keep</md-tooltip>
                                Keep
                            </md-button>
                            <md-button ng-click="rating.setRating(worker.worker, worker.worker_rating, 3.0)"
                                       ng-class="{'_button-active': worker.worker_rating.weight==3.0}">
                                <md-icon md-font-set="material-icons">trending_up</md-icon>
                                <md-tooltip>Love</md-tooltip>
                                Love
                            </md-button>
                        </div>
                    </div>
                    <div class="_task-submissions">
                        <div class="_submission" ng-repeat="task in worker.tasks">
                            <span class="_submission-item _user-alias _no-border"
                                  style="font-size: large">Task {{ task.task }}</span>
                            <div class="_submission-item" style="padding-left: 16px">
                                <div ng-controller="TemplateController as template" class="template-item"
                                     ng-repeat="item in task.task_template.template.items">
                                    <div md-template-compiler="item" editor="false" instance="template"
                                         is-disabled="true"></div>
                                </div>
                            </div>
                            <div style="width: 67%; margin-left: auto; margin-right: auto; text-align: center;
                        text-decoration: underline; outline: none; cursor: pointer; padding-bottom: 16px"
                                 ng-click="rating.getOtherResponses(task)">{{ !task.showResponses? 'See': 'Hide' }} other responses
                            </div>
                            <div ng-if="task.other_responses && task.other_responses.length==0" style="width: 67%; margin-left: auto; margin-right: auto;
                            text-align: center; padding-bottom: 16px">No other responses found
                            </div>
                            <div ng-if="task.showResponses">
                                <div ng-repeat="other in task.other_responses" style="padding-left: 16px">
                                    <span class="_submission-item _user-alias">{{ other.worker_alias }}</span>
                                    <div class="_submission-item">
                                        <div ng-controller="TemplateController as template2" class="template-item"
                                             ng-repeat="item in other.task_template.template.items">
                                            <div md-template-compiler="item" editor="false" instance="template2"
                                                 is-disabled="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div ng-if="rating.loading" layout="column" class="_loading-text _centered">

                    <md-progress-circular class="_centered"
                                          md-mode="indeterminate"></md-progress-circular>
                    <div>Loading Tasks ...</div>
                </div>
            </div>


        </div>
    </div>

</div>
