<div class="md-whiteframe-z1 _main-content _middle-content">
  <div layout="row" class="layout-align-start-center _content-nav">
    <md-button ng-href="/my-projects" class="_nav-actions">
      <md-icon md-font-set="material-icons">chevron_left</md-icon>
    </md-button>
    <span ng-cloak="" class="_nav-title">{{'Project X'}}</span>
    <md-button ng-href="/my-projects" class="_nav-actions">
      <md-icon md-font-set="material-icons">chevron_left</md-icon>
    </md-button>
    <span ng-cloak="" class="_nav-title">{{'Task 8'}}</span>
    <div class="_content-actions">
      <!--md-button class="_nav-actions" ng-click="review.download()">
        <md-icon md-font-set="material-icons">file_download</md-icon>
        <md-tooltip>Download Results as CSV</md-tooltip>
      </md-button-->
    </div>
  </div>
  <div class="_main-content-body">
    <div class="_submission-wrapper">
      <div class="_task-detail">

      </div>
      <div class="_task-submissions _review-content">
        <span class="_sub-header _submission-header">Submissions</span>
      </div>
    </div>

  </div>

</div>
