<div class="md-whiteframe-z1 _main-content _middle-content _relative"

     style="height: calc(100vh - 53px); z-index: 12; background-color: #ffffff;  width: 100%; max-width: 100%"
     layout="row">
    <div layout="column" style="width: 100%">
        <div layout="row" layout-align="start center" class="_sheet-header">
            <md-button md-ink-ripple="false" ui-sref="my_projects" class="md-icon-button">
                <md-icon md-font-set="material-icons">chevron_left</md-icon>
            </md-button>
            <span ng-cloak="" class="_header-text _short">{{ review.resolvedData.name }}
                  <md-tooltip>{{ review.resolvedData.name }}</md-tooltip>
                </span>
        </div>
        <div class="_project-rating-header layout-row layout-align-start-center">
            <div>
                <div class="_large-header">Give priority access to great workers</div>
                <div class="_secondary-text-small">Priority workers see your tasks before anyone else. The more you
                    rate, the better your results get.
                </div>
            </div>
            <div flex>
                &nbsp
            </div>
            <div class="light placeholder">
                <div class="_secondary-text-small" style="padding-left:10px"> Your project has been launched to:</div>
                <div class="breadcrumb">
                    <div class="current">
                        <md-icon md-font-set="material-icons">trending_up</md-icon>
                        PRIORITY
                    </div>
                    <div ng-class="{current: review.resolvedData.min_rating <= 2 || review.resolvedData.enable_boomerang===false}">
                        <md-icon md-font-set="material-icons">trending_flat</md-icon>
                        NORMAL
                    </div>
                    <div ng-class="{current: review.resolvedData.min_rating < 1.99 || review.resolvedData.enable_boomerang===false}">
                        <md-icon md-font-set="material-icons">trending_down</md-icon>
                        LATE
                    </div>
                </div>
            </div>
        </div>
        <md-toolbar style="font-size: medium; background-color: white; color: rgba(0, 0, 0, 0.87)">
            <div class="md-toolbar-tools layout-row layout-align-start-end" style="font-size: medium">

                <div ng-if="review.revisions.length > 1">
                    <md-input-container style="margin-bottom: 0; ">
                        <label>Revision</label>
                        <md-select ng-model="review.selectedRevision" md-on-close="review.revisionChanged()">
                            <md-option ng-repeat="revision in review.revisions"
                                       ng-value="revision">
                                {{ !$last ? 'Revision ' + ($index + 1): 'Latest' }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="_hide-xs _hide-sm">
                    <md-button class="md-primary" ng-click="review.reload()">
                        <md-icon md-font-set="material-icons" style="color: inherit">refresh
                        </md-icon>
                        Refresh
                    </md-button>

                </div>
                <div class="_actions _hide-xs _hide-sm">
                    <md-button class="md-primary" ng-click="review.downloadResults()">
                        <md-icon md-font-set="material-icons" style="color: inherit">file_download
                        </md-icon>
                        <md-tooltip>Download Results as CSV</md-tooltip>
                        Download Results
                    </md-button>
                </div>
                <div class="_hide-xs" ng-if="review.workers.length">
                    <md-button class="md-accent" ng-click="review.acceptAll()"
                               ng-disabled="!review.notAllApproved(null)">
                        <md-icon md-font-set="material-icons" style="color: inherit">done_all
                        </md-icon>
                        Approve Remaining
                        Submissions
                    </md-button>
                </div>
                <div class="_hide-xs">
                    <md-button class="md-accent" target="_blank"
                               ui-sref="create_edit_project({projectId:review.resolvedData.id})">
                        <md-icon md-font-set="material-icons" style="color: inherit">description
                        </md-icon>
                        View Design
                    </md-button>
                </div>
                <div>
                  <md-button style="margin-left: 4px" class="_nav-actions" href="https://forum.daemo.org/t/requester-faq" target="_blank">
                      <md-icon md-font-set="material-icons" style="color: inherit">help</md-icon>
                      Help
                  </md-button>
                </div>


                <div flex="">&nbsp;</div>
                <div>
                    <md-input-container style="margin-bottom: 0">
                        <label>Sort by</label>
                        <md-select ng-model="review.sortBy">
                            <md-option value="worker_id">
                                Worker
                            </md-option>
                            <md-option value="submitted_at">
                                Submission Time
                            </md-option>
                            <md-option value="task_id">
                                Task
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>

        </md-toolbar>


        <md-content class="_task-list-wrapper"
                    style="padding-left: 16px;
                        padding-right: 16px; background-color: white; margin-top: 16px; width: 97%; overflow-y: auto;"
                    on-scroll-to-bottom="review.loadNextPage()">
            <div ng-if="review.workers.length==0 && !review.loading"
                 style="color: rgba(0, 0, 0, 0.54); font-weight: 500;">
                No workers have completed your task yet. Please check back later.
            </div>
            <section
                    ng-if="review.resolvedData.is_prototype && review.comments && review.comments.comments.length">
                <div style="margin-bottom: 8px">
                    <div>
                        Your prototype task has completed. The workers think you're ready to launch with some slight
                        tweaks.
                        <br/>
                        Here is the feedback:
                        <div ng-repeat="comment in review.comments.comments"
                             style="padding-top: 4px; padding-bottom: 4px">
                            <div class="_sub-header">{{ comment.comment.sender_alias }}</div>
                            <div>{{ comment.comment.body }}</div>
                        </div>
                    </div>

                </div>
            </section>
            <div ng-repeat="worker in review.workers" ng-class="{'_mt-32': !$first}" style="margin-top: 8px">

                <section ng-if="review.sortBy=='worker_id'" class="_task-feed-shadow _ml-4-chrome"
                         style="margin-bottom: 8px; position: -webkit-sticky; position: sticky; top: -4px;">
                    <div class="md-subheader"
                         style="top: -4px !important; position: -webkit-sticky; position: sticky; z-index: 2; padding: 2px 16px;">
                        <div layout="row" layout-align="start center">
                            <div class="_clickable" style="min-height: 24px; line-height: 24px"
                                 ui-sref="public_profile({handle:worker.worker_alias})">{{ worker.worker_alias }}</div>
                            <div class="_header-actions _hide-xs" style="margin-right: 0">
                                <md-button ng-click="review.setRating(worker.worker, worker.worker_rating, 3.0)"
                                           ng-class="{'_button-active': worker.worker_rating.weight==3.0}">
                                    <md-icon md-font-set="material-icons">trending_up</md-icon>
                                    <md-tooltip>This worker gets access to my tasks before everyone else.
                                    </md-tooltip>
                                    Priority
                                </md-button>
                                <md-button ng-click="review.setRating(worker.worker, worker.worker_rating, 2.0)"
                                           ng-class="{'_button-active': worker.worker_rating.weight==2.0}">
                                    <md-icon md-font-set="material-icons">trending_flat</md-icon>
                                    <md-tooltip>This worker gets access to your tasks at the usual time</md-tooltip>
                                    Normal
                                </md-button>
                                <md-button style="margin-right: 0"
                                           ng-click="review.setRating(worker.worker, worker.worker_rating, 1.0)"
                                           ng-class="{'_button-active': worker.worker_rating.weight==1.0}">
                                    <md-icon md-font-set="material-icons">trending_down</md-icon>
                                    <md-tooltip>This worker gets access to your tasks after everyone
                                        else, only if others aren't available.
                                    </md-tooltip>
                                    Late
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div style="overflow-x: scroll; overflow-y: hidden;">
                        <table style="width: 100%; font-size: small; margin-top: 8px" ng-if="worker.tasks.length">
                            <thead>
                            <tr class="md-data-table-header">
                                <th class="md-data-table-header-column">Submitted</th>
                                <th class="md-data-table-header-column">Approve</th>
                                <th class="md-data-table-header-column">Return</th>
                                <th class="md-data-table-header-column">Task</th>
                                <th class="md-data-table-header-column _truncated-text"
                                    ng-repeat="item in review.getHeaders(worker.tasks[0].task_data)">
                                    {{ item }}
                                </th>
                                <th class="md-data-table-header-column _truncated-text"
                                    ng-repeat="item in review.project_template.items" ng-if="item.role=='input'">
                                    {{ item.name !== ''? item.name : item.aux_attributes.question.value }}
                                    <md-tooltip>{{ item.aux_attributes.question.value }}</md-tooltip>
                                </th>
                                <th class="md-data-table-header-column">View Task</th>
                            </tr>


                            </thead>
                            <tbody>
                            <tr ng-repeat="task in worker.tasks" class="_md-table-row _collapsible-row"
                                ng-hide="task.status === review.status.REJECTED"
                                ng-init="rowIndex = $index">
                                <td ng-class="{'_bold': task.submitted_at > review.lastOpened}"
                                    ng-init="taskColumns=review.getHeaderValues(task.task_data)">
                                    {{ task.submitted_at | amTimeAgo }}
                                </td>
                                <td>
                                    <md-icon md-font-set="material-icons" style="outline: none"
                                             ng-class="{'_clickable': task.status != review.status.ACCEPTED}"
                                             ng-click="review.updateStatus(review.status.ACCEPTED, task)">
                                        {{ task.status == review.status.ACCEPTED ? 'check_circle':'done' }}
                                        <md-tooltip>
                                            {{ task.status == review.status.ACCEPTED? 'Approved': 'Approve task' }}</md-tooltip>
                                    </md-icon>

                                </td>
                                <td>
                                    <md-icon md-font-set="material-icons"
                                             ng-if="task.status == review.status.RETURNED || task.status == review.status.SUBMITTED"
                                             ng-class="{'_clickable': task.status != review.status.RETURNED, '_disabled-text': task.status === review.status.ACCEPTED}"
                                             ng-click="review.returnTask(task, worker.worker_alias, $event); cancel();">
                                        {{ task.status == review.status.RETURNED ? 'check_circle':'reply' }}
                                        <md-tooltip>
                                            {{ task.status == review.status.RETURNED? 'Returned': 'Return task for revision' }}</md-tooltip>
                                    </md-icon>
                                    <div ng-if="task.status == review.status.ACCEPTED" style="padding-left: 8px">
                                        &mdash;
                                    </div>
                                </td>
                                <td>{{ task.task }}</td>
                                <td ng-repeat="item in taskColumns">
                                    <div>
                                        {{ item.value }}
                                    </div>

                                </td>

                                <td ng-repeat="item in task.task_template.template.items" ng-if="item.role=='input'">
                                    <div ng-if="item.type=='file_upload'">
                                        <a href="{{ item.answer.url }}" target="_blank"
                                           download="">{{ item.answer.name }}</a>
                                    </div>
                                    <div ng-if="item.type!=='file_upload' && item.type!=='checkbox'">
                                        {{ item.answer }}
                                    </div>
                                    <div ng-if="item.type==='checkbox'">
                                        <div ng-repeat="o in item.aux_attributes.options" ng-if="o.answer">
                                            {{ o.value }}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <md-icon md-font-set="material-icons" style="outline: none"
                                             ng-class="{'_clickable': true}" ng-click="review.openTask(task.id)">
                                        open_in_new
                                    </md-icon>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
                <div style="height: 32px" ng-if="review.sortBy==='worker_id' && review.notAllApproved(worker.tasks)">
                    Workers may wait for approval of their first tasks before doing more tasks.
                    <span class="_primary _clickable"
                          ng-click="review.approveWorker(worker.worker)">Approve</span> {{ worker.worker_alias }}'s
                    work to help speed up your results.
                </div>
            </div>
            <div ng-if="review.sortBy!='worker_id' && !review.loading" class="_task-feed-shadow"
                 style="border-top: solid 1px rgba(0, 0, 0, 0.05);">
                <div style="overflow-x: scroll; overflow-y: hidden">
                    <table style="width: 100%; font-size: small" ng-if="review.workers.length">
                        <thead>
                        <tr class="md-data-table-header">
                            <th class="md-data-table-header-column">Submitted</th>
                            <th class="md-data-table-header-column">Worker</th>
                            <th class="md-data-table-header-column">Rating</th>
                            <th class="md-data-table-header-column">Approve</th>
                            <th class="md-data-table-header-column">Return</th>
                            <th class="md-data-table-header-column">Task</th>
                            <th class="md-data-table-header-column _truncated-text"
                                ng-repeat="item in review.getHeaders(review.workers[0].task_data)">
                                {{ item }}
                            </th>
                            <th class="md-data-table-header-column _truncated-text"
                                ng-repeat="item in review.project_template.items" ng-if="item.role=='input'">
                                {{ item.name !== ''? item.name : item.aux_attributes.question.value }}
                                <md-tooltip>{{ item.aux_attributes.question.value }}</md-tooltip>
                            </th>
                            <th class="md-data-table-header-column">View Task</th>
                        </tr>


                        </thead>
                        <tbody>
                        <tr ng-repeat="task in review.workers" class="_md-table-row _collapsible-row"
                            ng-class="{'_height-0': task.status == review.status.REJECTED}"
                            ng-init="taskColumns=review.getHeaderValues(task.task_data)">
                            <td ng-class="{'_bold': task.submitted_at > review.lastOpened}">
                                {{ task.submitted_at | amTimeAgo }}
                            </td>
                            <td>
                                {{ task.worker_alias }}
                            </td>
                            <td>
                                <div class="_clickable _primary" ng-class="{'_bold': task.worker_rating.weight==3.0}"
                                     ng-click="review.setRating(task.worker, task.worker_rating, 3.0)">
                                    Priority
                                    <md-tooltip>This worker gets access to my tasks before everyone else.
                                    </md-tooltip>

                                </div>
                                <div class="_clickable _primary" ng-class="{'_bold': task.worker_rating.weight==2.0}"
                                     ng-click="review.setRating(task.worker, task.worker_rating, 2.0)">
                                    Normal
                                    <md-tooltip>This worker gets access to your tasks at the usual time.
                                    </md-tooltip>

                                </div>
                                <div class="_clickable _primary" ng-class="{'_bold': task.worker_rating.weight==1.0}"
                                     ng-click="review.setRating(task.worker, task.worker_rating, 1.0)">
                                    Late
                                    <md-tooltip>This worker gets access to your tasks after everyone
                                        else, only if others aren't available.
                                    </md-tooltip>

                                </div>
                            </td>
                            <td>
                                <md-icon md-font-set="material-icons" style="outline: none"
                                         ng-class="{'_clickable': task.status != review.status.ACCEPTED}"
                                         ng-click="review.updateStatus(review.status.ACCEPTED, task)">
                                    {{ task.status == review.status.ACCEPTED ? 'check_circle':'done' }}
                                    <md-tooltip>
                                        {{ task.status == review.status.ACCEPTED? 'Approved': 'Approve task' }}</md-tooltip>
                                </md-icon>

                            </td>
                            <td>
                                <md-icon md-font-set="material-icons"
                                         ng-if="task.status == review.status.RETURNED || task.status == review.status.SUBMITTED"
                                         ng-class="{'_clickable': task.status != review.status.RETURNED,
                                         '_disabled-text': task.status === review.status.ACCEPTED}"
                                         ng-click="review.returnTask(task,  task.worker_alias,  $event); cancel();">
                                    {{ task.status == review.status.RETURNED ? 'check_circle':'reply' }}
                                    <md-tooltip>
                                        {{ task.status == review.status.RETURNED? 'Returned': 'Return task for revision' }}</md-tooltip>
                                </md-icon>
                                <div ng-if="task.status == review.status.ACCEPTED">&mdash;</div>
                            </td>
                            <td>{{ task.task }}</td>
                            <td ng-repeat="item in taskColumns">
                                <div>
                                    {{ item.value }}
                                </div>
                            </td>

                            <td ng-repeat="item in task.task_template.template.items" ng-if="item.role=='input'">
                                <div ng-if="item.type=='file_upload'">
                                    <a href="{{ item.answer.url }}" target="_blank"
                                       download="">{{ item.answer.name }}</a>
                                </div>
                                <div ng-if="item.type!=='file_upload'">
                                    {{ item.answer }}
                                </div>
                            </td>
                            <td>
                                <md-icon md-font-set="material-icons" style="outline: none;"
                                         ng-class="{'_clickable': true}" ng-click="review.openTask(task.id)">
                                    open_in_new
                                </md-icon>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>
            <div style="height: 32px; padding-top: 8px; padding-bottom: 8px"
                 ng-if="review.sortBy!=='worker_id' && review.notAllApproved(review.workers)">
                Workers may wait for approval of their first tasks before doing more tasks.
                Approve remaining work work to help speed up your results.
            </div>
            <div ng-if="review.loading" layout="column" class="_loading-text _centered">

                <md-progress-circular md-diameter="20" class="_centered"
                                      md-mode="indeterminate"></md-progress-circular>
                <div>Loading Tasks ...</div>
            </div>
            <div layout="row" layout-align="center center" ng-if="review.nextPage && !review.loading">
                <md-button class="md-accent" ng-click="review.loadNextPage()">Load More</md-button>
            </div>
            <div ng-if="review.revisions.length > 1" class="_secondary-text" style="padding-top: 16px">
                Made changes to the project? More results may be available in previous revisions.
            </div>
            <div style="padding-top: 16px; padding-bottom: 16px"
                 ng-if="review.demographics && review.demographics.results">
                <div style="font-size: medium; font-weight: 500; color: rgba(0, 0, 0, 0.54);">Worker Demographics</div>
                <div>
                    <div class="_secondary-text">Gender</div>
                    <div class="_ml-16">
                        <span ng-repeat="(key, val) in review.demographics.gender" ng-if="val>0">
                        {{ key? key: 'Unspecified' }} ({{ val }})
                    </span>
                    </div>


                </div>
                <div>
                    <div class="_secondary-text">Ethnicity</div>
                    <div class="_ml-16">
                        <span ng-repeat="(key, val) in review.demographics.ethnicity" ng-if="val>0">
                        {{ key? key: 'Unspecified' }} ({{ val }})
                    </span>
                    </div>

                </div>
                <div>
                    <div class="_secondary-text">Location</div>
                    <div class="_ml-16">
                        <span ng-repeat="(key, val) in review.demographics.location" ng-if="val>0">
                            {{ key? key: 'Unspecified' }} ({{ val }})
                        </span>
                    </div>
                </div>
                <div>
                    <div class="_secondary-text">Age Range</div>
                    <div class="_ml-16">
                        <span ng-repeat="(key, val) in review.demographics.age" ng-if="val>0">
                            {{ key? key: 'Unspecified' }} ({{ val }})
                        </span>
                    </div>
                </div>
                <div>
                    <div class="_secondary-text">Education</div>
                    <div class="_ml-16">
                        <span ng-repeat="(key, val) in review.demographics.education" ng-if="val>0">
                            {{ key? key: 'Unspecified' }} ({{ val }})
                        </span>
                    </div>
                </div>
            </div>

        </md-content>


    </div>
</div>
