<div class="md-whiteframe-z1 _main-content _middle-content">
  <div layout="row" class="layout-align-start-center _content-nav">
    <md-button ng-href="/my-projects" class="_nav-actions">
      <md-icon md-font-set="material-icons">chevron_left</md-icon>
    </md-button>
    <span ng-cloak="" class="_nav-title">{{review.projectData.name}}</span>

    <div class="_content-actions">
      <md-button class="_nav-actions" ng-click="review.download()">
        <md-icon md-font-set="material-icons">file_download</md-icon>
        <md-tooltip>Download Results as CSV</md-tooltip>
      </md-button>
    </div>
  </div>
  <div class="_main-content-body" style="height: 100%">
    <div class="">
      <div class="_review-header">
        <div class="md-data-table-header _review-content">
          <div class="md-data-table-header-column _t_n">
            Id
          </div>
          <div class="md-data-table-header-column _t_u">
            Last Updated
          </div>
          <div class="md-data-table-header-column _t_p">
            Completion
          </div>
          <div class="md-data-table-header-column _t_w">
            Workers
          </div>

        </div>
        <!--md-divider></md-divider-->
      </div>

      <div class="_review-table-content">
        <div ng-repeat="task in review.tasks" ng-class="{'_row-clickable': task.completion>0,
         '_row-disabled': task.completion==0}">
          <div class="md-data-table-row _review-content "
               ng-class="{'md-data-table-last-row': $parent.$last}">
            <div class="md-data-table-row-cell cell-text _t_n">{{ 'Task '+ task.id }}</div>
            <div class="md-data-table-row-cell cell-text _t_u">{{ task.last_updated }}</div>
            <div class="md-data-table-row-cell cell-numeric _t_p">{{ task.completion * 100 + '%'}}</div>
            <div class="md-data-table-row-cell cell-numeric _t_w">{{ task.worker_count }}</div>
          </div>
          <md-divider></md-divider>
        </div>
      </div>
    </div>

  </div>

</div>
