<div class="container bs-docs-container">
  <div class="row">

    <div class="row text-center" ng-controller="WorkerAccountController as vm" layout="column" flex="100">
        <h1 class="page-header" flex="">
          Edit skills
        </h1>

        <div layout="row">
          <div flex="60">
            <md-list>
              <md-list-item ng-repeat="skill in user.skills">
                <p> {{ skill.value.name }} </p>
                <md-button ng-click="removeSkill(skill)" class="md-raised"><md-icon md-font-set="material-icons">close</md-icon>
              </md-list-item>
            </md-list>
            
            <form name="skillsform" class="form-horizontal" novalidate>
              <md-autocomplete
                  ng-disabled="vm.isDisabled"
                  md-no-cache="vm.noCache"
                  md-selected-item="vm.selectedItem"
                  md-search-text-change="vm.searchTextChange(vm.searchText)"
                  md-search-text="vm.searchText"
                  md-selected-item-change="vm.selectedItemChange(item)"
                  md-items="item in vm.querySearch(vm.searchText)"
                  md-item-text="item.display"
                  md-min-length="0"
                  placeholder="Add skill">
                <md-item-template>
                  <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                  No matches found for "{{vm.searchText}}".
                </md-not-found>
              </md-autocomplete>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>