<div class="container bs-docs-container">
  <div class="row text-center" ng-controller="WorkerAccountController as vm">

    <div class="col-md-9">

      <div class="row text-center">

        <div class="home" ng-if="account">                            
          <h1 class="page-header">
            Welcome,  {{account.first_name}} {{account.last_name}}!
          </h1>
          <hr>  

          <div class="centered-info">   

                    <span >
                      <md-icon md-font-set="material-icons" style="height: 100px; width: 100px">account_circle</md-icon>
                    </span>
                    <div class="right-stuff">
                    <h5 style="font-weight: 500; font-size: 13px;">Global Rank: {{user.rank}}</h5>
                    <a  href="{{user.socialLinks.fb}}">  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#3b5998" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                    </svg>
                </a>
                  <a class ng-show="user.socialLinks.twitter" href="{{user.socialLinks.twitter}}"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#4099FF" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                    </svg>
                </a> 
                  <a class ng-show="user.socialLinks.gplus" href="{{user.socialLinks.gplus}}">                     <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#d34836" d="M9.3,22.3C5.97,22.3 3.85,20.81 3.85,18.6C3.85,16.4 5.81,15.69 6.5,15.44C7.8,15 9.5,14.95 9.77,14.95C10.07,14.95 10.23,14.95 10.5,14.97C12.84,16.66 13.85,17.41 13.85,19C13.85,20.77 12.03,22.3 9.3,22.3M5.65,4.31C5.65,2.1 6.96,1.1 8.34,1.1C11,1.1 12.35,4.55 12.35,6.63C12.35,9.2 10.28,9.7 9.46,9.7C7,9.7 5.65,6.64 5.65,4.31M13.3,13.45L12.22,12.6C11.86,12.3 11.4,11.91 11.4,11.18C11.4,10.45 11.95,9.89 12.37,9.56C13.68,8.54 14.94,7.46 14.94,5.22C14.94,3.15 13.67,1.96 12.9,1.3H14.65L15.9,0.05H9.67C5.31,0.05 3.07,2.76 3.07,5.77C3.07,8.1 4.86,10.6 8.05,10.6H8.85C8.72,10.95 8.5,11.44 8.5,11.9C8.5,12.91 8.92,13.33 9.42,13.9C8,14 5.41,14.33 3.5,15.5C1.64,16.6 1.2,18.13 1.2,19.25C1.2,21.55 3.26,23.75 7.77,23.75C13.12,23.75 15.8,20.79 15.8,17.87C15.8,15.71 14.67,14.6 13.3,13.45M21,10V7H19V10H16V12H19V15H21V12H24V10H21Z" />
                    </svg>
                </a>  
                  </div> 
               </div>

               <div class="additional-info">

                  <div class="outer-text">Upcoming Deadline 
                  </div>
                  <div class="line"></div>
                  <div class="inner-text">{{user.upcomingDeadline}}      
                  </div>

                  <div class="outer-text">Earnings 
                  </div>
                  <div class="line"></div>
                  <div class="inner-text">{{user.total_balance === undefined ? 'not available' : user.total_balance}}      
                  </div>

                  <div class="outer-text">Number of Current Tasks
                  </div>
                  <div class="line"></div>
                  <div class="inner-text">{{user.num_tasks}}      
                  </div>

                  <div class="outer-text">Approved Tasks : {{user.task_status_det.length}}
                  </div>

                    <div class="line"></div>
                    <div class="inner-text">
                      <ul>
                        <li ng-repeat="approvedTask in user.task_status_det" class="list-group-item">{{approvedTask.name || 'Task '  + $index}}</li>
                      </ul>
                    </div>

                  <div class="outer-text">Bookmarked Requesters : {{user.bookmarkedRequesters.length || 0}}
                  </div>

                    <div class="line"></div>
                    <div class="inner-text">
                      <ul>
                        <li ng-repeat="bookmarkedRequester in user.bookmarkedRequesters" class="list-group-item">{{bookmarkedRequester.name}}</li>
                      </ul>
                    </div>
        </div>
      </div>
    </div>
  </div>
</div>