<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>New Project</h1>

    <div class="well">
      <form role="form" >
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group">
          <label for="project_name">Project Name</label>
          <input type="text" class="form-control" id="project_name"  placeholder="ex. Build a Website" />
        </div>

        <div class="form-group">
            <label for="project_time">Time </label>

        </div>
          <div class="form-group">
              <label for="project_date">Date </label>


<div ng-controller="AddProjectController">
              <calendar selected="day"></calendar>
    <label>Selected date: <b>{{day.format('dddd, MMMM Do YYYY')}}</b></label>
    </div>


</div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>