<md-dialog class="payment-dialog">
    <md-dialog-content class="dialog-content">
        <div layout="row">
            <div layout="column" layout-align="end start" class="title">Payment</div>

            <div layout="column" layout-align="center end" class="clear">
                <md-button class="exit md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </div>
        <div class="text">
        </div>

        <div class="md-padding">
            <form name="paymentForm">
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>Payment via</label>
                        <md-select ng-model="payment.method" ng-required>
                            <md-option ng-repeat="method in payment_methods" value="{{ method.method }}">
                                {{ method.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="amount">Amount (in USD)</label>
                        <input name="amount" required type="number" min="0.01" step="0.01"
                               max="9999999999999999.99" ng-model="payment.amount">

                        <div ng-messages="paymentForm.amount.$error">
                            <p ng-message="required">Please fill an amount</p>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex ng-if="payment.method=='credit_card'">
                    <md-input-container flex>
                        <label for="first_name">First name</label>
                        <input name="first_name" required type="text" ng-model="payment.credit_card.first_name">
                        <div ng-messages="paymentForm.first_name.$error">
                            <p ng-message="required">Please fill first name</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="last_name">Last name</label>
                        <input name="last_name" required type="text" ng-model="payment.credit_card.last_name">
                        <div ng-messages="paymentForm.last_name.$error">
                            <p ng-message="required">Please fill last name</p>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex ng-if="payment.method=='credit_card'">
                    <md-input-container flex="75">
                        <label for="card_number">Card Number</label>
                        <input name="card_number" required type="number" ng-model="payment.credit_card.number"
                               ng-minlength="13" ng-maxlength="19">
                        <div ng-messages="paymentForm.card_number.$error">
                            <p ng-message="minlength">Invalid card number</p>
                            <p ng-message="maxlength">Invalid card number</p>
                            <p ng-message="required">Please fill last name</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="cvv2">CVV</label>
                        <input name="cvv2" required type="text" ng-model="payment.credit_card.cvv2"
                               ng-maxlength="4" ng-minlength="3">
                        <div ng-messages="paymentForm.cvv2.$error">
                            <p ng-message="minlength">Invalid number</p>
                            <p ng-message="maxlength">Invalid number</p>
                            <p ng-message="required">Please fill CVV number</p>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" ng-if="payment.method=='credit_card'">
                    <md-input-container flex="25">
                        <label for="expire_month">Expiry Month</label>
                        <input name="expire_month" required type="number" ng-model="payment.credit_card.expire_month"
                               min="1" max="12" step="1">
                        <div ng-messages="paymentForm.expire_month.$error">
                            <p ng-message="minlength">Invalid value</p>
                            <p ng-message="maxlength">Invalid value</p>
                            <p ng-message="required">Please choose month</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label for="expire_year">Expiry Year</label>
                        <input name="expire_year" required type="number" ng-model="payment.credit_card.expire_year"
                               ng-maxlength="4" ng-minlength="4" min="2016" step="1">
                        <div ng-messages="paymentForm.expire_year.$error">
                            <p ng-message="minlength">Invalid number</p>
                            <p ng-message="maxlength">Invalid number</p>
                            <p ng-message="required">Please fill expiry year</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Type</label>
                        <md-select name="card_type" ng-model="payment.credit_card.type" ng-required>
                            <md-option ng-repeat="card_type in card_types" value="{{ card_type.type }}">
                                {{ card_type.name }}
                            </md-option>
                        </md-select>
                        <div ng-messages="paymentForm.card_type.$error">
                            <p ng-message="required">Please choose card type</p>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center start" ng-show="payment_in_progress">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>

                <div class="layout-align-end-end" layout="row">
                    <md-dialog-actions>
                        <md-button ng-click="pay()" class="publish" ng-disabled="paymentForm.$invalid || payment_in_progress">Pay</md-button>
                        <md-button ng-click="cancel()" class="">Cancel</md-button>
                    </md-dialog-actions>
                </div>
            </form>
    </md-dialog-content>
</md-dialog>

