
<md-data-table class="table">
    <div class="md-data-table-card-header" layout="row" layout-align="start center">
        <div class="md-data-table-card-header-title" flex="35">My tasks</div>
        <div ng-show="true" class="md-actions" flex="65" layout="row" layout-align="end center"></div>
    </div>
    <div class="table-content">
        <div class="md-data-table-header" layout="row" layout-align="start center">
            <div class="md-data-table-header-column" flex="40" layout="row" layout-alignment="start center" >
            </div>
            <div class="md-data-table-header-column" flex layout="row" layout-alignment="start center">
            </div>
            <div class="md-data-table-header-column" flex layout="row" layout-alignment="start center">
            </div>
        </div>
        <md-divider></md-divider>
        <div>
            <div>
                <div>
                    <div class="md-data-table-row pointer-cursor" layout="row" layout-align="start center">
                        <div class="md-data-table-row-cell cell-text" flex="40"></div>
                        <div class="md-data-table-row-cell cell-text" flex></div>
                        <div class="md-data-table-row-cell cell-text" flex></div>
                    </div>
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
    </div>
    <div class="animate-show">
        <div class=" md-data-table-footer md-data-table-row md-data-table-row-cell cell-text" layout="row" layout-align="start center">No tasks found!</div>
        <md-divider></md-divider>
    </div>

</md-data-table>