<div layout="row" layout-align="start center">
  <md-input-container class="_question" md-no-float style="width: calc(100% - 8px); font-weight: 400">
    <textarea tabindex="0" style="font-weight: inherit" ng-model="item.aux_attributes.question.value" rows="2"
           aria-label="question" placeholder="{{item.aux_attributes.question.placeholder}}"></textarea>
    <div class="hint">This field supports <a href="http://five.squarespace.com/display/ShowHelp?section=Markdown" target="_blank">Markdown syntax</a> for text formatting.</div>
  </md-input-container>
</div>

<div class="_item-properties" ng-if="item==instance.selectedItem" layout="column">
  <ng-include src="'/static/templates/template/components/item_toolbar.html'"></ng-include>
</div>
