<div layout="row" layout-align="start center">
  <md-input-container class="_question" md-no-float style="width: calc(100% - 8px)">
    <textarea class="auto-complete-dropdown" tabindex="0" ng-model="item.aux_attributes.question.value"
           aria-label="" placeholder="{{item.aux_attributes.question.placeholder}}"></textarea>
  </md-input-container>
</div>

<div class="_item-properties" ng-if="item.isSelected" layout="column">
  <ng-include src="'/static/templates/template/components/item_toolbar.html'"></ng-include>
</div>
