<div class="template-item-toolbar" layout="row" layout-align="end start">
  <md-button class="pointer-cursor"
             ng-click="instance.copy(item)" layout="row" flex>
    <md-icon md-font-set="material-icons">content_copy</md-icon>
    <md-tooltip>Create Copy</md-tooltip>
  </md-button>
  <md-button class="pointer-cursor"
             ng-click="instance.removeItem(item)" layout="row" layout-align="center start"
             flex>
    <md-icon md-font-set="material-icons">delete</md-icon>
    <md-tooltip>Delete Item</md-tooltip>
  </md-button>
</div>
