<ng-include src="'/static/templates/template/components/question-edit.html'"></ng-include>
<div layout="row" layout-align="start center">
  <img ng-if="item.type=='image'" class="image-container" ng-src="{{item.aux_attributes.src}}">

  <audio ng-if="item.type=='audio'" class="audio-container"
         ng-src="{{instance.getTrustedUrl(item.aux_attributes.src)}}" audioplayer
         controls style="margin-bottom:8px;">
    <p>Your browser does not support the <code>audio</code> element.</p>
  </audio>
  <iframe ng-if="item.type=='iframe'" ng-src="{{instance.getTrustedUrl(item.aux_attributes.src)}}" frameborder="0"
          width="100%" class="remote-content"
          style="margin-bottom:8px;" sandbox="allow-forms allow-modals allow-popups allow-scripts allow-same-origin">
        <p>Your browser does not support iframes.</p>
    </iframe>
</div>

<div class="_item-properties" ng-if="item.isSelected" layout="column">
  <ng-include src="'/static/templates/template/components/item_toolbar.html'"></ng-include>
  <div layout="row" layout-align="start center" class="_select-option">
    <md-input-container style="width: 100%;" md-no-float="">
      <input type="text" class="auto-complete-dropdown" tabindex="0" ng-model="item.aux_attributes.src"
             aria-label="media-src" placeholder="{{item.aux_attributes.placeholder}}">
    </md-input-container>
    <md-menu class="_media-file-link" ng-if="item.isSelected && instance.headers.length" md-offset="5 0">
      <md-button class="_small-button" aria-label="Open link menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-font-set="material-icons">insert_link</md-icon>
        <md-tooltip>Link Column</md-tooltip>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item ng-class="{'_menu-item-selected': item.aux_attributes.src==header}"
                      ng-repeat="header in instance.headers">
          <md-button ng-click="instance.setDataSource(item.aux_attributes, header)">{{header}}</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>

</div>
