<ng-include src="'/static/templates/template/components/question.html'"></ng-include>
<img ng-if="item.type=='image'" class="image-container" ng-src="{{item.aux_attributes.src}}">
<audio ng-if="item.type=='audio'" class="audio-container"
       ng-src="{{instance.getTrustedUrl(item.aux_attributes.src)}}" audioplayer
       controls style="margin-bottom:8px;">
  <p>Your browser does not support the <code>audio</code> element.</p>
</audio>
<iframe ng-if="item.type=='iframe'" class="_remote-content" ng-src="{{ instance.getTrustedUrl(item.aux_attributes.src)}}"
        frameborder="0" width="100%" height="{{ !isReview? '100%': '' }}"
        style="margin-bottom:8px;" sandbox="allow-forms allow-modals allow-popups allow-scripts allow-same-origin">
    <p>Your browser does not support iframes.</p>
</iframe>
<div ng-if="item.type=='iframe'" class="layout-row layout-align-start-center">
    <div><md-icon md-font-set="material-icons md-16" style="min-height: 16px">open_in_new</md-icon></div>
    <div style="font-size: small;">Open in a  <a target="_blank" href="{{ instance.getTrustedUrl(item.aux_attributes.src) }}">new tab</a></div>
</div>
