<ng-include src="'/static/templates/template/components/question-edit.html'"></ng-include>
<div layout="row" layout-align="start center">
  <img ng-if="item.type=='image'" class="image-container" ng-src="{{item.aux_attributes.placeholder}}">
  <audio ng-if="item.type=='audio'" class="audio-container" ng-src="{{instance.getTruestedUrl(item.aux_attributes.placeholder)}}" audioplayer
         controls style="margin-bottom:8px;">
    <p>Your browser does not support the <code>audio</code> element.</p>
  </audio>
  <md-menu class="_media-file-link" ng-if="item.isSelected && instance.headers.length" md-offset="5 0">
    <md-button class="_small-button" aria-label="Open link menu" ng-click="$mdOpenMenu($event)">
      <md-icon md-font-set="material-icons">insert_link</md-icon>
      <md-tooltip>Link Column</md-tooltip>
    </md-button>
    <md-menu-content width="2">
      <md-menu-item ng-class="{'_menu-item-selected': item.aux_attributes.src==header}"
                    ng-repeat="header in instance.headers">
        <md-button ng-click="item.aux_attributes.src=header">{{header}}</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>

<div class="_item-properties" ng-if="item.isSelected" layout="column">
  <ng-include src="'/static/templates/template/components/item_toolbar.html'"></ng-include>
</div>
