<ng-include src="'/static/templates/template/components/question.html'"></ng-include>
<div style="margin-top: 8px" ng-if="item.type=='checkbox'" layout="{{ item.aux_attributes.layout }}" layout-wrap>
    <md-checkbox ng-disabled="{{ isDisabled }}" name="{{ option.value }}" ng-model="option.answer"
                 ng-repeat="option in item.aux_attributes.options">
        <span>{{ option.value }}</span>
    </md-checkbox>
</div>
<md-radio-group class="_focused" style="padding-top: 8px; margin-top: 4px" ng-if="item.type=='radio'" tabindex="0" ng-model="item.answer" role="radiogroup"
                layout="{{ item.aux_attributes.layout }}" layout-wrap>
    <md-radio-button ng-disabled="{{ isDisabled }}" ng-repeat="option in item.aux_attributes.options"
                     role="radio"
                     value="{{ option.value }}" aria-label="r-option">
        {{ option.display_value ? option.display_value : option.value }}
    </md-radio-button>
</md-radio-group>

<md-input-container ng-if="item.type=='select_list'" class="_short-input">
    <label>Select</label>
    <md-select ng-model="item.answer" tabindex="0">
        <md-option ng-disabled="{{ isDisabled }}" ng-repeat="option in item.aux_attributes.options"
                   value="{{ option.value }}">{{ option.value }}</md-option>
    </md-select>
</md-input-container>
