{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    {% block title %}
    <title>Login</title>
    {% endblock title%}

</head>
{%block main%}
<div class="center login-panel" ng-controller="LoginController as login">
    <form name="{{ form.form_name }}"role="form" ng-submit="login.login()">
    {% csrf_token %}
         <fieldset>
            <h3 style="color:dimgray">Please Sign In</h3>
             {{ form.email}}
              {{ form.password1}}
             <p style="padding-top: 3px;" id="login__errors" class="text-left text-danger">
                {% for field,error in form.errors.items %}
                    {{ error|striptags }}<br>
                {% endfor %}
             </p>

             <a href="/forgot-password" style="padding-top: 10px;" class="pull-right">Forgot password?</a>
             <div class="checkbox">
                 <label>
                  <input type="checkbox"> Remember me
                </label>
             </div>

            <button type="submit" style="margin-top:20px" class="btn btn-block btn-success" id="login_btn"  value="Login">Login</button>
             <br>
             <p class="text-center"><a href="/register">Sign Up</a></p>
         </fieldset>

    </form>
    {% include 'angular_modules.html' %}

</div>

{% endblock main %}
</html>