<md-content layout="column">

    <div class="hero-area" layout="row" layout-align="center start">
        <div layout="column" layout-align="start center" layout-margin flex="100" flex-gt-sm="60">
            <img src="/static/images/logo.svg" alt="logo" width="140" class="inset">

            <div layout="row" layout-align="center center" layout-wrap>
                <div layout="column" flex="100" flex-gt-sm="70">
                    <h1>Next Generation Crowd Sourcing</h1>

                    <p class="md-headline">The platform with a conscience that the gig economy has been waiting for.
                                           Build sustainable careers, grow your business and help make decisions about
                                           the platform’s future.</p>
                </div>
                <div layout="column" flex>
                    <md-button class="md-raised md-primary" ng-href="/register">Create account</md-button>
                    <md-button class="md-raised md-primary" ng-href="/task-feed">Sample Tasks</md-button>
                </div>

            </div>
            <md-button class="md-raised md-primary" ng-href="/register" ng-hide="true">Learn More</md-button>
        </div>
    </div>

    <div layout-margin layout="column">
        <div layout="row" layout-align="center start">
            <h1>Welcome to the future of CrowdSourcing!</h1>
        </div>


        <div layout="row" layout-align="center">
            <div layout="row" layout-align="center start" flex="100" flex-gt-sm="60">

                <div layout="column" class="inset" flex>
                    <md-icon md-font-set="material-icons" class="md-64">find_in_page</md-icon>
                    <p class="md-title">Prototype Tasks allow to test workers and refine task descriptions</p>
                </div>
                <div layout="column" class="inset" flex>
                    <md-icon md-font-set="material-icons" class="md-64">format_list_numbered</md-icon>
                    <p class=" md-title">Milestone Reviews ease worker and requester relationships</p>
                </div>
                <div layout="column" class="inset" flex>
                    <md-icon md-font-set="material-icons" class="md-64">group</md-icon>
                    <p class="md-title">An Open Governance structure helps to empower all parties</p>
                </div>
            </div>
        </div>
    </div>

    <!--Task Section-->
    <div class="md-bg-accent">
        <div layout="column" layout-align="start center" layout-margin>
            <h1 class="md-margin-bottom-5">Tasks</h1>

            <p class="md-headline md-margin-top-5">A variety of tasks for a variety of crowd-workers</p>

            <div layout="row" flex>
                <md-icon md-font-set="material-icons" class="md-64">chevron_left</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">text_format</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">spellcheck</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">translate</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">code</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">label</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">create</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">gesture</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">insert_photo</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">movie_creation</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">build</md-icon>
                <md-icon md-font-set="material-icons" class="md-64">chevron_right</md-icon>
            </div>
        </div>
    </div>
    <!--Ends Task Section-->

    <!--Why Daemo Section-->
    <div layout="column" layout-margin>

        <div layout="row" layout-align="center start">
            <h1>Why Daemo?</h1>
        </div>

        <div layout="row" layout-align="center start" flex="100" flex-gt-sm="60">

            <div layout="column" class="inset" layout-align="start center">
                <h1>For Requesters</h1>

                <md-list>
                    <md-list-item>
                        <md-icon md-font-set="material-icons">assignment</md-icon>
                        <p class="md-headline">Post Your Job</p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-set="material-icons">person</md-icon>
                        <p class="md-headline">Test & Identify Workers</p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-set="material-icons">done_all</md-icon>
                        <p class="md-headline">Get Quality Results</p>
                    </md-list-item>
                </md-list>
            </div>

            <div layout="column" class="inset" layout-align="start center">
                <h1>For Workers</h1>

                <md-list>
                    <md-list-item>
                        <md-icon md-font-set="material-icons">find_in_page</md-icon>
                        <p class="md-headline">Find a Job</p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-set="material-icons">payment</md-icon>
                        <p class="md-headline">Get Paid Fairly</p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-set="material-icons">work</md-icon>
                        <p class="md-headline">Build your Career</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>

        <div layout="row" layout-align="center start" flex="100" flex-gt-sm="60">
            <md-button class="md-raised md-primary" ng-href="/register">Create Account</md-button>
        </div>
    </div>

    <!--Ends Why Daemo Section-->

    <!--About Us Section-->
    <div layout="column" layout-align="start center" class="md-bg-accent">
        <div layout="row" layout-align="center start">
            <h1 class="md-margin-bottom-5">About Us</h1>
        </div>
        <div layout="row" layout-align="center center" layout-wrap flex="100">
            <p class="md-headline" flex="100" flex-gt-sm="60">
                Daemo was created via a world-wide, crowdsourced research process initiated at Stanford University. We
                are a
                multidisciplinary group of researchers who gathered together with the only purpose of creating Daemo as
                crowd-sourcing platform that instills trust and fairness among its members.
            </p>

            <md-button class="md-raised md-primary" ng-href="/contributors" ng-hide="true">OUR PROFILES</md-button>

        </div>
    </div>

    <div layout="row" layout-align="center">

        <div layout="row" layout-wrap flex="100" flex-gt-sm="60">
            <div layout="column" layout-align="start start" flex>
                <h2>HOW IT WORKS</h2>

                <p class="md-margin-5">Profiles</p>

                <p class="md-margin-5">Press</p>

                <p class="md-margin-5">Terms of service</p>

                <p class="md-margin-5">Privacy policy</p>
            </div>
            <div layout="column" layout-align="start start" flex>
                <h2>CREATE ACCOUNT</h2>

                <p class="md-margin-5">For requesters</p>

                <p class="md-margin-5">For workers</p>
            </div>
            <div layout="column" layout-align="start start" flex>
                <h2>CONTACT</h2>

                <p class="md-margin-5">Contact</p>

                <p class="md-margin-5">Support</p>

                <p class="md-margin-5">Careers</p>
            </div>
            <div layout="column" layout-align="start start" flex>
                <h2>GET STARTED</h2>

                <p class="md-margin-5">Find a job</p>

                <p class="md-margin-5">Hire workers</p>
            </div>
        </div>
    </div>

</md-content>
