<div layout="row">
    <md-content layout="column" layout-fill>
        <!-- Main Container for the image-->
        <div class="hero-area">
            <!-- Main row for the text in the image-->
            <div layout="row" layout-align="start center">
                <div layout="column" class="logotext">
                    <div layout="row" layout-align="start center">
                        <img src="/static/images/comingsoon/daemologofinal.png" class="daemologo" alt="" />
                    </div>
                    <br>
                    <div layout="row" layout-align="start center">
                        <div class="text_title_image">Next generation crowdsourcing</div>
                    </div>
                    <div class="text_hp" layout="row">The platform with a conscience that the gig economy has
                        <br>been waiting for. Build sustainable careers, grow your busi-
                        <br>ness and help make decisions about the platform’s future.
                    </div>
                </div>
            </div>
            <!-- Ends main row for the text in the image-->
       
       
        <!--Ends Text on section-->
             <div class="marginb_w">
          <!--Text on section-->
        <div layout="row" layout-align="center center" class="text_hp">
            <div layout="col" layout-align="center center">
                <i class="material-icons icon48">find_in_page</i>
            </div>
            <div layout="col">
                <div>PROTOTYPE TASKS
                <br>ALLOW TO TEST WORKERS
                <br>AND REFINE DESCRIPTIONS.</div>
            </div>
            <div layout="col" layout-align="center center" class="margin_b">
                <i class="material-icons icon48">format_list_numbered</i>
            </div>
            <div layout="col">
                <div >MILESTONE REVIEWS
                    <br>EASE WORKER/
                    <br>REQUESTER EXCHANGES</div>
            </div>
            <div layout="col" layout-align="center center" class="margin_b">
                <i class="material-icons icon48">group</i>
            </div>
            <div layout="col">
                <div >AN OPEN GOVERNANCE
                    <br>STRUCTURE HELPS TO
                    <br>EMPOWER ALL PARTIES</div>
            </div>
        </div>
        </div>
        <!--Ends Text on section-->
            <div layout="row" layout-align="start center" class="text_hp mail">
            <div layout="col">
                <div>We’re currently working to make the best
                <br>crowdsourcing platform. Sign up to receive
                <br>news and be the first to hear when it launches:</div>
            </div>
            <div layout="col" layout-align="center center" class="mailbox">
                Your Email
            </div>
             <div layout="col" layout-align="end end">
                <div > <md-button md-no-ink="" class="stylebuttonblue" ng-href="">SUBMIT</md-button></div>
            </div>
        </div>
       </div>
     <!-- Ends Main Container for the image-->
    </md-content>
</div>