<div layout="row" >
   
        <!-- Main Container for the image-->
    <div class="hero-area">
          <img class="logodaemo" src="/static/images/comingsoon/daemologofinal.png" alt="Logo">
               <div layout="column">
          <div class="title">Next generation crowdsourcing</div>
          <div class="para1">The platform with a conscience that the gig economy has <br/> been waiting for. Build sustainable careers, grow your <br/> business, and participate in guiding Daemo's future.</div>
       </div>
       <div  layout="row" layout-sm="column" layout-align="center center" class="info daemoinfo"  >
          <div>
             <i class="material-icons icon48">find_in_page</i>
          </div>
          <div flex>
             <div>Prototype tasks help
                <br>scrutinize workers and
                <br>refine task details
             </div>
          </div>
          <div>
             <i class="material-icons icon48">format_list_numbered</i>
          </div>
          <div flex>
             <div>Milestone reviews
                <br>support worker-requester
                <br>exchanges
             </div>
          </div>
          <div>
             <i class="material-icons icon48">group</i>
          </div>
          <div flex>
             <div>An open governance
                <br>structure empowers
                <br>the entire community
             </div>
          </div>
       </div>
       <div layout="row" layout-sm="column" layout-align="start start"  class="later infotext clear" >
          <div flex>Daemo is coming soon! Sign up<br/>to receive updates and be the<br/>first to  join when it launches:<br/></div>
          <div flex>
             <input id="mail" type="text" name="email" placeholder="Your Email" ><br>
             <div class="checkbox alignint">I'm interested in: 
                <input id="check1" type="checkbox" name="check" value="check1">
                <label for="check1"> Working</label>
                <input id="check2" type="checkbox" name="check" value="check2">
                <label for="check2"> Hiring</label>
             </div>
          </div >
          <div flex class="alignbutton">
             <md-button md-no-ink="" class="stylebuttonblue" ng-href="" >SIGN ME UP!</md-button>
          </div>
       </div>
       <div class="help infotext">Wanna talk to us? Email <a href="mailto:daemo@cs.stanford.edu?Subject=Daemo-Contact Us" target="_top">daemo@cs.stanford.edu</a></div>
         <!-- Ends Main Container for the image-->
 
</div>