{% extends "base.html" %}
    {% block title %}
    <title>Profile</title>
    {% endblock title%}

{%block main%}

<div class="container">
	<div class="row">
		<div class="col-md-12 user-details">
            <div class="user-image">
                <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" width="110" height="110" alt="" class="img-circle">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <span class="help-block"></span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#personalInformation">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>Personal Information</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#skills">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span>Skills</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#network">
                            <span class="glyphicon glyphicon-globe"></span>
                            <span>Network</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#previousWork">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span>Previous Work</span>
                        </a>
                    </li>
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="personalInformation" class="tab-pane active">
                            <h4>Personal Information</h4>

                            <div class=" col-md-9 col-lg-9 ">
                              <table class="table table-user-information">
                                <tbody>
                                  <tr>
                                    <td>Name:</td>
                                    <td>{{user.first_name}} {{user.last_name}}</td>
                                  </tr>
                                  <tr>
                                    <td>Username:</td>
                                    <td>{{user.username}}</td>
                                  </tr>
                                  <tr>
                                    <td>Birthday:</td>
                                    <td>{{user.birthday}}</td>
                                  </tr>
                                  <tr>
                                    <td>Email</td>
                                    <td>{{user.email}}</td>
                                  </tr>
                                  <tr>
                                    <td>Gender</td>
                                    <td>{{user.gender}}</td>
                                  </tr>
                                    <tr>
                                    <td>Address</td>
                                    <td>{{user.address.street}} {{user.address.city.name}}, {{user.address.country.name}}</td>
                                  </tr>
                                  <tr>
                                    <td>Verified</td>
                                    <td>{{user.verified}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                        </div>
                        <div id="skills" class="tab-pane">
                            <h4>Skills</h4>
                        </div>
                        <div id="network" class="tab-pane">
                            <h4>Network</h4>

                            {% for friend in friends %}

                            <div id = "friendDiv" style = "float:left; margin-right: 30px">
                                <div class="span2">
                                  <img src="http://parakhhospital.com/wp-content/uploads/2014/01/Icon-user.png"  alt="" class="img-rounded">
                                </div>

                                <div class="span4">
                                  <blockquote>
                                    <p> {{friend.first_name}} {{friend.last_name}}</p>
                                    <small><cite title="Source Title"> Worker, Requester <i class="icon-map-marker"></i></cite></small>
                                  </blockquote>
                                  <p>
                                    <i class="icon-envelope"></i> {{friend.email}}<br>
                                    <i class="icon-gift"></i> {{friend.gender}}
                                  </p>
                                </div>
                                </div>

                            {% endfor %}

                        </div>
                        <div id="previousWork" class="tab-pane">
                            <h4>Previous Work</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

{% endblock main %}
