.md-lightblue-theme {
  background-color: #03a9f4;
}
.md-lightblue {
  color: #03a9f4;
  font-weight: 500;
}

.left-nav {
  margin-left: 40px;
  margin-top: 25px;
  min-height: 700px;
  .active {
    background-color: #03a9f4;
    color: rgba(255,255,255,1);
  }
  md-list md-list-item button.md-button:hover:not([disabled]) {
    background-color: transparent;
  }
  .md-ripple-container {
    display: none;
  }
}

.main{
  background-color: #f5f5f5;
  height: calc((100vh - 64px));
}

.main-search {
  margin-left: 30px;
  height: 32px;
  md-autocomplete-wrap {
    height:32px;
  }
}

.logo {
  margin-left: 25px !important;
}

.md-middle-content {
  background-color: #f5f5f5;
}

md-toolbar {
  .md-button {
    text-transform: capitalize;
  }
}