.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 15px;
}

.DocumentItem
{
    text-align:center;
    padding:0;
    height:300px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
}

.DocumentItem-plus
{
    border:0px;
}

.list-inline {
  white-space:nowrap;
}
