.project-form {
  min-width: 100%;
  margin: 4em auto;
  background-color: inherit;
  /**/
}
.md-list-item-padding {
  padding: 3em 2em 2em 2em;
}

.project-form h3 {
  color: rgba(0,0,0,0.87) !important;
  font-weight: 400;
  font-size: 20px !important;
}
.project-form h4{
  color: rgba(0,0,0,0.54) !important;
}

.project-form .md-list-info {
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  background-color: #ffffff;
}
.project-form .md-sidenav-backdrop {
  display: none;
}