body,html{
 height:100%;
}

.main-home-container {
  min-height:100%;
}

.container {
  min-height: 100%;
}

.welcome-screen {
	background: lightblue;
	padding: 10px;
}
.welcome-screen {
	background: lightblue;
	padding: 10px;
}
.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}

.container {
  min-height: 100%;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.signin-button {
  padding: 10px !important;
  margin-top: 5px !important;
  color: white !important;
  margin-left: 3px;
  margin-right: 3px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 840px;
    height: 480px;
    float: left;
}

.selectedItems{
    float: left; 
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}


/**
 * Contributor pages
 */
.thumb {
  margin-bottom: 10px;
}
a.contributor-thumb {
  display: block;
  width: 100px;
  text-decoration: none;
}

a.contributor-thumb img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.font-awesome-big-icon{
   margin:10px;
   font-size:100px;
}
.thumbnail{
   text-align:center;
}


/**
* Animation styles
**/
.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}