<md-list ng-sortable="template.sortConfig"
         class="no-decoration-list">

    <md-list-item class="_template-list-item" ng-repeat="item in template.items"
                  ng-class="{'_item-selected': project.selectedItem==item}">

        <div class="_template-item-container" ng-class="{'_item-selected-border': project.selectedItem==item}">

            <div ng-if="!project.isDisabled()" class="handle">
                <md-icon md-font-set="material-icons" class="material-icons">drag_handle</md-icon>
            </div>

            <div ng-if="project.isDisabled()" class="_template-item"
                 md-template-compiler="item" editor="false"
                 instance="template" is-disabled="false" is-review="false" is-edit-preview="true"></div>
            <div ng-if="!project.isDisabled()" ng-click="project.selectedItem = item" class="_template-item"
                 md-template-compiler="item"
                 editor="true" instance="template" is-disabled="false" is-review="false"></div>
        </div>
    </md-list-item>

</md-list>

