<md-list ng-sortable="{group: 'template_items', animation:150, handle: '.handle'}"
         class="no-decoration-list">

  <md-list-item outside-click="item.blurred=true; item.focused=false" class="_template-list-item" ng-repeat="item in project.module.templates[0].template_items"
                ng-class="{'_item-selected': item.isSelected}" >

    <div  class="_template-item-container _authoring_content" ng-class="{'_item-selected-border': item.isSelected}"
         style="outline:none" >

      <div class="_template-item" md-template-compiler="item" editor="true" instance="template"
           style="cursor: default"></div>
    </div>
  </md-list-item>
</md-list>

