<md-menu>
    <md-button aria-label="Open components menu" class="md-raised" ng-click="$mdOpenMenu($event)">
        Add Component
    </md-button>
    <md-menu-content width="4">
        <md-menu-item ng-repeat="component in template.templateComponents track by $index">
            <md-button ng-click="template.addComponent(component)">
                <md-icon md-menu-align-target md-font-set="material-icons md-32">{{ component.icon }}</md-icon>
                {{ component.name }}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>