<p ng-init="project.getLastMilestoneComments()">Use our Task Builder to design your task. Arrange and customize your task using our draggable template items. Double click a component to modify its properties.</p>
<div class="template-container" layout="column" ng-controller="TemplateController as template">
    <div layout="row">
        <div class="main-content" flex="65" jqyoui-droppable="{multiple:true, stack: true, onOver: 'onOver', onDrop:'onDrop'}"
             data-jqyoui-options="{hoverClass: 'blue-border'}" data-drop="true" layout-margin>
            <div ng-if="!template.items.length" layout="column" layout-align="center center">
                <h5>Drag components from the right sidebar and drop them here</h5>
            </div>

            <ul ui-sortable ng-model="template.items" class="no-decoration-list">
                <li class="template-item" ng-repeat="item in template.items track by $index">
                    <div layout="row" flex="100">
                        <div md-template-compiler="template.buildHtml(item)" flex="95" ng-click="template.setSelectedItem(item)" style="cursor: default"></div>
                        <h4 ng-click="template.removeItem(item)" class="pointer-cursor"><i class="material-icons md-light md-inactive">close</i></h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="template-container" flex>
            <md-content layout="column" class="properties" layout-margin>
                <div layout="row" layout-align="start center">
                    <md-tabs md-dynamic-height class="md-tabs-template" md-selected="template.selectedTab" md-autoselect md-stretch-tabs="always" md-center-tabs>
                        <md-tab label="Library" md-on-select=""></md-tab>
                        <md-tab label="Properties" md-on-select=""></md-tab>
                        <md-tab label="Feedback ({{ project.currentProject.comments.length }})" md-on-select="" ng-if="project.currentProject.hasComments"></md-tab>
                    </md-tabs>
                </div>
                <ng-include ng-show="template.selectedTab===0" src="'/static/templates/template/components.html'"></ng-include>
                <ng-include ng-show="template.selectedTab===1" src="'/static/templates/template/properties.html'"></ng-include>
                <ng-include ng-show="template.selectedTab===2" src="'/static/templates/task/comments.html'"></ng-include>
            </md-content>
        </div>
    </div>
    <div class="">
      <md-button class="md-primary md-raised" ng-click="template.showTaskDesign($event)" flex flex-md="100">Preview</md-button>
    </div>
</div>