<div class="md-tabs-template md-template-properties">
    <md-subheader class="pull-left md-no-sticky">Role</md-subheader>
    <md-radio-group ng-model="template.selectedItem.role" layout="row" class="pull-left">
        <md-radio-button value="input">Worker Input</md-radio-button>
        <md-radio-button value="display">Display Only</md-radio-button>
    </md-radio-group>
    <md-subheader class="pull-left md-no-sticky">General Properties</md-subheader>
    <div layout="row" layout-align="start center" class="md-property-item pull-left">
        <md-input-container flex="50">
            <label>Name</label>
            <input required ng-model="template.selectedItem.name">
        </md-input-container>
        <md-input-container flex="50">
            <label>Unique ID</label>
            <input required ng-model="template.selectedItem.id">
        </md-input-container>
    </div>
    <md-subheader class="pull-left md-no-sticky">Content</md-subheader>
    <md-input-container flex>
        <label>Options</label>
        <textarea ng-model="template.selectedItem.values"></textarea>
    </md-input-container>
    <md-subheader class="pull-left md-no-sticky">Dynamic Data Source</md-subheader>

    <!--label>Item Source (csv column i.e. label_1)</label-->
    <md-autocomplete
        md-selected-item="template.selectedItem.data_source"
        md-search-text="template.selectedItem.csvSearchText"
        md-items="csvHeader in project.querySearch(template.selectedItem.csvSearchText)"
        md-item-text="csvHeader"
        md-min-length="0"
        md-no-cache="true"
        placeholder="Choose a Column Header from Uploaded CSV">
        <span>{{csvHeader}}</span>
    </md-autocomplete>

    <md-subheader class="pull-left md-no-sticky">Layout</md-subheader>
    <md-radio-group ng-model="template.selectedItem.layout" layout="row" class="pull-left">
        <md-radio-button value="row">Row</md-radio-button>
        <md-radio-button value="column">Column</md-radio-button>
    </md-radio-group>
</div>

