<div class="col-lg-11">
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="/static/images/contributors/ramachandracn.jpg" alt="">	
		</div>

		<div class="col-md-8">
			  	<h3>Ramachandra C N</h3>
			  	<h5>Aspiring Phd student and researcher</h5>
				<br>
<p> My name is Ramachandra C N a working professional from Bangalore and an aspiring Phd student. Finished  MS research student at University of Houston HPCtools group in 2012 and working in Bangalore since then. My main motivation is to explore crowdsourcing as a potential research area and contribute to this unique project in the process  </p>
<p> You can reach out to me through any of the following venues. </p>

<p>
        <a href="https://in.linkedin.com/in/cnrama">Linkedin.</a>
        <br>
        <a href="https://sites.google.com/site/cndotramachandra">Personal website.</a> 
        <br>
        <a href="https://github.com/ramcn">Github.</a>
        <br>
        <a href="https://www.facebook.com/ramachandracn">Facebook</a>
        <br><br>Contact me at:<i>cn.ramachandra@gmail.com</i>
</p>
		</div>
	</div>
</div>
