<div class="row">


      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header text-center"><small>Riya Kothari</small></h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-sm-3 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/riya.jpeg" />
            <span>Riya Kothari</span> 
          </div>
          <div class="col-sm-9 col-xs-12">
            <p>
             Hii everyone!! I'm Riya Kothari ,currently enrolled in an undergraduate programme. I am really looking forward to contribute the best I can and am currently exploring AngularJS.

            </p>

          </div>

        </div>

        </div>
</div>