<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Rohit Nistala</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/rohit.jpg" />
            <span>Rohit</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              Rohit is an aspiring researcher with experience in full stack development. After absorbing the Bay Area at some tech companies and some startups, he joined the Crowdsource research project to build a better platform. He like outdoors, sports, beer and tinkering with everything.
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
