<div layout="row">
    <div layout="column" flex="60">
        <div ng-repeat="project in taskfeed.projects">
            <md-card ng-class="{'blue100-background': module.id == taskfeed.previewedModule.id}" class="task-card" ng-repeat="module in project.modules" >
                <md-card-content>
                    <h2 class="md-title" ng-click="taskfeed.showPreview(module)">{{project.name + ' - '+ module.name}}</h2>
                    <div layout="row" class="posted">
                        <span flex="">{{module.created_timestamp}} <span class="requester">{{'requester_alias'}}</span></span>
                        <span class="time" flex="33" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">access_time</md-icon> Time to complete: {{project.onetaskTime || '1min'}}</span>
                    </div>
                    <p layout="row" layout-align="start start"> <md-icon md-font-set="material-icons">description</md-icon>
                        <span layout="column">{{project.description}} <br> {{ module.description }}</span>

                    </p>
                    <br />
                    <br />
                    <div layout="row">
                        <div class="payment" flex="33" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">attach_money</md-icon>Payment: {{module.price}}</div>

                        <br /><br />
                        <div class="tasks" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">list</md-icon>Number of tasks: {{module.module_tasks.length}}</div>
                    </div>

                    <div class="skills" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">filter_list</md-icon> Skills: {{project.selectedCategoriesSkills || 'Not listed'}}</div>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button aria-label="attempt" class="md-action-button">
                        <a href="/task/{{project.id}}">
                            <md-icon md-font-set="material-icons">launch</md-icon>
                        </a>
                    </md-button>
                    <md-button ng-click="taskfeed.toggleBookmark(module)" aria-label="bookmark" class="md-action-button">
                        <md-icon  md-font-set="material-icons" class="md-action-button">{{module.is_bookmarked?'bookmark_border':'bookmark'}}</md-icon>
                    </md-button>

                </div>
            </md-card>
        </div>
        <md-card ng-if="!taskfeed.projects.length">
            <md-card-content>
                <h2 class="md-title">No free tasks available</h2>
            </md-card-content>
        </md-card>
    </div>
    <ng-include class="module-preview" flex ng-show="taskfeed.previewedModule" src="'/static/templates/task-feed/preview.html'" layout="column">

    </ng-include>

</div>
