<div layout="row">
    <div layout="column" flex="60">
        <div ng-repeat="project in taskfeed.projects">
            <md-card ng-hide="!module.available_tasks" ng-class="{'blue100-background': module.id == taskfeed.previewedModule.id}" class="task-card" ng-repeat="module in project.modules" >
                <md-card-content>
                    <h2 class="md-title pointer-cursor" ng-click="taskfeed.showPreview(module)">{{project.name + ' - '+ module.name}}</h2>
                    <div layout="row" class="posted">
                        <span flex="">{{module.age}} by <span class="requester">{{project.owner.alias}}</span></span>
                        <span class="time" flex="45" layout="row" layout-align="end center"><md-icon md-font-set="material-icons">access_time</md-icon> Time to complete: {{module.task_time}} min</span>
                    </div>
                    <p layout="row" layout-align="start start"> <md-icon md-font-set="material-icons">description</md-icon>
                        <span layout="column">{{project.description}} <br> {{ module.description }}</span>

                    </p>
                    <br />
                    <br />
                    <div layout="row">
                        <div class="payment" flex="33" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">attach_money</md-icon>Payment: {{module.price}}</div>

                        <br /><br />
                        <div class="tasks" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">list</md-icon>Number of tasks (available/total): {{module.available_tasks + '/'+module.total_tasks}}</div>
                    </div>

                    <div class="skills" layout="row" layout-align="start center"><md-icon md-font-set="material-icons">filter_list</md-icon> Skills: {{project.selectedCategoriesSkills || 'Not listed'}}</div>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-disabled="!module.available_tasks" ng-click="taskfeed.openTask(module.id)" aria-label="attempt" class="md-action-button">
                        <md-icon md-font-set="material-icons">launch</md-icon> Attempt
                    </md-button>
                    <md-button ng-click="taskfeed.toggleBookmark(module)" aria-label="bookmark" class="md-action-button">
                        <md-icon  md-font-set="material-icons" class="md-action-button">{{module.is_bookmarked?'bookmark_border':'bookmark'}}</md-icon>
                      Bookmark
                    </md-button>
                    <md-button ng-disabled="!module.allow_feedback" ng-click="taskfeed.openComments(module)" aria-label="attempt" class="md-action-button">
                        <md-icon md-font-set="material-icons">comment</md-icon> Comment
                    </md-button>

                </div>
                <md-divider ng-if="module.is_comment_expanded"></md-divider>
                <div ng-if="module.is_comment_expanded" class="feed-comment-area">
                    <div class="comment-list">
                        <md-list>
                            <div ng-repeat="item in module.comments">
                                <md-list-item class="md-2-line" >
                                    <div class="md-list-item-text">
                                        <h3 class="comment-sender">{{ item.comment.sender_alias }}</h3>
                                        <p>{{ item.comment.posted_time }}</p>
                                    </div>
                                </md-list-item>
                                <p class="comment-body">{{ item.comment.body }}</p>
                                <md-divider ng-if="!$last"></md-divider>
                            </div>
                        </md-list>
                        <div class="input-comment">
                            <div layout="row">
                                <md-input-container layout="column" flex="50">
                                    <label>Enter comment</label>
                                    <textarea ng-model="taskfeed.comment.body" columns="1"></textarea>
                                </md-input-container>
                                <div>
                                    <md-button ng-disabled="!taskfeed.comment.body" ng-click="taskfeed.saveComment(module)" aria-label="post-comment"
                                               class="md-action-button">
                                        Send comment
                                    </md-button>
                                    <md-button ng-click="taskfeed.comment.body=null" aria-label="cancel-comment" class="md-action-button">
                                        Cancel
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
        <div ng-show="taskfeed.availableTasks">
            <md-card ng-show="!taskfeed.availableTasks">
                <md-card-content>
                    <h2 class="md-title">No free tasks available</h2>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <ng-include class="module-preview" flex ng-show="taskfeed.previewedModule" src="'/static/templates/task-feed/preview.html'" layout="column">

    </ng-include>

</div>
