<md-card>
    <md-card-content layout-margin>
        <div layout="row">
            <h3>{{taskfeed.previewedModule.name}}</h3>
            <span flex=""></span>
            <md-icon class="pointer-cursor" ng-click="taskfeed.previewedModule=null" md-font-set="material-icons">clear</md-icon>
        </div>


        <div class="inset">
            <md-icon md-font-set="material-icons" flex="10">attach_money</md-icon> ${{taskfeed.previewedModule.price}}
        </div>
        <div class="inset">
            <md-icon md-font-set="material-icons" flex="10">list</md-icon> Total tasks: {{taskfeed.previewedModule.total_tasks}}
        </div>
        <div layout="row" layout-align="center center" layout-padding>
            <md-button class="md-raised md-primary" flex="50" ng-disabled="!taskfeed.previewedModule.total_tasks" ng-click="taskfeed.openTask(taskfeed.previewedModule.id)">Accept</md-button>
        </div>
    </md-card-content>
</md-card>
