<div class="row" ng-controller="HomeController as vm">


      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header text-center"><small>Hi, I'm Aditi Mithal</small></h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-sm-3 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/aditimithal.jpg" />
          </div>
          <div class="col-sm-9 col-xs-12">
            <p>
              I am a BTech third year Computer Science student at IIIT-Delhi.
	      I am interested in Data Analysis and like UI development.
	      <p>It has been a great experience working on this project and knowing people. This platform made me familar to HCI and I really wish to explore this field. </p>
            <p>My Contact Details:
	   <br>Email-id: aditi.mithal@gmail.com
	    <br> <a href="https://www.facebook.com/aditi.mithal">Facebook </a>
	    <br> <a href="http://github.com/aditimithal">Github</a>
		
          </div>
	</div>
        </div>

        </div>
</div>
