<div class="col-lg-11">
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="/static/images/contributors/radhika.jpg" alt="">	
		</div>

		<div class="col-md-8">
			  	<h3>Radhika Bhanu K</h3>
			  	<h5>UI Developer</h5>
				<br>
			  	<p>Hi, I'm Radhika and I'm a UI Engineer at InMobi.</p> 
			  	<p>I love learning and experimenting with new technologies. I also like reading about things I haven't ventured into before! I've recently gained an interest in HCI, and am looking forward to doing some good work in the area! :)</p>
			  	<br> 
			  	<p>Contact : radhika.bhanu@gmail.com <br> Github : <a href="http://github.com/radhikabhanu">radhikabhanu</a></p>
		</div>
	</div>
</div>