
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome-4.3.0/css/font-awesome.min.css">


<div  layout="row" flex="80" layout-align="center center">

<md-content class="" layout-padding class="md-gray-theme"  layout-align="center center" layout="column">
    <img src="/static/images/homepage/homepage-image.jpg"/>
    
   </md-content> 
</div>
<div style="margin:40px;"></div>
<div align="center" style="font-weight:bold; margin:20px 0px 20px 0px;">HOW IT WORKS</div>
<div  layout="row" flex="80" layout-align="center center" style="margin:10px;">

    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
      <table align="center" width="100%"  >
 		<tr align="center">
      	   <td><i class="fa fa-desktop fa-2x"></i></td>
        </tr>
        <tr align="center"><td>Post a Task</td></tr>
      </table>	
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
    <table>
     <tr align="center">
      	<td><i class="fa fa-users fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Select Workers</td></tr>
     </table>	
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
    <table>
     <tr align="center">
      	<td><i class="fa fa-money fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Pay</td></tr>
     </table>	
     
     
    </md-content>
   
  
  
</div>


<div align="center" style="font-weight:bold; margin:20px 0px;">CATEGORIES</div>


<div  layout="row" flex="80" layout-align="center center" style="margin:10px;">

    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
      <table align="center" width="100%"  >
 		<tr align="center">
      	   <td><i class="fa fa-flask fa-2x"></i></td>
        </tr>
        <tr align="center"><td>Run an experiment</td></tr>
      </table>	
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
    <table>
     <tr align="center">
      	<td><i class="fa fa-pencil fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Transcribe text</td></tr>
     </table>	
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
    <table>
     <tr align="center">
      	<td><i class="fa fa-file-text-o fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Copywriting</td></tr>
     </table>	
     
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
     <table>
     <tr align="center">
      	<td><i class="fa fa-paint-brush fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Design</td></tr>
     </table>
     
    </md-content>
  
  
</div>
<div  layout="row" flex="80" layout-align="center center" style="margin:10px;">

    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
      <table>
     <tr align="center">
      	<td><i class="fa fa-desktop fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Create a Website</td></tr>
     </table>
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
       <table>
     <tr align="center">
      	<td><i class="fa fa-book  fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Proofreading/Editing</td></tr>
     </table>
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
      <table>
     <tr align="center">
      	<td><i class="fa fa-font  fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Traslate a document</td></tr>
     </table>
     
    </md-content>
    <div style="margin:10px;"></div>
    <md-content  layout-padding class="md-gray-theme" flex="15" layout-align="center center" layout="column">
     <table>
     <tr align="center">
      	<td><i class="fa fa-wrench  fa-2x"></i></td>
     </tr>
      	<tr align="center"><td>Other</td></tr>
     </table>
     
    </md-content>
  
  
</div>

<div style="margin:60px;"></div>


    
   