<div>
    <h1>Projects
        <a class="btn btn-success pull-right" ui-sref="project.create">Create a New Project</a>
    </h1>

</div>
<div class="panel panel-default center">
    <div class="panel-heading center">Popular Project Categories</div>
    <div class="panel-body">
        <div class="col-lg-3 col-md-6 col-xs-12 text-center"><i class="fa fa-cogs fa-5x"></i>

            <div class="Engineering">
                <h7>Engineering</h7>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 text-center"><i class="fa fa-camera-retro fa-5x"></i>

            <div class="Photography">
                <h7>Photography</h7>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 text-center"><i class="fa fa-file-code-o fa-5x"></i>

            <div class="Programming">
                <h7>Programming</h7>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 text-center"><i class="fa fa-line-chart fa-5x"></i>

            <div class="Trend Analysis">
                <h7>Trend Analysis</h7>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel-heading xs-12"></div>

        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="name">Name</th>
                <th>Categories</th>
                <th st-sort="price">Price</th>
                <th st-sort="deadline">Deadline</th>
            </tr>
            <tr>
                <th colspan="6">
                    <input st-search placeholder="Search Project" class="input-sm form-control" type="search"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td>{{ row.name }}</td>
                <td>{{ row.categories }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.deadline }}</td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
