<div class="_main-content _middle-content md-whiteframe-z1" layout="column" layout-align="center start">
  <div class="_main-content-body">

    <div layout="row" class="layout-align-start-center _task-nav _task-feed-shadow layout-row"
         ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
      <span class="_nav-title _left-inset">Authentication Settings</span>
      <div class="_header-actions">
      </div>
    </div>

    <div class="_card-list" layout-margin="">

      <h3 id="form-header">Change Password</h3>
      <form name="form" ng-submit="auth.changePassword(form.$valid)" novalidate>
        <div layout="column">
          <md-input-container>
            <label>Old Password</label>
            <input name="oldpassword" ng-minlength="8" type="password" required ng-model="auth.password" auto-focus>
            <div ng-if="form.oldpassword.$touched||auth.submitted" ng-messages="form.oldpassword.$error">
              <p ng-message="required">Old password is required.</p>
              <p ng-message="minlength">Minimum 8 characters are required.</p>
            </div>
          </md-input-container>

          <md-input-container>
            <label>New Password</label>
            <input name="password1" ng-minlength="8" type="password" required ng-model="auth.password1">
            <div ng-if="form.password1.$touched||auth.submitted" ng-messages="form.password1.$error">
              <p ng-message="required">New password is required.</p>
              <p ng-message="minlength">Minimum 8 characters are required.</p>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Confirm New Password</label>
            <input name="password2" ng-minlength="8" type="password" required ng-model="auth.password2">
            <div ng-if="form.password2.$touched||auth.submitted" ng-messages="form.password2.$error">
              <p ng-message="required">Password confirmation is required.</p>
              <p ng-message="minlength">Minimum 8 characters are required.</p>
              <p ng-show="auth.password1!=auth.password2&&form.$dirty" class="authentication-error">Passwords do not
                match.</p>
            </div>
          </md-input-container>
        </div>
        <div class="authentication-error" layout="row" ng-show="auth.error && form.$pristine"
             ng-bind="auth.error"></div>
        <div flex layout="row" layout-align="center">
          <md-button type="submit" class="md-raised">Submit</md-button>
        </div>
      </form>
    </div>

  </div>
</div>

