<div  layout="row" flex layout-align="center center" layout-margin class="_main-content">
    <md-content class="authentication-form _main-content-body" layout-padding flex layout-align="center center" layout="column">
        <h3 id="form-header">Change Password</h3>
        <form name="form">
            <div layout="row">
                <md-input-container>
                    <label>Old Password</label>
                    <input min="8" type="password" required ng-model="auth.password">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>New Password</label>
                    <input name="password1" min="8" type="password" required ng-model="auth.password1">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Confirm New Password</label>
                    <input min="8" type="password" required ng-model="auth.password2">
                </md-input-container>
            </div>
            <div class="authentication-error" layout="row" ng-show="auth.error && form.$pristine" ng-bind="auth.error"></div>
            <div flex layout="row" layout-align="center">
            <md-button ng-click="auth.changePassword()" class="md-raised">Submit</md-button>
            </div>
        </form>
    </md-content>
</div>
