<h3>Forgot Password</h3>
<form name="form" ng-submit="auth.submitForgotPassword(form.$valid)" novalidate class="_left">
    <div layout="column" ng-if="!auth.successMessage">
        <md-input-container>
            <label>Email</label>
            <input name="email" type="email" required ng-model="auth.email" auto-focus>
            <div ng-if="form.email.$touched||auth.submitted" ng-messages="form.email.$error">
                <p ng-message="required">Email is required.</p>
                <p ng-message="email">Invalid Email.</p>
            </div>
        </md-input-container>
    </div>
    <div ng-if="auth.successMessage"
         style="line-height: 32px; font-size: large; color: rgba(0, 0, 0, 0.7); text-align: center">
        {{ auth.successMessage }}
    </div>
    <div class="authentication-error" layout="row" ng-show="auth.error && form.$pristine" ng-bind="auth.error"></div>
    <div layout="row" layout-align="start center" ng-if="!auth.successMessage">
        <div class="_small-note" flex=""><a ui-sref="auth.login">Log In</a></div>
        <md-button type="submit" class="md-accent" style="margin-right: 0">Submit</md-button>
    </div>

</form>
