<div ng-cloak>
    <div flex layout="row" layout-align="center start">
        <h1 class="md-display-3" layout="column" layout-align="center"><img src="/static/images/logo.svg"> DAEMO
        </h1>
    </div>
    <div flex layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ui-sref="login">Sign In</md-button>
        <md-button class="md-raised md-accent" ui-sref="register">Register</md-button>
    </div>
</div>
<div layout="row" layout-align="center center" layout-margin class="_main-content">
    <md-content class="authentication-form _main-content-body" layout-padding class="md-gray-theme" layout-align="center center" layout="column">
        <h3 id="form-header">Forgot Password</h3>
        <form name="form" ng-submit="auth.submitForgotPassword(form.$valid)" novalidate>
            <div layout="row">
                <md-input-container>
                    <label>Email</label>
                    <input name="email" type="email" required ng-model="auth.email">
                    <div ng-if="form.email.$touched||auth.submitted" ng-messages="form.email.$error">
                        <p ng-message="required">Email is required.</p>
                        <p ng-message="email">Invalid Email.</p>
                    </div>
                </md-input-container>
            </div>
            <div class="authentication-error" layout="row" ng-show="auth.error && form.$pristine" ng-bind="auth.error"></div>
            <div flex layout="row" layout-align="center">
            <md-button type="submit" class="md-raised">Submit</md-button>
            </div>
        </form>
    </md-content>
</div>
