<div ng-cloak>
    <div flex layout="row" layout-align="center start">
        <h1 class="md-display-3" layout="column" layout-align="center"><img src="/static/images/logo.svg"> DAEMO
        </h1>
    </div>
    <div flex layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ui-sref="login">Sign In</md-button>
        <md-button class="md-raised md-accent" ui-sref="register">Register</md-button>
    </div>
</div>

<div layout="row" class="_main-content" layout-align="center center" layout-margin>
    <md-content class="authentication-form _main-content-body" layout-padding layout-align="center center"
                layout="column">
        <h1 class="md-headline">Login</h1>

        <form name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate>
            <div layout="column">
                <md-input-container>
                    <label>Email or Username</label>
                    <input name="username" required ng-model="vm.username">

                    <div ng-if="loginForm.username.$touched||vm.submitted" ng-messages="loginForm.username.$error">
                        <p ng-message="required">Email or Username is required.</p>
                    </div>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Password</label>
                    <input name="password" type="password" required ng-model="vm.password">

                    <div ng-if="loginForm.password.$touched||vm.submitted" ng-messages="loginForm.password.$error">
                        <p ng-message="required">Password is required.</p>
                    </div>
                </md-input-container>
            </div>
            <div class="authentication-error" layout="row" ng-show="vm.error && loginForm.$pristine"
                 ng-bind="vm.error"></div>
            <div flex layout="row" layout-align="center">
                <md-button type="submit" class="md-raised md-primary">Sign In</md-button>
                <md-button class="md-warn" ui-sref="forgot_password">Forgot Password?</md-button>
            </div>
        </form>
    </md-content>
</div>

