<h3 style="padding-bottom: 18px">Sign in</h3>
<form name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate class="_left">
    <div layout="column">
        <md-input-container class="md-input-has-placeholder">
            <label>Email or Username</label>
            <input name="username" required ng-model="vm.username" auto-focus>

            <div ng-if="loginForm.username.$touched||vm.submitted" ng-messages="loginForm.username.$error">
                <p ng-message="required">Email or Username is required.</p>
            </div>
        </md-input-container>
    </div>
    <div layout="column">
        <md-input-container class="md-input-has-placeholder">
            <label>Password</label>
            <input name="password" type="password" required ng-model="vm.password">

            <div ng-if="loginForm.password.$touched||vm.submitted" ng-messages="loginForm.password.$error">
                <p ng-message="required">Password is required.</p>
            </div>
        </md-input-container>
    </div>
    <div class="authentication-error" layout="row" ng-show="vm.error && loginForm.$pristine"
         ng-bind="vm.error"></div>

    <div class="layout-row layout-align-start-center">
        <div class="_small-note _auth-footer" style="text-align: left"><a
                ui-sref="auth.register">Create account</a></div>
        <div class="_small-note _auth-footer" style="text-align: right; padding-left: 16px"><a ui-sref="auth.forgot_password">Forgot
            password?</a></div>
        <div flex layout="row" layout-align="end center">
            <md-button type="submit" style="margin: 0; right: -18px" class="md-accent">Sign In</md-button>
        </div>
    </div>


</form>
