<div layout="row" flex="50" layout-align="center center">
    <md-content class="authentication-form" layout-padding class="md-gray-theme" flex="40" flex-md="80" flex-sm="100"
                layout-align="center center" layout="column">
        <h3 id="form-header">Daemo Registration</h3>

        <form name="form" ng-submit="register.register()" novalidate>
            <div layout layout-sm="column">
                <md-input-container>
                    <label>First Name</label>
                    <input ng-required="true" ng-model="register.first_name" name="first_name" backend-error>

                    <div ng-messages="form.first_name.$error" ng-if="form.$submitted || form.first_name.$touched">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="backend">{{ register.errors.first_name }}</div>
                    </div>
                </md-input-container>

            </div>
            <div layout layout-sm="column">
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-required="true" ng-model="register.last_name" name="last_name" backend-error>
                    <div ng-messages="form.last_name.$error" ng-if="form.$submitted || form.last_name.$touched">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="backend">{{ register.errors.lastname }}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" ng-required="true" ng-model="register.email" name="email" backend-error>
                    <div ng-messages="form.email.$error" ng-if="form.$submitted || form.email.$touched">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="backend">{{ register.errors.email }}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Password</label>
                    <input ng-minlength="8" type="password" ng-required="true" ng-model="register.password1" name="password1" backend-error>
                    <div ng-messages="form.password1.$error" ng-if="form.$submitted || form.password1.$touched">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="minlength">Min. 8 characters are required.</div>
                        <div ng-message="backend">{{ register.errors.password1 }}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Confirm Password</label>
                    <input ng-minlength="8" type="password" ng-required="true" ng-model="register.password2" name="password2" compare-to="register.password1" backend-error>
                    <div ng-messages="form.password2.$error" ng-if="form.$submitted || form.password2.$touched">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="minlength">Min. 8 characters are required.</div>
                        <div ng-message="compareTo">Passwords do not match.</div>
                        <div ng-message="backend">{{ register.errors.password2 }}</div>
                    </div>
                </md-input-container>
            </div>

            <div class="authentication-error" ng-show="register.error && form.$pristine"
                 ng-bind="register.error"></div>

            <md-button type="submit" class="md-primary md-raised">Sign Up</md-button>
        </form>
    </md-content>
</div>

<!--<p style="padding-top: 3px;" class="text-center">By clicking Sign Up, you agree to the <a ng-href="/terms">Terms</a></p-->