<div  layout="row" flex="50" layout-align="center center" class="_main-content">
    <md-content class="authentication-form _main-content-body" layout-padding class="md-gray-theme"
                layout-align="center center" layout="column">
        <h3 id="form-header">Reset Password</h3>
        <form name="form">
            <div layout="row">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" required ng-model="auth.email" auto-focus>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>New Password</label>
                    <input min="8" type="password" required ng-model="auth.password">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Confirm New Password</label>
                    <input min="8" type="password" required ng-model="auth.password1">
                </md-input-container>
            </div>
            <div class="authentication-error" layout="row" ng-show="auth.error && form.$pristine" ng-bind="auth.error"></div>
            <div flex layout="row" layout-align="center">
            <md-button ng-click="auth.resetPassword()" class="md-raised">Submit</md-button>
            </div>
        </form>
    </md-content>
</div>
