<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Aditi Nath</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/AditiNath.jpg" />
            <span>Aditi</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>Hey! Did my B.E in Information Science. Currently working as a data analyst. </p>
              <p>I like to game and Reddit. Intend to become a famous game developer one day and get my name in the IEEE Spectrum.</p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
