<div class="container-fluid">
<div class="jumbotron" style="background-color:rgba(3,3,1,0.4);">
	
		<h1><b>Aman Dhapola</b></h1>
	
</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5" style="border-right: 3px solid #333;">
			<p>My self Aman Dhapola , a passionate coder ,a geek and  most importantly enthusiastic about learning 
			new things.
			 </p>
			
		</div>
		
		<div class="col-md-7">
			<b>Accomplishments in this research project</b>
			<br>
			<ul>
				<li>Added my self to the contributor page</li>
			</ul>
			
		</div>

		
	</div>
	
</div>