<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Angela May Xie</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/amx.png" />
            <span>Angela</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>I am a Computer Science Turing Scholar and Plan II Honors student at The University of Texas at Austin.</p>
              <p>This summer, I'll be working at IBM Austin in addition to this project.</p>
              <p>My primary interests in computer science involve machine learning, artificial intelligence, and human-computer interaction.</p>
              <p>Outside of computer science, I enjoy art, reading, music, and trivia.</p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
