<div class="row" ng-controller="HomeController as vm">


      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header text-center"><small>Ansuman Shah</small></h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-sm-3 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/ansuman.jpg" />
          </div>
          <div class="col-sm-9 col-xs-12">
            <p>
              An Architecture graduate from Indian Institute of Technology Roorkee, India.
            </p>
            <p>
                A Product Geek at heart who loves startups and likes brainstorming on new product ideas. He loves to fiddle around with the latest web/mobile technologies and currently exploring Django, Node, Ionic.

            </p>

            <p>He is really looking forward to contributing for the CrowdSource Program and would be interested to discuss on Machine learning, NLP, Computer Vision, HCI related topics you can contact him at ansumanshah@gmail.com</p>
          </div>

        </div>

        </div>
</div>
