<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
    <div class="center col-sm-12"> 
      <p>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div>
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header"><small>Archit Sharma</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/arcolife.png" />
            <span>Archit</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
	      Arduously working towards various passions, while delivering quality code, insights, good logic and occasionally, humour; Always on the lookout for exciting stuff; Up for discussions on Metaphysics, creativity, history of Science, Aliens and of course, Technology. Here at crowd-research to build the platform (backend, data engineering) and contribute to research. Click <a href="http://work.arcolife.in">here</a> for my homepage.
            </span>
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
