<div class="row text-center" ng-controller="HomeController as vm">

  <div class="row">
    <div class="center col-sm-12">
       <p>
       </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Arshiya Singh</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/arshiya.png" />
            <span>Arshiya</span>
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>I am a Computer Science major at Georgia Institute of Technology, and my concentrations are People and Systems and Architecture.</p>
              <p>This summer, I'll be a teaching assistant in a summer camp which educates kids about engineering and programming. Additionally, I am currently working on this project and I'm excited to work on all the aspects.</p>
              <p>In computer science, I am interested in human-computer interaction, software engineering, and web development.</p>
              <p>The hobbies I enjoy doing are Bollywood dance, nail art, watching old 90s/2000s shows, and travelling.</p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>