<div class="row" ng-controller="HomeController as vm">

      <!-- Header with Name -->
      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header">Damon Myers</h1>
          </div>
        </div>

        <div class="row-fluid">
          <!-- Contributor image div -->
          <div class="col-sm-2 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/damon.jpg" />
          </div>

          <!-- body of content about me -->
          <div class="col-sm-9 col-xs-12">
            <p>
              Damon is an undergraduate student at the University of Texas of the Permian Basin, pursuing a Bachelor's of Science in Computer Science with a Minor in Mathematics. He also works as the GIS Developer for the City of Odessa, Texas, building web mapping applications and managing databases for the cities Geographic Information System. His research interests include Machine Learning, Distributed Systems, and Human-Computer Interaction. 
            </p>
            <!-- Contact info -->
            <p>If you have any questions or want to chat, feel free to contact me! I can be found on: <br /> <a href="https://www.facebook.com/damon.myers">Facebook</a>, <a href="https://github.com/Damon-Myers">Github</a>, <a href="https://www.linkedin.com/in/myersdamon">LinkedIn</a>, or <a href="https://crowdresearch.slack.com/">Slack</a>!
            </p>
          </div>

        </div>

        </div>
</div>