<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Hiroshi Kuwajima</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/hiroshi.jpg" />
          </div>
          <div class="col-sm-9 col-xs-6">
            <blockquote>
                <p><strong>Hiroshi</strong> <<a href="mailto:kuwajima@gmail.com">kuwajima@gmail.com</a>> is a Visiting Researcher in Stanford University. He is originally from a Japanese automotive supplier DENSO CORPORATION.</p>
            </blockquote>
            
            <blockquote>
                <a href="http://facebook.com/kuwajima" target="_blank" class="pull-left">Facebook</a>
                <br />
            </blockquote>
            
            <blockquote>
                <a href="https://www.linkedin.com/in/kuwajima/" target="_blank" class="pull-left">LinkedIn</a>
                <br />
            </blockquote>
            
            <blockquote>
                <a href="https://github.com/kuwajima" target="_blank" class="pull-left">GitHub</a>
                <br />
            </blockquote>
            <br />
            <br />
            <br />
            <p> He currently lives at Menlo Park, CA.</p>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
