<div class="row text-center" ng-controller="HomeController as vm">

        <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header"><small>Milestone 1 Contributors</small></h1>
                    </div>
                </div>
        <div class="row">
         <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/msb">
                <img class="thumbnail img-responsive" src="/static/images/contributors/msb-hoover-200.jpg" />
                <span>Michael Bernstein</span>
            </a>
          </div>

         <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/Rajan">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Rajan</span>
            </a>
          </div>

           <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/geza">
              <img class="thumbnail img-responsive" src="/static/images/contributors/geza.png" />
              <span>Geza Kovacs</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/rohit">
              <img class="thumbnail img-responsive" src="/static/images/contributors/rohit.jpg" />
              <span>Rohit</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/durim">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Durim</span>
            </a>
          </div>

            <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/elsa">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Elsa</span>
            </a>
          </div>
          </div>
 		<div class="row">

            <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/christopher">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Christopher</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/kristiono">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Kristiono</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/gaby">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Gaby</span>
            </a>
          </div>

         <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/achal">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Achal</span>
            </a>
          </div>

            <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/amx">
              <img class="thumbnail img-responsive" src="/static/images/contributors/amx.png" />
              <span>Angela May Xie</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/aneesha">
              <img class="thumbnail img-responsive" src="/static/images/contributors/aneesha.jpg" />
              <span>Aneesha Kommineni</span>
            </a>
          </div>
		</div>
      <div class="row">
          <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/shirish">
              <img class="thumbnail img-responsive" src="/static/images/contributors/shirish.jpg" />
              <span>Shirish</span>
             </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/ard">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Akshay R D</span>
              </a>
          </div>

           <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/sean">
              <img class="thumbnail img-responsive" src="/static/images/contributors/sean.jpg" />
              <span>Sean Kirmani</span>
              </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/karan">
              <img class="thumbnail img-responsive" src="/static/images/contributors/karan.jpg" />
              <span>Karan Rajpal</span>
              </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/leek">
              <img class="thumbnail img-responsive" src="/static/images/contributors/leek.jpg" />
              <span>Kirsten Lee</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/ansuman">
              <img class="thumbnail img-responsive" src="/static/images/contributors/ansuman.jpg" />
              <span>Ansuman Shah</span>
            </a>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/vaidehi">
              <img class="thumbnail img-responsive" src="/static/images/contributors/vaidehi.jpg" />
              <span>Vaidehi Thete</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/jason">
              <img class="thumbnail img-responsive" src="/static/images/contributors/jason.jpg" />
              <span>Jason Ou</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/lucamatsumoto">
              <img class="thumbnail img-responsive" src="/static/images/contributors/lucamatsumoto.jpg" />
              <span>Luca Matsumoto</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/arcolife">
              <img class="thumbnail img-responsive" src="/static/images/contributors/arcolife.png" />
              <span>Archit Sharma</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/AditiNath">
              <img class="thumbnail img-responsive" src="/static/images/contributors/AditiNath.jpg" />
              <span>Aditi Nath</span>
            </a>
          </div>

       <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/Milstein">
              <img class="thumbnail img-responsive" src="/static/images/contributors/milstein.png" />
              <span>Milson Munakami</span>
            </a>
          </div>
</div>
      <div class="row">
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/radhika">
              <img class="thumbnail img-responsive" src="/static/images/contributors/radhika.jpg" />
              <span>Radhika Bhanu</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/bmoix">
              <img class="thumbnail img-responsive" src="/static/images/contributors/bmoix.jpg" />
              <span>Bernat Moix</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/vineet">
              <img class="thumbnail img-responsive" src="/static/images/contributors/vineet.jpg" />
              <span>Vineet Sethia</span>
            </a>
          </div>

		  <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/rcompton">
              <img class="thumbnail img-responsive" src="/static/images/contributors/rcompton.jpg" />
              <span>Ryan Compton</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/hiroshi">
              <img class="thumbnail img-responsive" src="/static/images/contributors/hiroshi.jpg" />
              <span>Hiroshi Kuwajima</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/damon">
              <img class="thumbnail img-responsive" src="/static/images/contributors/damon.jpg" />
              <span>Damon Myers</span>
            </a>
          </div>

          </div>
          <div class="row">
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/sangm">
              <img class="thumbnail img-responsive" src="/static/images/contributors/sangm.jpg" />
              <span>Sang Mercado</span>
            </a>
          </div>
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/AmitRakesh">
              <img class="thumbnail img-responsive" src="/static/images/contributors/AmitRakesh.jpg" />
              <span>Amit Rakesh</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/ramachandracn">
              <img class="thumbnail img-responsive" src="/static/images/contributors/ramachandracn.jpg" />
              <span>Ramachandra C N</span>
            </a>
          </div>

		<div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/saviaga">
              <img class="thumbnail img-responsive" src="/static/images/contributors/saviaga.jpg" />
              <span>Claudia Flores Saviaga</span>
            </a>
          </div>


          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/niraj">
              <img class="thumbnail img-responsive" src="/static/images/contributors/niraj.jpg" />
              <span>Niraj Pant</span>
            </a>
          </div>

		  <div class="col-sm-2 col-xs-4 thumb">
             <a class="contributor-thumb" href="/contributors/abhinav">
              <img class="thumbnail img-responsive" src="/static/images/contributors/abhinav.jpg" />
              <span>Abhinav Kulkarni</span>
            </a>
          </div>
          </div>
       <div class="row">
           <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/ucerron">
              <img class="thumbnail img-responsive" src="/static/images/contributors/ucerron.jpg" />
              <span>Uwe Cerron</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/KajalGupta">
              <img class="thumbnail img-responsive" src="/static/images/contributors/KajalGupta.jpg" />
              <span>Kajal Gupta</span>
            </a>
          </div>

      	<div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/Pabitra">
              <img class="thumbnail img-responsive" src="/static/images/contributors/Pabitra.jpg" />
              <span>Pabitra Pati</span>
            </a>
         </div>
          <div class="col-sm-2 col-xs-4 thumb">
          <a class="contributor-thumb" href="/contributors/pitkofsky">
            <img class="thumbnail img-responsive" src="/static/images/contributors/pitkofsky.jpg" />
            <span>Josh Pitkofsky</span>
          </a>
        </div>

        <div class="col-sm-2 col-xs-4 thumb">
          <a class="contributor-thumb" href="/contributors/paresh">
            <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
            <span>Paresh</span>
          </a>
        </div>

         <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/narwal">
              <img class="thumbnail img-responsive" src="/static/images/contributors/narwal.jpg" />
              <span>Vishwajeet Narwal</span>
              </a>
          </div>
		</div>
       <div class="row">
          <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/ankita2992">
              <img class="thumbnail img-responsive" src="/static/images/contributors/Ankita.jpg" />
              <span>Ankita Sastry</span>
              </a>
          </div>

           <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/savage">
              <img class="thumbnail img-responsive" src="/static/images/contributors/savage.jpg" />
              <span>Saiph Savage</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/mistercruz">
              <img class="thumbnail img-responsive" src="/static/images/contributors/mistercruz.jpg" />
              <span>Rolando Cruz</span>
            </a>
          </div>
           <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/pemmasani">
              <img class="thumbnail img-responsive" src="/static/images/contributors/pemmasani.jpg" />
              <span>Radhakrishna Pemmasani</span>
            </a>
          </div>
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/arshiya">
              <img class="thumbnail img-responsive" src="/static/images/contributors/arshiya.png" />
              <span>Arshiya Singh</span>
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
           <a class="contributor-thumb" href="/contributors/vivekvinodh">
             <img class="thumbnail img-responsive" src="/static/images/contributors/vivekvinodh.jpg" />
             <span>Vivek Vinodh</span>
           </a>
         </div>
      </div>
       <div class="row">
       <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/kevin">
              <img class="thumbnail img-responsive" src="/static/images/contributors/kevin.jpg" />
              <span>Kevin Le</span>

              </a>
          </div>
           <div class="col-sm-2 col-xs-4 thumb">
               <a class="contributor-thumb" href="/contributors/vipul">
                   <img class="thumbnail img-responsive" src="/static/images/contributors/vipul.jpg" />
                   <span>Vipul Bhopal</span>

               </a>
           </div>
           <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/khushali">
              <img class="thumbnail img-responsive" src="/static/images/contributors/khushali.png" />
              <span>Khushali Desai</span> 
            </a>
          </div>
          <div class="col-sm-2 col-xs-4 thumb">
			<a class="contributor-thumb" href="/contributors/riyakothari">
			<img class="thumbnail img-responsive" src="/static/images/contributors/riya.jpeg" />
			<span>Riya Kothari</span>
			</a>
	  	</div>
        <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/balaca">
              <img class="thumbnail img-responsive" src="/static/images/contributors/balaca.jpg" />
              <span>Balachandar</span> 
            </a>
        </div>
           <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/jeerel">
              <img class="thumbnail img-responsive" src="/static/images/contributors/jeerel.jpg" />
              <span>Jeerel Herrejon</span>
            </a>
          </div>
	</div>
  <div class="row">
	<div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/aditimithal">
              <img class="thumbnail img-responsive" src="/static/images/contributors/aditimithal.jpg" />
              <span>Aditi Mithal</span>
            </a>
          </div>

      <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/niab">
              <img class="thumbnail img-responsive" src="/static/images/contributors/niab.jpg" />
              <span>Niki Abolhassani</span>
            </a>
          </div>
      <div class="col-sm-2 col-xs-4 thumb">
        <a class="contributor-thumb" href="/contributors/aginzberg">
          <img class="thumbnail img-responsive" src="/static/images/contributors/aginzberg.jpg" />
          <span>Adam Ginzberg</span> 
        </a>
      </div>
       <div class="col-sm-2 col-xs-4 thumb">
        <a class="contributor-thumb" href="/contributors/xiaoran">
          <img class="thumbnail img-responsive" src="/static/images/contributors/xiaoran.jpg" />
          <span>Li Xiaoran</span> 
        </a>
      </div>
    </div>
    </div>
   </div>
 </div>
