<div class="row text-center" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-xs-12">

            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header">
                            <small>Contributors</small>
                        </h1>
                    </div>
                </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/Michael">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Michael</span> 
            </a>
          </div>
          
         <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/Rajan">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Rajan</span> 
            </a>
          </div>
          
             <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/Geza">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Geza</span> 
            </a>
          </div>
          
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/rohit">
              <img class="thumbnail img-responsive" src="/static/images/contributors/rohit.jpg" />
              <span>Rohit</span> 
            </a>
          </div>
          
     

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/durim">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Durim</span> 
            </a>
          </div>
          
            <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/elsa">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Elsa</span> 
            </a>
          </div>
          
            <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/christopher">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Christopher</span> 
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/kristiono">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Kristiono</span> 
            </a>
          </div>
          
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/gaby">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Gaby</span> 
            </a>
          </div>
          
             <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/achal">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Achal</span> 
            </a>
          </div>
         
            <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/amx">
              <img class="thumbnail img-responsive" src="/static/images/contributors/amx.png" />
              <span>Angela May Xie</span> 
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/aneesha">
              <img class="thumbnail img-responsive" src="/static/images/contributors/aneesha.jpg" />
              <span>Aneesha Kommineni</span> 
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/anirudh">
              <img class="thumbnail img-responsive" src="/static/images/contributors/anirudh.jpg" />
              <span>Anirudh Kashi</span> 
            </a>
          </div>

 		  <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/shirish">
              <img class="thumbnail img-responsive" src="/static/images/contributors/shirish.jpg"/>
              <span>Shirish</span>
             </a>
          </div>
                
          <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/ard">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Akshay R D</span> 
              </a>
          </div>
          
           <div class="col-sm-2 col-xs-4 thumb">
              <a class="contributor-thumb" href="/contributors/sean">
              <img class="thumbnail img-responsive" src="/static/images/contributors/sean.jpg" />
              <span>Sean Kirmani</span> 
              </a>
          </div>
 
         </div>

    </div>
  </div>
</div>
