<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   	This project has been made possible by the efforts of these contributors.
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Contributors</small></h1>
          </div>
        </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/rohit">
              <img class="thumbnail img-responsive" src="/static/images/contributors/rohit.jpg" />
              <span>Rohit</span> 
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/neil">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Neil</span> 
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/durim">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Durim</span> 
            </a>
          </div>

          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/kris">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Kris</span> 
            </a>
          </div>
          
          <div class="col-sm-2 col-xs-4 thumb">
            <a class="contributor-thumb" href="/contributors/gaby">
              <img class="thumbnail img-responsive" src="/static/images/contributors/default.png" />
              <span>Gaby</span> 
            </a>
          </div>

         </div>

    </div>
  </div>
</div>