<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Jason Ou</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/jason.jpg" />
            <span>Jason Ou</span>
          </div>
          <div class="col-sm-9 col-xs-6">
            <blockquote>
                Jason is a sophomore at University of California, Santa Cruz, pursuing a Bachelors of Science in Computer Science and a minor in Technology and Information Management.
            </blockquote>
            
            <blockquote>
                <a href="http://jasonou.github.io/" target="_blank" class="pull-left">Personal Website</a>
                <br />
            </blockquote>
            
            <blockquote>
                <a href="https://www.linkedin.com/in/jasonoucs/" target="_blank" class="pull-left">LinkedIn</a>
                <br />
            </blockquote>
            
            <blockquote>
                <a href="https://github.com/jasonou" target="_blank" class="pull-left">GitHub</a>
                <br />
            </blockquote>
            <br />
            <br />
            <br />
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
