 <div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Karan Rajpal</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/karan.jpg" />
            <span>Karan</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              Karan loves to make things work, and make it look good while he's at it. He likes JavaScript, UI/UX, and the insanely cool things that are possible with the Internet, crowdsourcing being one of them. I would love to be involved with research related to how we can make this platform more conducive to quality work where trust can be generated.
            </span>
            <br />
            <br />
            <p>Contact him at karanrajpal001@gmail.com</p>
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
