 <div class="row" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Karan Rajpal</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/karan.jpg" />
          </div>
          <div class="col-sm-9 col-xs-6">
            <p>
              Hello, I love to make things work, and make it look good while I'm at it. I like JavaScript, UI/UX, and the insanely cool things that are possible with the Internet, crowdsourcing being one of them. I would love to be involved with research related to how we can make this platform more conducive to quality work where trust can be generated.
            </p>
            <br />
            <br />
            <p>Contact me at karanrajpal001@gmail.com or on <a href="http://twitter.com/karanrajpal_">twitter.com/karanrajpal_</a></p>
            <br />
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
