<div class="col-lg-11">
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="/static/images/contributors/khushali.jpg" alt="khushali">	
		</div>

		<div class="col-md-8">
			  	<h3>Desai Khushali Y</h3>
			  	
				<br>
			  	<p>Hi, I'm Khushali and I'm Graduate Student in Computer Engineering at San Jose State University</p> 
			  	<p>I love learning new technologies. I like web development, mobile development. </p>
			  	<br> 
			  	<p>Email : khushali.desai9@gmail.com <br> Github : <a href="http://github.com/khushali9">khushali</a></p>
		</div>
	</div>
</div>