<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Kirsten Lee</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/leek.jpg" />
            <span>Kirsten</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              Kirsten is a fourth year Computer Engineering student at The University of Texas at Austin and is interning at Google this summer.  In her free time, she enjoys reading and discovering new books on Goodreads so she can read yet more things.
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
