<div class="row" ng-controller="HomeController as vm">


      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header text-center"><small>Luca Matsumoto</small></h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-sm-3 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/lucamatsumoto.jpg" />
            <span>Luca Matsumoto</span> 
          </div>
          <div class="col-sm-9 col-xs-12">
            <p>
              I am a rising senior at Wilcox High School in Santa Clara. My main hobbies in high school include playing tennis and karate as well as participating in various volunteering activities. In college, I would like to study human computer interaction. This is an extremely fortunate opportunity for me to develop before heading off to college.
              

              Contact me at : lucamatsumoto@gmail.com

            </p>

          </div>

        </div>

        </div>
</div>
