<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Rolando Cruz</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/mistercruz.jpg" />
            <span>Rolando Cruz</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>Rolando Cruz is a 16 year old entrepreneur and hacker - he is a member & Software Engineer at BASE (http://base.codes). He is currently a Junior at San Marin High School. Out of school he likes to play soccer and travel.</p>
              <p>Rolando works with Swift, Python, Ruby, HTML/CSS, Javascript, and PHP mainly. One of Rolando's newest projects is Pearl (http://pearlapp.org) - an app that allows people to take a picture of any given text and the app gives them a summarization/main points about it (More info on the website). </p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
