<div class="row" ng-controller="HomeController as vm">


      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header text-center"><small>Vishwajeet Narwal</small></h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-sm-3 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/narwal.jpg" />
            <span>Vishwajeet Narwal</span> 
          </div>
          <div class="col-sm-9 col-xs-12">
            <p>
              Vishwajeet Narwal is a Undergrad. student from Dept. of Computer Science and Engineering, LNMIIT, Jaipur.
              His primary Interest lies in Applied Machine Learning and Artificial Intelligence.
              <br>In summer,2014, He worked as research intern at NIT Kurukshetra under Dr Mahesh Pal on applications of sparse learning algorithms in field of remote sensing. Some of the algorithms investigated during this work includes ELM, Sparse ELM, Sparse Bayesian ELM, multiclass RUM, Probabilistic vector Machines, L2DWK ensembles, HERF etc. He also worked on incorporating Particle Swarm Optimisation to tune kernel parameters and regularisation constant of  Sparse kernelled ELM.<br>
              Apart from Machine Learning, He has significant work experience in DIP, especially in Interpolation and noise removal algorithms.<br>
              He is currently associated with Clarity Lab at University of Michigan, Ann Arbor for development of Sirius, an Open source Intelligent Personal Assistant.<br>
              Crowd Sourcing is one of the solution to a major problem in Machine Learning i.e : lack of labelled data. He would like to improve Data Models of this project and will like to work on task specific features. For example : getting GPS coordintes automatically during ground truth collection task(Remote Sensing).

              Contact him at : vnarwal95@gmail.com

            </p>

          </div>

        </div>

        </div>
</div>
