<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Pabitra Pati</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/Pabitra.jpg" />
            <span>Pabitra</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>Hello everybody... I love to learn new things.  Playing with Python gives me great pleasure. </p>
              <p>I wish to be a geek with great coding knowledge so that I can solve any kind of problem :). I hope, I would be able to fulfil all these wishes one day...</p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
