<div class="row" ng-controller="HomeController as vm">
<div>
        <center><h3>Paresh Shrivastav </h3></center>
<p>I am a graduate in Information Technology from India,I like to work on web and data
              analysis,I had participated in this program to improve my technical skills and also
              to learn how such big system work.
  </p>            <br><br>
              <a href="https://github.com/Paresh18" >Github</a>.
              <p>Contact me: paresh.shrivastava.jiit@gmail.com</p>


</div>