<div class="row text-center" ng-controller="HomeController as vm">
	<div class="row">
		<div class="center col-sm-12"> 
			<p>
			</p>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12" ng-if="account">

    <div>
        <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><small>Phiju Basumatary</small></h1>
			</div>
		</div>

        <div class="row">
			<div class="col-sm-3 col-xs-6">
				<img class="thumbnail img-responsive" src="/static/images/contributors/phiju.jpg" />
				<span>Phiju</span> 
			</div>
			<div class="col-sm-9 col-xs-6">
			<span>
				<b>Hello Everyone!</b><br />My name is <b>Phiju Basumatary</b>. I really like the ideas of Crowdresearch program. My hobbies are making Websites and playing Dota 2. 
			</span>
            <br />
			<p>
            <b>Email id</b>: phijubasumatary@gmail.com
			</p>			
            <br />
            <blockquote>
            </blockquote>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>