<link rel="stylesheet" href="http://radhikabhanu.in/home/assets/css/font-awesome.min.css">

<body style="display: block;">


    <div class="container">
    	<div class="front">
    	<div class="col-lg-6 col-lg-offset-3">
    	
    		<!-- ===== vCard Navigation ===== -->
    		<div class="row w">
    			<div class="col-md-4">
    				<img class="img-responsive" src="https://lh3.googleusercontent.com/-XEtJ3ncHBqw/UOldOCWKz_I/AAAAAAAABEk/b5xkQyiNaro/w280-h280-p/meruch.jpg" alt="">
					<ul class="nav nav-tabs nav-stacked" id="myTab">
					  <li class="tab active" data-id="0"><a href="#about">About</a></li>
					  <li class=""><a href="#contact" class="tab" data-id="3">Contact</a></li>
					</ul>    			
				</div><!-- col-md-4 -->

    		<!-- ===== vCard Content ===== -->
    			<div class="col-md-8">
	    			<div class="tab-content">
	    			
	    			  <!-- ===== First Tab ===== -->
					  <div class="tab-pane active" id="about">
					  	<h3>Radhika Bhanu K</h3>
					  	<h5>UI Developer</h5>
					  	<div style='width: 100%; height: 2px; background-color: #666;margin-bottom::10px;'></div>
						  	<br>
					  	<p>Hi, I'm Radhika and I'm a UI Engineer at InMobi.</p> 
					  	<p>I love learning and experimenting with new technologies. I also like reading about things I haven't ventured to before! I've recently gained an interest in HCI, and am looking forward to doing some good work in the area! :)</p>
					  	<!-- <p class="pull-right red"><i class="icon-heart"></i></p> -->
					  </div><!-- tab about -->
					  
	    			  <!-- ===== Second Tab ===== -->
					  <div class="tab-pane" id="profile">
					  	<h4><i class="icon-briefcase"></i> Job Experience</h4>
					  	<p class="sm">
					  		<a href="inmobi.com"><grey>InMobi</grey></a> | Aug 2014 - Present.<br>
					  		<!-- <grey>Other Corp.</grey> | January 2011 - May 2013. --><br>
					  	</p>
					  
						  <h4><i class="icon-file-text-alt"></i> Education</h4>
					  	<p class="sm">
					  		<grey>Bachelor of Engineering</grey> | PESIT-BSC.<br>
					  		<grey>High School</grey> | National Public School, Indiranagar.<br>
					  	</p>
					  	
						  <h4><i class="icon-trophy"></i> Awards</h4>
					  	<p class="sm">
					  		<grey>Entrepreneural Idea Award</grey> | ICICI Trinity<br>
					  		<grey>Elite Student Award</grey> | 2012.<br>
					  	</p>
					  </div><!-- Tab Profile -->
					  
	    			 
					  
	    			  <!-- ===== Fourth Tab ===== -->
					  <div class="tab-pane" id="contact">
						  <h4>Contact Information</h4>
						  <div style='width: 100%; height: 2px; background-color: #666;margin-bottom::10px;'></div>
						  	<br>
						  <div class="row">
							  <div class="col-xs-12">
								  <p class="sm">
								  	<a style="color:black;"<i class="icon-globe"></i> - radhikabhanu.in </a><br>
									<i class="icon-envelope"></i> - radhika.bhanu@gmail.com  
								  </p>
							  </div><!-- col-xs-6 -->
							  
							  <div class="col-xs-12">
								  <p class="sm">
								  	<i class="icon-phone"></i> - +91 9916541036 <br>
									<a style="color:black;"><i class="icon-github"></i> - github.com/radhikabhanu </a>
								  </p>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
						  
						  <h4>Social Links</h4>
						  <div style='width: 100%; height: 2px; background-color: #666;margin-bottom::10px;'></div>
						  	<br>
						  <div class="row">
							  <div class="col-xs-12">
								  <p class="sm">
								  	<a style="color:black;" href="http://facebook.com/radhika.bhanu"<i class="icon-facebook"></i> - radhika.bhanu </a><br> 
								  </p>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
					  </div><!-- Tab Contact -->
					  
					</div><!-- Tab Content -->
    			</div><!-- col-md-8 -->
    		</div><!-- row w -->
    	</div><!-- col-lg-6 -->
    </div> <!--front -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script>
	$('#myTab a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	})	
	</script>  