<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
    <div class="center col-sm-12"> 
      <p>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div>
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header"><small>Rashmi Puttur</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/rashmi.jpg" />
          
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
	              I am a computer science graduate student at University of Southern California. 
                The area of HCI interests me and I am looking forward to learn from this reasearch program.
            </span>
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
