 <div class="row" ng-controller="HomeController as vm">
  <div class="row">
    <div class="col1">
      <div>
        <div class="row">
          <div class="col2">
            <h1 >Riya Kothari</h1>
          </div>
        </div>
        <div class="row">
          <div class="col3">
            <img src="/static/images/contributors/riya.jpg" />
          </div>
          <div class="col4">
            <p>
              Hello!! I am Riya Kothari currently enrolled in undergraduate programme , interested in learning and toying with new technologies. I am really looking forward to contribute in this program.
            </p>
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
