<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Sean Kirmani</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/sean.jpg" />
            <span>Sean</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
              <span>
                <p>Hey, nice to meet you!</p>
                <p>I'm <strong>Sean Kirmani</strong> <<a href="mailto:sean@kirmani.io">sean@kirmani.io</a>>, a programmer, designer, student, and mad scientist. I'm 20 years old - that's <span id="age"></span> days to be exact!</p>
                <p><strong>I'm going to be a third-year <a href="http://www.ece.utexas.edu/">Electrical and Computer Engineering</a> student at <a href="http://utexas.edu/">The University of Texas at Austin</a>. I'm also interning at Google this summer!</strong></p>
                <p>I'm a research assistant for the <a href="http://ideal.ece.utexas.edu/">Intelligent Data Exploration and Analysis Laboratory (IDEAL)</a>. My group focuses on machine learning and data mining. I'm also a crowd researcher for this project! I enjoy working on "mad science" - projects that make people say, "Whoa! I didn't know that was possible!". A summary of my technical interests are below:</p>
                <ul>
                    <li>Machine Learning</li>
                    <li>Neural Networks and Deep Learning</li>
                    <li>Data Mining and Data Science</li>
                    <li>Natural Language Processing</li>
                    <li>Computer Vision</li>
                    <li>Information Retrieval</li>
                </ul>
                <p>I also like science, technology, tennis, travel, reading, movies, music, and Rubik's cubes.</p>
                <p>My <a href="http://kirmani.io/resume/">resume</a> is available if you want to be all, like, formal and stuff, dude.</p>
                   
                <p>I currently live in Mountain View, CA.</p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
  <script>
    var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
    var firstDate = new Date(1995,03,01);
    var secondDate = new Date();

    var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
    document.getElementById('age').innerHTML = diffDays;
  </script>
</div>
