<div class="row" ng-controller="HomeController as vm">


      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header text-center"><small>Shirish Goyal</small></h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-sm-3 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/shirish.jpg" />
          </div>
          <div class="col-sm-9 col-xs-12">
            <p>
              Shirish is a computer science graduate from India with exposure to full-stack development. He loves exploring new tech ideas and loves reading about electronics, biology, neurology and learning methodologies.
              </p>
              <p>
              He is super-excited about CrowdResearch project and how it will help unfold some of the insights in the freelancers' world, build a new and radical platform to utilize these insights and become a channel to providing access to jobs in future.
            </p>

            <p>Contact him at shirish.goyal@gmail.com</p>
          </div>

        </div>

        </div>
</div>
