<div class="row" ng-controller="HomeController as vm">
	<div>
		<div class="row-fluid">
			<div class="col-xs-12">
				<h1 class="page-header text-center">
					<small>SHIVANGI BANSAL</small>
				</h1>
			</div>
		</div>

		<div class="row-fluid">
			<div class="col-sm-3 col-xs-12 text-center">
				<img class="thumbnail img-responsive center-block" src="/static/images/contributors/shivangibansal.jpg" />
			</div>
			<div class="col-sm-9 col-xs-12">
				<p>
					I am a Computer Science Graduate student at University of Southern California.
					You can contact me at : shivangibansal92@gmail.com
				</p>
			</div>
		</div>
	</div>
</div>

