<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Suvansh Sanjeev</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/suvansh.jpg" />
            <span>Suvansh</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              <p>My name is Suvansh Sanjeev, and I joined this project in order to gain more experience in human computer interaction to fuel my interest in computer science. I have used and am familiar with C++ and Java.</p>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>
