<div class="row" ng-controller="HomeController as vm">


      <div>
        <div class="row-fluid">
          <div class="col-xs-12">
              <h1 class="page-header text-center"><small>Uwe Cerron</small></h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-sm-3 col-xs-12 text-center">
            <img class="thumbnail img-responsive center-block" src="/static/images/contributors/ucerron.jpg" />
          </div>
          <div class="col-sm-9 col-xs-12">
            <p> Hey! This is Uwe.</p>
              <p>
              I am a software engineer focused on machine learning and low latency systems. I have built software ranging from web and mobile applications to <a href="syberianfund.com/15-Performance.html">Low Latency Trading Systems</a>. I implemented a decentralized banking System called 
              <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=decentral%20bank">Decentral Bank</a>. I am super interested in open governance systems implemented with Bitcoin or Ethereum's blockchain and the micro equity platforms that can be built.
            </p>

            <p>Contact him at uwecerron@gmail.com</p>
          </div>

        </div>

        </div>
</div>
