<div class="row text-center" ng-controller="HomeController as vm">
  
  <div class="row">
  	<div class="center col-sm-12"> 
  	   <p>
  	   </p>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-if="account">

      <div>
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header"><small>Vineet Sethia</small></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <img class="thumbnail img-responsive" src="/static/images/contributors/vineet.jpg" />
            <span>Vineet</span> 
          </div>
          <div class="col-sm-9 col-xs-6">
            <span>
              Vineet Sethia is an undergrad student of CSE at NIT Surat,India.He is the member of various student chapters & organizations like Google Developer Group (GDG),Firefox Student Ambassadors,Association For Computing Machinary (ACM).His primary interest lies in Artificial Intelligence,Information Security,Networking,Algorithms & Web Development.Recently,He joined the Stanford HCI CrowdSource Research Program.He likes reading,playing chess,listening music & exploring new places.<br><br>Contact him at:<i>vineetsethia3@gmail.com</i>
            </span>
            <br />
            <br />
            <br />
            <blockquote>
            </blockquote>
          </div>

        </div>

        </div>
    </div>
  </div>
</div>