<div class="row" ng-controller="HomeController as vm">


    <div>
        <div class="row-fluid">
            <div class="col-xs-12">
                <h1 class="page-header text-center">
                    <small>Vipul Bhopal</small>
                </h1>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-sm-3 col-xs-12 text-center">
                <img class="thumbnail img-responsive center-block" src="/static/images/contributors/vipul.jpg"/>
            </div>
            <div class="col-sm-9 col-xs-12">
                <p> Hi! This is Vipul.</p>

                <p>
                    I am a software developer, focused on machine learning and automation.
                    I am currently working with <a href="http://www.wanteet.com">Wanteet inc.</a>, an exciting startup
                    involved in bespoke, demand-driven &amp; hyper-local marketplaces.
                    I have hands-on experience with various technologies including (but not limited to):
                </p>
                <ul>
                    <li>Grails</li>
                    <li>Django</li>
                    <li>Spring</li>
                    <li>ElasticSearch</li>
                    <li>NodeJS</li>
                    <li>AngularJS</li>
                </ul>
                <p>
                    I have also worked on developing mobile apps for Android & iOS ecosystems, and recently I have
                    started
                    to get my hands wet with game engines too such as Unity.

                    I am very excited to be a part of this research, as I have worked on similar domain for past 2
                    years,
                    and hope to learn more &amp; share, with this amazing team.
                </p>

                <p>
                    <a href="https://twitter.com/vipul_me">Twitter</a> |
                    <a href="http://fb.me/vipul.bhopal">Facebook</a> |
                    <a href="http://github.com/v1p">Github</a> |
                    <a href="http://in.linkedin.com/in/vipulbhopal">Linkedin</a> |
                    <a href="mailto:vbhopal@gmail.com">Email</a>
                </p>

            </div>

        </div>

    </div>
</div>
