<doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Vivek Vinodh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <header>
        <h1>Vivek Vinodh</h1>
        <p>Programmer.</p>


        <p class="view"><a href="https://github.com/vivekvinodh">View My GitHub Profile</a></p>
        <p class="view"><a href="https://github.com/vivekvinodh/vivekvinodh.github.io/blob/master/Resume.pdf?raw=true">Download my resume.</a></p>

      </header>
  </body>
</html>
